/* --------- */
/* Font Face */
/* --------- */
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/myriadpro-regular.woff) format("woff");
}

@font-face {
  font-family: "Keylol Rail Sung";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/keylol-rail-sung-subset-dd41b7e94f.eot"); /* IE9 */
  src: url("../assets/fonts/keylol-rail-sung-subset-dd41b7e94f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/keylol-rail-sung-subset-40f14bab13.woff") format("woff"), /* chrome, firefox */
  url("../assets/fonts/keylol-rail-sung-subset-38893fe6b3.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../assets/fonts/keylol-rail-sung-subset-e5bd4432f1.svg#Keylol Rail Sung") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "LiSong";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/lisong-subset-a5354fd40c.eot"); /* IE9 */
  src: url("../assets/fonts/lisong-subset-a5354fd40c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/lisong-subset-eb385badad.woff") format("woff"), /* chrome, firefox */
  url("../assets/fonts/lisong-subset-4992774865.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../assets/fonts/lisong-subset-805637911c.svg#LiSong") format("svg"); /* iOS 4.1- */
}

/* ------------------- */
/* Font Family Presets */
/* ------------------- */
.font-myriad-keylol {
  font-family: "Myriad Pro", "Keylol Rail Sung", sans-serif;
}

.font-myriad-lisong {
  font-family: "Myriad Pro", LiSong, sans-serif;
}