//colors
$keylol-theme: #159;
$keylol-light-theme: #59d;
$keylol-highlight: #89A;
$keylol-accent: #fc3;
$keylol-main-text : #444;
$keylol-light-text : #888;
$keylol-inertia-text : #bbb;
$keylol-inverted-text : #fff;
$keylol-inertia-shape: #ccc;
$keylol-background : #eee;
$keylol-card : #f5f6f7;
$keylol-libraried : #a3cf06;
$keylol-user-theme : #df9a35;
$keylol-review-terrible: #5c170f;
$keylol-review-bad: #ed1d24;
$keylol-review-not-bad: #f7943e;
$keylol-review-good: #6fb92b;
$keylol-review-awesome: #00ab4e;
$keylol-topic: #7976b1;

/* ------------------- */
/* Font Family Presets */
/* ------------------- */
.font-myriad-keylol {
  font-family: "Myriad Pro", "Keylol Rail Sung", sans-serif;
}

.font-myriad-lisong {
  font-family: "Myriad Pro", LiSong, sans-serif;
}

// font family mixins
@mixin font-myriad-keylol {
  font-family: "Myriad Pro", "Keylol Rail Sung", sans-serif;
}

@mixin font-consolas {
  font-family: "Consolas Regular", "Consolas", Arial, sans-serif;
}

// shadow
@mixin keylol-shadow-1 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

@mixin keylol-shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin keylol-shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin keylol-shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@mixin keylol-shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

// button
@mixin keylol-button {
  border: none;

  &:focus {
    outline: 0;
  }
}

@mixin keylol-button-default {
  @include keylol-button;
  padding: 10px 15px;
}

@mixin keylol-button-card {
  @include keylol-button;
  @include keylol-shadow-1;
  border-radius: 2px;
}

@mixin keylol-button-single {
  @include keylol-button-default;
  border-radius: 2px;
  font-weight: bold;
}

// text protection
@mixin text-protection ($position: bottom) {
  padding: 15px 15px;
  background: linear-gradient(to $position, rgba(#000,0), rgba(#000, .3) 67.7%, rgba(#000, .6));
}

// hover
@mixin hover-background($color: #000) {
  &:hover {
    background-color: rgba($color, 0.05);
  }
}

// one-line with ellipsis
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// common article style
// .background { height:; } span { ... }
.common-article {
  .background {
    height: 100%;
    width: 100%;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover {
      .underline {
        text-decoration: underline;
      }
    }

    .bottom-text{
      @include text-protection();

      .first-line,
      .second-line {
        position: relative;
        z-index: 2;
      }

      .first-line {
        color: $keylol-inverted-text;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 6px;
      }

      .second-line {
        color: $keylol-inverted-text;
        max-height: 40px;
        overflow: hidden;
      }
    }
  }

  &.common-article__topic {
    .bottom-text {
      padding: 15px 15px;
      background: none;
      background-color: $keylol-topic;

      .first-line {
        @include ellipsis();
      }

      .second-line {
        @include ellipsis();
      }
    }
  }
}