//colors
$keylol-theme: #159;
$keylol-light-theme: #59d;
$keylol-highlight: #89A;
$keylol-logo : #fc3;
$keylol-main-text : #444;
$keylol-light-text : #888;
$keylol-inertia-text : #bbb;
$keylol-inverted-text : #fff;
$keylol-shape-inertia : #ccc;
$keylol-background : #eee;
$keylol-card : #f5f6f7;
$keylol-libraried : #a3cf06;
$keylol-user-theme : #df9a35;
$keylol-lr-route-610 : #5c170f;
$keylol-tsuen-wan-line : #ed1d24;
$keylol-tung-chung-line : #f7943e;
$keylol-tin-shui-wai-loop : #6fb92b;
$keylol-kwun-tong-line : #00ab4e;

// font type