/* -------------------- */
/* Input Code Directive */
/* -------------------- */
input-code span {
    display: inline-block;
    position: relative;
    padding-right: 1px;
    vertical-align: bottom;
}

input-code span:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 33px;
    height: 10px;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #11254a;
    border-bottom: 1px solid #11254a;
}

input-code span:first-of-type {
    padding-left: 1px;
}

input-code span:first-of-type:before {
    border-left: 1px solid #11254a;
    left: 0;
    width: 34px;
}

input-code input[type=text].code-input-textbox {
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}