.popup-accepting {
  @include keylol-shadow-3();
  background-color: $keylol-card;
  width: 340px;

  >.head {
    background-color: $keylol-light-theme;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    >.text {
      margin-left: 15px;
      p {
        margin: 0;
      }

      p:first-of-type {
        color: $keylol-inverted-text;
        font-weight: bold;
        font-size: 20px;
      }

      p:last-of-type {
        color: rgba($keylol-inverted-text,.6);
      }
    }

    >img {
      width: 128px;
      margin-right: 40px;
    }
  }

  >.content {
    padding: 20px 15px;

    >.user-info {
      display: flex;
      align-items: center;

      .avatar {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }

      .name-group {
        p {
          margin: 0;
        }
        p:first-of-type {
          color: $keylol-main-text;
        }
        p:last-of-type {
          color: $keylol-inertia-text;
          font-size: 12px;
        }
      }
    }

    .reward {
      margin-top: 20px;
      text-align: center;

      p {
        margin: 0;
      }
      p:first-of-type {
        color: $keylol-inertia-text;
      }
      p:last-of-type {
        color: $keylol-theme;
        font-size: 20px;
      }
    }

    >p {
      margin: 15px 0;
      color: $keylol-main-text;
    }

    >.action {
      display: flex;
      justify-content: flex-end;
    }
  }
}