.popup-dropdown-selector {
  @include keylol-shadow-1();
  background-color: $keylol-card;
  width: 230px;
  z-index: 1000;
  padding-bottom: 10px;

  &.ng-enter {
    transition: opacity 100ms;
    opacity: 0;
  }

  &.ng-enter-active {
    opacity: 1;
  }

  .tip,
  .item {
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
  }

  .tip {
    color: $keylol-inertia-text;
  }

  .item {
    @include hover-background();
    color: $keylol-main-text;
  }
}