<popup class="popup-entry-filter">
    <div class="filter-container" ng-class="{'in-home': entryFilter.currPage === 'home'}">
        <div class="arrow-down"></div>
        <div class="filter-main box-shadowed-deeper">
            <button class="border-button bottom-border" ng-click="entryFilter.confirm()">过滤</button>
            <form>
                <ul>
                    <li ng-if="entryFilter.currPage === 'home'">
                        <span class="font-myriad-keylol" ng-class="{active: entryFilter.subscribeUser && entryFilter.subscribePoint && entryFilter.synchronization,part: entryFilter.subscribeUser || entryFilter.subscribePoint || entryFilter.synchronization && !(entryFilter.subscribeUser && entryFilter.subscribePoint && entryFilter.synchronization)}">简评</span><p>只显示以下来源的简评</p>
                        <div class="checkbox-group">
                            <input id="subscribe-user" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="entryFilter.subscribeUser"><label for="subscribe-user">关注用户与其认可</label>
                            <input id="subscribe-point" type="checkbox" ng-true-value="2" ng-false-value="0" ng-model="entryFilter.subscribePoint"><label for="subscribe-point">手动据点订阅</label>
                            <input id="synchronization" type="checkbox" ng-true-value="4" ng-false-value="0" ng-model="entryFilter.synchronization"><label for="synchronization">同步订阅列表</label>
                        </div>
                    </li>
                    <li ng-repeat="type in entryFilter.entryTypes track by type.name">
                        <span ng-class="{active: entryFilter.selectedIndexes[$index]}" class="font-myriad-keylol">{{type.name}}</span><!--
                        --><p>
                            <input id="{{type.name}}-show" type="radio" ng-value="true" ng-model="entryFilter.selectedIndexes[$index]"><label for="{{type.name}}-show">显示</label>
                            <input id="{{type.name}}-hide" type="radio" ng-value="false" ng-model="entryFilter.selectedIndexes[$index]"><label for="{{type.name}}-hide">隐藏</label>
                        </p>
                    </li>
                </ul>
                <div ng-if="entryFilter.currPage === 'user'" class="source">
                    <span class="font-myriad-keylol">来源</span><p>只显示以下来源的文章</p>
                    <div class="checkbox-group">
                        <input id="source-publication" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="entryFilter.sourcePublication"><label for="source-publication">发布投稿</label>
                        <input id="source-like" type="checkbox" ng-true-value="2" ng-false-value="0" ng-model="entryFilter.sourceLike"><label for="source-like">认可过的文章</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</popup>