<popup class="popup-item-editor">
    <form class="clearfix" ng-if="itemEditor.item.type === 'text' || itemEditor.item.type === 'appId'">
        <text-area type="text" state="itemEditor.textError ? 'warn' : 'normal'" error="itemEditor.textError" label="{{itemEditor.item.title}}" theme="itemEditor.theme" model="itemEditor.model"></text-area>
        <raised-button click="itemEditor.submit()" text="提交" type="theme" theme-color="itemEditor.theme.main" disabled="itemEditor.model === itemEditor.item.value || itemEditor.submitLock"></raised-button>
    </form>
    <form class="clearfix" ng-if="itemEditor.item.type === 'checkbox'">
        <input-checkbox names="itemEditor.item.names" ng-model="itemEditor.model"></input-checkbox>
        <raised-button click="itemEditor.submit()" text="提交" type="theme" theme-color="itemEditor.theme.main" disabled="itemEditor.model.length === 0 || itemEditor.submitLock"></raised-button>
    </form>
</popup>