<popup class="popup-operation-feedback" ng-class="options.type">
    <div class="feedback-content">
        <div class="right-content">
            <p class="main-text">{{options.message}}</p>
            <div class="action-content" ng-if="options.actions">
                <a class="action" ng-repeat="action in options.actions"
                   ng-click="close(action.value)" href="">>{{action.action}}</a>
            </div>
        </div>
        <div class="left-content clearfix">
            <div class="image"></div>
            <div class="title font-myriad-keylol">
                <span class="main-title">{{options.title}}</span><span class="sub-title">{{options.subtitle}}</span>
            </div>
        </div>
    </div>
</popup>