<popup class="popup-operation-panel">
    <div class="head">
        <div class="text">
            <p>{{operationPanel.operation.mainTitle}}</p>
            <p>{{operationPanel.operation.subTitle}}</p>
        </div>
        <img src="assets/images/pss-logo-accent.png" />
    </div>
    <div class="content">
        <p ng-if="operationPanel.reasons.length > 0">缘由</p>
        <input-checkbox style="margin-bottom: 20px;" ng-if="operationPanel.operation.reasonTexts.length > 0" names="operationPanel.operation.reasonTexts" ng-model="operationPanel.vm.reasons"></input-checkbox>
        <!--<text-area type="text" label="附言" model="''"></text-area>-->
        <input-checkbox names="['发送公函通知作者']" ng-model="operationPanel.vm.missive"></input-checkbox>
        <div class="action">
            <raised-button disabled="operationPanel.submitLock" click="operationPanel.submit()" text="执行" type="theme"></raised-button>
        </div>
    </div>
</popup>