.popup-point-selector {
  @include keylol-shadow-1();
  display: block;
  width: 280px;
  background-color: $keylol-card;
  z-index: 1000;

  div {
    margin: 10px 0;
    a {
      display: block;
      padding: 0 15px;

      &.selected {
        background-color: rgba(#000, .05);
      }
    }
  }
}