<popup class="popup-point-selector">
    <div class="selector-main box-shadowed-deeper">
        <ul>
            <li ng-repeat="point in pointArray track by point.Id" ng-click="selectPoint($event)" class="clearfix" ng-class="{selected: point.selected}" ng-mouseenter="changeSelector($index)">
                <div class="avatar-anchor">
                    <img class="avatar" ng-src="{{point.AvatarImage | avatarUrl:'small'}}">
                </div>
                <div class="title">
                    <p>{{utils.getPointFirstName(point) | maxLength: 15}}</p>
                    <p><span ng-if="point.Type">[{{utils.getPointType(point.Type)}}]</span>{{utils.getPointSecondName(point) | maxLength: 15}}</p>
                </div>
            </li>
        </ul>
    </div>
</popup>