.popup-search-selector {
  width: 280px;
  z-index: 999;

  .selector-main {
    @include keylol-shadow-3();
    background-color: $keylol-card;

    .default {
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        width: 128px;
        height: 128px;
        fill: $keylol-theme;
      }

      h1 {
        margin: 17px 0 0 0;
        font-size: 20px;
        font-weight: normal;
        color: $keylol-theme;
      }

      p {
        margin: 4px 0 0 0;
        color: $keylol-inertia-text;
      }
    }

    ul {
      padding: 10px 0 0;
      margin: 0;
      min-height: 275px;

      li {
        list-style: none;

        a {
          padding: 10px 15px;
          display: flex;
          align-items: center;

          point-basic-info.libraried .name-group p:first-of-type {
              color: $keylol-libraried;
          }

          &.article {
            padding: 0;
            height: 55px;
            width: 100%;

            .like-count {
              flex-shrink: 0;
              width: 55px;
              text-align: center;
              color: $keylol-light-theme;
            }

            .title {
              max-width: calc(100% - 75px);

              p {
                @include ellipsis;
                margin: 0;

                &:first-of-type {
                  color: $keylol-main-text;
                  font-weight: bold;
                }

                &:nth-of-type(2) {
                  color: $keylol-inertia-text;
                }
              }
            }
          }

          &.user {
            .avatar-anchor {
              width: 32px;
              height: 32px;
              z-index: 0;
              position: relative;
              margin-right: 10px;

              .avatar {
                width: 32px;
                height: 32px;
              }
            }

            .info {
              max-width: calc(100% - 42px);

              p {
                @include ellipsis;
                margin: 0;
                color: $keylol-inertia-text;
                font-size: 12px;

                .name {

                  &.friended {
                    color: $keylol-user-theme;
                  }
                  color: $keylol-main-text;
                  font-weight: bold;
                  font-size: 14px;
                }
              }
            }
          }

          &:hover {
            background-color: rgba(#000, 0.05);
          }
        }
      }
    }

    .search-engine {
      height: 45px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        display: flex;
        align-items: center;

        svg {
          width: 24px;
          height: 24px;
          margin-right: 12px;
          fill: $keylol-inertia-shape
        }

        &:hover {
          text-decoration: underline;

          svg {
            fill: $keylol-light-text;
          }
        }
      }
    }
  }
}