<popup class="popup-search-selector">
    <div class="selector-main">
        <tabs class="invert" invert="true" tab-array="searchSelector.filterArray" cur-tab="searchSelector.currentFilter" click-handler="searchSelector.changeFilter(index)"></tabs>
        <div class="default" ng-if="!searchSelector.resultArray && !searchSelector.notFound">
            <svg aria-hidden="true">
                <use ng-href="{{'clipart-teleporter' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <h1 class="font-myriad-keylol">传送装置已就位</h1>
            <p>输入关键字进行简易查找</p>
        </div>
        <div class="default" ng-if="!searchSelector.resultArray && searchSelector.notFound">
            <svg aria-hidden="true">
                <use ng-href="{{'clipart-hit' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <h1 class="font-myriad-keylol">未能撞到结果</h1>
            <p>输入关键字进行简易查找</p>
        </div>
        <ul class="result-list" ng-if="searchSelector.resultArray">
            <li ng-repeat="result in searchSelector.resultArray" ng-switch="searchSelector.filterType">
                <a ripple href="" ng-href="point/{{result.idCode}}" ng-switch-when="point"
                   analytics-on analytics-event="搜索据点" analytics-category="浮窗搜索" analytics-label="{{ searchSelector.options.searchText }}">
                    <point-basic-info point="result" ng-class="{libraried: result.inLibrary}"></point-basic-info>
                </a>
                <a class="article" ripple href="" ng-href="article/{{result.authorIdCode}}/{{result.sidForAuthor}}" ng-switch-when="article"
                   analytics-on analytics-event="搜索文章" analytics-category="浮窗搜索" analytics-label="{{ searchSelector.options.searchText }}">
                    <span class="like-count">+{{result.likeCount | numberAbbreviation}}</span>
                    <div class="title">
                        <p>{{result.title}}</p>
                        <p>{{result.subTitle}}</p>
                    </div>
                </a>
                <a class="user" ripple href="" ng-href="user/{{result.idCode}}" ng-switch-when="user"
                   analytics-on analytics-event="搜索用户" analytics-category="浮窗搜索" analytics-label="{{ searchSelector.options.searchText }}">
                    <div class="avatar-anchor">
                        <img-label ng-if="result.isFriend" type="friended"></img-label>
                        <img class="avatar" src="" webp-src="{{result.avatarImage | avatarUrl}}">
                    </div>
                    <div class="info">
                        <p>
                            <span class="name" ng-class="{friended: result.isFriend}">{{result.userName}}</span>
                            <span>{{result.gamerTag}}</span>
                        </p>
                        <p>{{result.articleCount}} 文章 / {{result.activityCount}} 动态 / {{result.likeCount}} 认可</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="search-engine">
            <a href="" ng-href="https://www.bing.com/search?q=site:keylol.com+{{searchSelector.options.searchText | encodeURIComponent}}"
               analytics-on analytics-event="使用必应" analytics-category="浮窗搜索" analytics-label="{{ searchSelector.options.searchText }}">
                <svg aria-hidden="true">
                    <use ng-href="{{'bing' | iconSvgUrl }}" xlink:href=""></use>
                </svg>
                <span>必应站内</span>
            </a>
            <a href="" ng-href="https://www.google.com/search?q=site:keylol.com+{{searchSelector.options.searchText | encodeURIComponent}}"
               analytics-on analytics-event="使用 Google" analytics-category="浮窗搜索" analytics-label="{{ searchSelector.options.searchText }}">
                <svg aria-hidden="true">
                    <use ng-href="{{'google' | iconSvgUrl }}" xlink:href=""></use>
                </svg>
                <span>谷歌站内</span>
            </a>
        </div>
    </div>
</popup>
