<popup class="popup-search-selector">
    <div class="selector-main">
        <tabs class="invert" invert="true" tab-array="searchSelector.filterArray" cur-tab="0"></tabs>
        <div class="default" ng-if="!searchSelector.resultArray && !searchSelector.notFound">
            <svg aria-hidden="true">
                <use ng-href="{{'clipart-teleporter' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <h1 class="font-myriad-keylol">传送装置已就位</h1>
            <p>输入关键字进行简易查找</p>
        </div>
        <div class="default" ng-if="!searchSelector.resultArray && searchSelector.notFound">
            <svg aria-hidden="true">
                <use ng-href="{{'clipart-hit' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <h1 class="font-myriad-keylol">未能撞到结果</h1>
            <p>输入关键字进行简易查找</p>
        </div>
        <ul class="result-list" ng-if="searchSelector.resultArray">
            <li ng-repeat="result in searchSelector.resultArray" class="clearfix" ng-click="searchSelector.jumpTo(result.url)">
                <div class="avatar-anchor" ng-if="filterText !== '文章'">
                    <img class="avatar" webp-src="{{result.avatar | avatarUrl}}">
                </div>
                <div class="title">
                    <p>{{result.mainTitle|maxLength:14|userName:result.isUser}}</p>
                    <p ng-if="filterText !== '文章'">
                        <span ng-if="result.type">[{{result.type}}]</span>
                        {{result.subTitle|maxLength:14}}
                    </p>
                    <p class="info" ng-if="result.articleInfo">
                        <span ng-if="result.articleInfo.acknowledgeNum">[+1] {{result.articleInfo.acknowledgeNum}}</span><!--
                        --><span ng-if="result.articleInfo.commentNum">(···) {{result.articleInfo.commentNum}}</span>
                    </p>
                </div>
            </li>
        </ul>
        <div class="search-engine">
            <a href="" ng-href="https://www.bing.com/search?q=site:keylol.com+{{searchSelector.options.searchText | encodeURIComponent}}">
                <svg aria-hidden="true">
                    <use ng-href="{{'clipart-cake' | iconSvgUrl }}" xlink:href=""></use>
                </svg>
                <span>必应站内</span>
            </a>
            <a href="" ng-href="https://www.google.com/search?q=site:keylol.com+{{searchSelector.options.searchText | encodeURIComponent}}">
                <svg aria-hidden="true">
                    <use ng-href="{{'clipart-cake' | iconSvgUrl }}" xlink:href=""></use>
                </svg>
                <span>谷歌站内</span>
            </a>
        </div>
    </div>
</popup>