.popup-search-selector {
  width: 280px;
  z-index: 999;

  .selector-main {
    @include keylol-shadow-3();
    background-color: $keylol-card;

    .default {
      height: 270px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        width: 128px;
        height: 128px;
        fill: $keylol-theme;
      }

      h1 {
        margin: 17px 0 0 0;
        font-size: 20px;
        font-weight: normal;
        color: $keylol-theme;
      }

      p {
        margin: 4px 0 0 0;
        color: $keylol-inertia-text;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      clear: both;
      height: 260px;

      li {
        list-style: none;
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
          background-color: #EEE;
        }

        .avatar-anchor {
          float: left;

          img {
            width: 32px;
            height: 32px;
          }
        }

        .title {
          float: left;
          margin-left: 14px;

          p {
            margin: 0;
            line-height: 16px;

            &:first-of-type {
              color: $keylol-theme;
              font-weight: bold;
            }

            span {
              color: #748a97;
            }

            &.info {
              height: 18px;
              width: 100%;

              span {
                margin-left: 8px;
                color: #BBB;

                &:first-of-type {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }

    .search-engine {
      height: 45px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        display: flex;
        align-items: center;

        svg {
          width: 24px;
          height: 24px;
          margin-right: 12px;
          fill: $keylol-inertia-shape
        }

        &:hover {
          text-decoration: underline;

          svg {
            fill: $keylol-light-text;
          }
        }
      }
    }
  }
}