.popup-tooltip {
  position: absolute;
  background-color: rgba(0,0,0,0.54);
  border-radius: 4px;
  line-height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  color: $keylol-inverted-text;
  z-index: 1000;

  p {
    margin: 0;
  }
}