<div class="section-action-hub box-shadowed" ng-controller="ActionHubController">
    <div class="not-logged-in" ng-if="!union.$localStorage.login">
        <a class="log-up" href="" ng-click="showRegistrationWindow()">
            <img src="assets/images/steam-logo.png">
            <h4>通过 Steam 账户</h4>
            <h3 class="font-myriad-keylol">加入其乐社区</h3>
        </a>
        <a href="" class="log-in" ng-click="showLoginSteamWindow()">已注册用户登录</a>
    </div>
    <div ng-if="union.$localStorage.login">
        <div class="actions">
            <a href="post-office" class="border-button top-border" ng-class="{active: newMessages[0] || newMessages[1] || newMessages[2]}">{{(newMessages[0] || newMessages[1] || newMessages[2])?(newMessages[0]?"+"+newMessages[0]:"")+(newMessages[1]?" ···"+newMessages[1]:"")+(newMessages[2]?" !!"+newMessages[2]:""):"O"}}</a>
        </div>
        <div class="clearfix">
            <a class="avatar-anchor" href="user/{{union.$localStorage.user.IdCode}}">
                <img class="avatar-big" webp-src="{{union.$localStorage.user.AvatarImage | avatarUrl}}" alt="{{union.$localStorage.user.UserName}}">
            </a>
            <div class="name-settings">
                <h4 class="name">
                    <a href="user/{{union.$localStorage.user.IdCode}}">{{union.$localStorage.user.UserName}}</a>
                </h4>
                <h4 class="settings-link">
                    <a href="" ng-click="showSettingsWindow()">设置 / 编辑账户</a>
                </h4>
            </div>
        </div>
        <ul class="links list-inline">
            <li>
                <h4>订阅</h4>
                <a href="/subscriptions">{{union.$localStorage.user.SubscribedPointCount}}</a>
            </li>
            <li>
                <h4>文章</h4>
                <a href="user/{{union.$localStorage.user.IdCode}}">{{union.$localStorage.user.ArticleCount}}</a>
            </li>
            <li>
                <h4>读者</h4>
                <a href="/readers">{{union.$localStorage.user.SubscriberCount}}</a>
            </li>
        </ul>
    </div>
</div>