.section-action-hub {
    width: 300px;
    height: 134px;
    background-color: white;
    padding: 12px;
    position: relative;
}

.section-action-hub .not-logged-in {
    width: 100%;
    height: 100%;
    position: relative;
}

.section-action-hub .not-logged-in button {
    position: absolute;
    bottom: 0;
}

.section-action-hub .not-logged-in .log-up {
    padding: 10px;
    display: block;
    position: absolute;
    top: calc(50% - 5px);
    width: 72%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: right;
    text-decoration: none;
}

.section-action-hub .not-logged-in .log-in {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    color: #bbb;
}

.section-action-hub .not-logged-in img {
    float: right;
    width: 46px;
    margin-left: 10px;
}

.section-action-hub .not-logged-in h4 {
    margin: 0 0 5px;
    font-weight: normal;
    line-height: 15px;
}

.section-action-hub .not-logged-in h3 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
}

.section-action-hub .not-logged-in a:hover h3 {
    text-decoration: underline;
}

.section-action-hub .name-settings {
    margin-left: 62px;
}

.section-action-hub .actions {
    position: absolute;
    right: 5px;
    top: 0;
}

.section-action-hub .actions a {
    margin-right: 10px;
    padding: 5px 10px;
}

.section-action-hub .actions a:hover {
    text-decoration: none;
}

.section-action-hub .actions a.active {
    background-color: #159;
    color: #f3d92a;
}

.section-action-hub .actions a.active:hover {
    background-color: #2966a3;
}

.section-action-hub .name-settings h4 {
    margin: 0;
    line-height: 22px;
    font-weight: normal;
}

.section-action-hub .name-settings .name {
    padding: 5px 0 0px;
    font-size: 15px;
}

.section-action-hub .name-settings .settings-link a {
    color: #333;
}

.section-action-hub .avatar-anchor {
    float: left;
}

.section-action-hub .avatar-anchor img {
    width: 48px;
    height: 48px;
}

.section-action-hub .links {
    margin-top: 16px;
    text-align: center;
}

.section-action-hub .links li {
    display: inline-block;
    text-align: center;
    width: 66px;
}

.section-action-hub .links li:not(:last-child) {
    border-right: 1px solid #CCC;
}

.section-action-hub .links h4 {
    font-weight: normal;
    margin: 0 0 6px;
}

.section-action-hub .links a {
    font-size: 17px;
    font-style: italic;
}