.section-article-header {
    background: white;
    padding: 15px 0;
    width: 100%;
    min-width: 870px;
}

.section-article-header.archive {
    padding: 20px 0;
}

.section-article-header h1 {
    margin: 0;
    padding-right: 13px;
}

.section-article-header.archive h1::after {
    background-color: #ccc;
}

.section-article-header h1 .time {
    color: #bbb;
    float: right;
    margin-left: 34px;
}

.section-article-header.archive h1 {
    color: #ccc;
}

.section-article-header h1 .entry-type {
    margin-right: 5px;
    vertical-align: top;
}

.section-article-header.archive h1 .entry-type {
    background-color: #ccc;
}

.section-article-header h1 .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 80%;
    vertical-align: top;
    margin-right: 5px;
}

.section-article-header h1 .error {
    color: #e30613;
}

.section-article-header .related-info {
    padding: 0 13px 0 8px;
    line-height: 20px;
    margin-top: 10px;
}

.section-article-header .related-info .points {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.section-article-header .related-info .actions {
    color: #ccc;
    float: right;
    margin-left: 20px;
}

.section-article-header .actions a {
    color: #89A;
    margin: 9px;
}

.section-article-header .actions > a:last-of-type {
    margin-right: 0;
}

.section-article-header .review-info {
    position: relative;
    margin: 19px 15px 0 19px;
}

.section-article-header .review-info .info-attribute {
    float: left;
    width: 480px;
}

.section-article-header .review-info .info-attribute p {
    margin: 3px 0;
    line-height: 23px;
}

.section-article-header .review-info .info-attribute .title {
    font-weight: bold;
}

.section-article-header .review-info .info-attribute a {
    color: #89A;
}

.section-article-header .review-info .divider {
    position: absolute;
    top: 0;
    left: 480px;
    height: 100%;
    background-color: #CCC;
    width: 1px;
}

.section-article-header .review-info .review-detail {
    float: right;
    width: 335px;
}

.section-article-header .review-info .review-detail .user-info .game-hours {
    float: right;
    line-height: 15px;
}

.section-article-header .review-info .review-detail .user-info point-link {
    font-weight: bold;
}

.section-article-header .review-info .review-detail .user-info .review-count {
    margin: 7px 0 20px;
    color: #BBB;
}

.section-article-header .review-info .review-detail blockquote {
    background: #fafaf9;
    word-break: break-all;
    border-left: 5px solid #159;
    padding: 10px 13px;
    margin: 0 0 20px;
}

.section-article-header .review-info .review-detail .pros-cons {
    margin: 0 14px 0 5px;
}

.section-article-header .review-info .review-detail .pros-cons ul {
    width: 128px;
    margin: 0 15px;
    display: inline-block;
    padding: 4px 0 0 0;
    vertical-align: top;
    list-style-type: none;
}

.section-article-header .review-info .review-detail .pros-cons ul li {
    padding-left: 12px;
    line-height: 24px;
    position: relative;
}

.section-article-header .review-info .review-detail .pros-cons ul li::before {
    position: absolute;
    left: 0;
    top: 12px;
    transform: translateY(-50%);
}

.section-article-header .review-info .review-detail .pros-cons .pros {
    border-top: 2px solid #00ab4e;
    color: #00ab4e;
}

.section-article-header .review-info .review-detail .pros-cons .pros li::before {
    content: "+";
}

.section-article-header .review-info .review-detail .pros-cons .cons {
    border-top: 2px solid #e30613;
    color: #e30613;
}

.section-article-header .review-info .review-detail .pros-cons .cons li::before {
    content: "-";
}