.section-article-content {
    background: white;
    padding: 26px 26px 18px;
    width: 100%;
    min-width: 300px;
}

.section-article-content.archive {
    padding: 0;
}

.section-article-content .editor-style.is-short {
    white-space: pre-wrap;
}

.section-article-content .share-actions {
    text-align: center;
    padding: 20px 0 2px;
}

.section-article-content .share-actions p {
    margin: 0;
    font-weight: bold;
    font-size: 17px;
    color: $keylol-main;
}

.section-article-content .share-actions a {
    color: $keylol-highlight;
}

.section-article-content.archive h1,
.section-article-content.archive h3 {
    margin: 0;
    font-weight: normal;
}

.section-article-content.archive h1 {
    font-size: 24px;
}

.section-article-content.archive h3 {
    font-size: 13px;
}

.section-article-content .archive-left {
    vertical-align: middle;
    display: inline-block;
    padding: 20px 17px;
    width: 344px;
}

.section-article-content .archive-left h1 {
    color: $keylol-main;
}

.section-article-content .archive-middle {
    vertical-align: middle;
    display: inline-block;
    border-right: $keylol-main 57px solid;
    border-bottom: $keylol-main 43px solid;
    border-left: transparent 57px solid;
    border-top: transparent 43px solid;
}

.section-article-content .archive-right {
    vertical-align: middle;
    display: inline-block;
    padding: 11px 17px;
    background-color: $keylol-main;
    width: 344px;
    text-align: right;
    color: #fff;
}

.section-article-content .archive-right img {
    float: right;
    width: 64px;
    padding-left: 10px;
}

.section-article-content .archive-right h1 {
    margin-top: 8px;
}