<div class="section-article-review box-shadowed clearfix" webp-background="{{point.BackgroundImage|reviewBackgroundUrl}}" ng-controller="ArticleReviewController">
    <div class="review-detail">
        <div class="user-info" ng-if="summary.idCode">
            <div class="info-details">
                <point-link type="'user'" avatar-url="summary.avatar" id-code="summary.idCode"></point-link>
                <div class="title">
                    <p>
                        <point-link type="'user'" point-name="summary.userName" id-code="summary.idCode"></point-link>
                        <span>{{summary.head.subHead}}</span>
                    </p>
                    <p class="review-count">{{summary.reviewCount}} 篇评测 / {{summary.shortReviewCount}} 段简评</p>
                </div>
            </div>
            <span ng-if="point.hoursPlayed">游戏在档 <span class="game-hours">{{point.hoursPlayed}}</span> 小时</span>
        </div>
        <blockquote>{{article.Summary}}</blockquote>
        <div class="pros-cons" ng-if="article.Pros.length > 0 || article.Cons.length > 0">
            <ul class="pros">
                <li ng-repeat="pro in article.Pros track by $index">＋ {{pro}}</li>
            </ul><!--
             --><ul class="cons">
            <li ng-repeat="con in article.Cons track by $index">－ {{con}}</li>
        </ul>
        </div>
    </div>
    <div class="review-point {{utils.getVoteColor(article.Vote - 1)}}">
        <div class="review-count">
            <span>{{article.Vote}}</span> / 5
        </div>
        <vote-circle ng-if="article.Vote" vote="article.Vote" whole-white="true"></vote-circle>
    </div>
</div>