.section-article-review {
    background: white center;
    background-size: cover;
    width: 100%;
    min-width: 870px;
    position: relative;
}

.section-article-review .review-detail {
    background-color: rgba(256, 256, 256, 0.85);
    float: right;
    width: 610px;
    min-height: 153px;
    padding: 20px;
    box-sizing: border-box;
}

.section-article-review .review-detail .user-info,
.section-article-review .review-detail .user-info .info-details {
    display: flex;
    justify-content: space-between;
}

.section-article-review .review-detail .user-info .info-details .avatar-anchor {
    display: block;
}

.section-article-review .review-detail .user-info .info-details .avatar-anchor img {
    width: 48px;
    height: 48px;
}

.section-article-review .review-detail .user-info .info-details .title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-article-review .review-detail .user-info .info-details .title p {
    margin: 0;
}

.section-article-review .review-detail .user-info .info-details .title .review-count {
    color: #bbb;
}

.section-article-review .review-detail .user-info .info-details .title span {
    margin-left: 5px;
}

.section-article-review .review-detail .user-info .info-details .title point-link {
    font-size: 16px;
    font-weight: bold;
}

.section-article-review .review-detail .user-info .game-hours {
    color: #159;
    font-weight: 700;
}

.section-article-review .review-detail blockquote {
    margin: 20px 0 0;
}

.section-article-review .review-detail .pros-cons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section-article-review .review-detail .pros-cons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-article-review .review-detail .pros-cons ul li {
    line-height: 24px;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-article-review .review-detail .pros-cons .pros {
    color: #00ab4e;
}

.section-article-review .review-detail .pros-cons .cons {
    color: #e30613;
}

.section-article-review .review-point {
    width: 96px;
    height: 96px;
    position: absolute;
    left: -6px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-article-review .review-point.awesome {
    background-color: #00ab4e !important;
}

.section-article-review .review-point.good {
    background-color: #71bf44 !important;
}

.section-article-review .review-point.not-bad {
    background-color: #f7943e !important;
}

.section-article-review .review-point.bad {
    background-color: #e30613 !important;
}

.section-article-review .review-point.terrible {
    background-color: #541912 !important;
}

.section-article-review .review-point::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 4px;
    z-index: -1;
    box-shadow: 0 0 2px #B8BABB;
    transform: rotate(45deg);
    transform-origin: bottom left;
    background-color: #adafb0;
}

.section-article-review .review-point .review-count {
    color: #ccc;
    font-size: 15px;
}

.section-article-review .review-point .review-count span {
    color: white;
    font-size: 48px;
}

.section-article-review .review-point vote-circle {
    text-align: center;
}