<div class="section-article-header box-shadowed" ng-controller="ArticleHeaderController">
    <h1 class="labeled-heading">
        <span class="time" am-time-ago="article.PublishTime"></span>
        <span class="entry-type font-myriad-keylol">{{article.TypeName}}</span>
        <span class="title">{{article.Title}}</span>
    </h1>
    <div popup="showModerationPopup" class="related-info clearfix">
        <span class="actions">
            <a href="" ng-click="archiveArticle($event)">封存</a><a href="" ng-click="editArticle()">退稿</a><a href="" ng-click="editArticle()">警告</a><a href="" ng-click="editArticle()">萃选</a><a href="" ng-click="editArticle()" ng-if="article.canEdit">编辑</a>
        </span>
        <span class="points" ng-if="article.TypeName != '评' && article.TypeName != '简评'">
            <point-link ng-repeat="point in article.AttachedPoints track by point.Id" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
        </span>
        <span class="points" ng-if="(article.TypeName === '评' || article.TypeName === '简评') && article.VoteForPoint">
            <point-link type="'point'" id-code="article.VoteForPoint.IdCode" point-name="'「' + utils.getPointFirstName(article.VoteForPoint) + '」'"></point-link>
        </span>
    </div>
    <div class="review-info clearfix" ng-if="article.TypeName === '评'">
        <div class="info-attribute">
            <div class="info-attribute">
                <p ng-if="point.DeveloperPoints.length > 0">
                    <span class="title">开发厂 ：</span>
                    <point-link ng-repeat="point in point.DeveloperPoints" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
                </p>
                <p ng-if="point.PublisherPoints.length > 0">
                    <span class="title">发行商 ：</span>
                    <point-link ng-repeat="point in point.PublisherPoints" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
                </p>
                <p ng-if="point.SeriesPoints.length > 0">
                    <span class="title">系列 ：</span>
                    <point-link ng-repeat="point in point.SeriesPoints" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
                </p>
                <p ng-if="point.GenrePoints.length > 0">
                    <span class="title">流派 ：</span>
                    <point-link ng-repeat="point in point.GenrePoints" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
                </p>
                <p ng-if="point.TagPoints.length > 0">
                    <span class="title">特性 ：</span>
                    <point-link ng-repeat="point in point.TagPoints" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
                </p>
                <p ng-if="point.DisplayAliases">
                    <span class="title">别名 ：</span>
                    <span>{{point.DisplayAliases}}</span>
                </p>
                <p ng-if="point.ReleaseDate">
                    <span class="title">面市 ：</span>
                    <span>{{point.ReleaseDate | date: 'yyyy-MM-dd'}}</span>
                </p>
                <p ng-if="point.MajorPlatformPoints.length > 0">
                    <span class="title">平台 ：</span>
                    <point-link ng-repeat="point in point.MajorPlatformPoints" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
                </p>
                <p ng-if="point.MinorPlatformPoints.length > 0">
                    <span class="title">次要平台 ：</span>
                    <point-link ng-repeat="point in point.MinorPlatformPoints" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="review-detail">
            <div class="user-info">
                <span ng-if="point.hoursPlayed" class="game-hours">游戏在档 {{point.hoursPlayed}} 小时</span>
                <point-link ng-if="summary.idCode" type="'user'" point-name="summary.userName" id-code="summary.idCode"></point-link>
                <p class="review-count">{{summary.reviewCount}} 篇评测 / {{summary.shortReviewCount}} 段简评</p>
            </div>
            <blockquote>{{article.Summary}}</blockquote>
            <div class="pros-cons">
                <ul class="pros">
                    <li ng-repeat="pro in article.Pros track by $index">{{pro}}</li>
                </ul><!--
             --><ul class="cons">
                    <li ng-repeat="con in article.Cons track by $index">{{con}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>