@keyframes comment-highlight {
    from {
        background-color: #f2fbf6;
    }
    to {
        background-color: transparent;
    }
}

.section-article-comments {
    background: white;
    padding: 20px 0 30px 0;
    width: 100%;
    min-width: 300px;
}

.section-article-comments.archive {
    padding: 20px 0;
}

.section-article-comments .labeled-heading {
    margin-left: 0;
}

.section-article-comments.archive .labeled-heading {
    margin: 0;
    color: #ccc;
}

.section-article-comments.archive .labeled-heading::after {
    background-color: #ccc;
}

.section-article-comments .avatar-anchor {
    float: left;
}

.section-article-comments .avatar-anchor img {
    width: 32px;
    height: 32px;
}

.section-article-comments .comment article {
    margin-left: 40px;
}

.section-article-comments .comment {
    padding: 0 100px 0 20px;
    margin-top: 25px;
    position: relative;
}

.section-article-comments .comment.highlight {
    animation: comment-highlight 5s;
}

.section-article-comments .comment:hover .action {
    display: inline;
}

.section-article-comments .comment:hover .floor {
    display: block;
}

.section-article-comments .comment:first-of-type {
    margin-top: 28px;
}

.section-article-comments .cut-off {
    margin-top: 25px;
    margin-left: 9px;
    position: relative;
    background-color: #EEE;
    width: 810px;
    height: 1px;
}

.section-article-comments .floor {
    width: 47px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 4px;
    color: white;
    background-color: #CCC;
    text-align: center;
    line-height: 32px;
    display: none;
}

.section-article-comments .header {
    height: 22px;
    line-height: 22px;
}

.section-article-comments .header .name {
    font-weight: bold;
}

.section-article-comments .archived .header .name a {
    color: #bbb;
}

.section-article-comments .header .as-author {
    color: #89A;
}

.section-article-comments .archived .header .title {
    color: #bbb;
    font-weight: bold;
}

.section-article-comments .header .time {
    color: #BBB;
}

.section-article-comments .header .moderated {
    color: white;
    background-color: #e30613;
    padding: 0 3px;
}

.section-article-comments .header .action {
    color: #ccc;
    display: none;
}

.section-article-comments .header .action a {
    color: #89A;
    margin: 5px;
}

.section-article-comments .content {
    line-height: 1.6em;
    white-space: pre-wrap;
}

.section-article-comments .archived .content,
.section-article-comments .archived  .content a {
    color: #bbb;
}

.section-article-comments .content a{
    color: #89A;
}

.section-article-comments .archived .content .like-count,
.section-article-comments .archived .content .hot-signal {
    background: #ccc;
}

.section-article-comments .content .like-count {
    color: white;
    background: #159;
    padding: 1px 4px;
    margin-left: 7px;
}

.section-article-comments .content .hot-signal {
    color: white;
    background: #159;
    padding: 1px 4px;
    margin-left: 7px;
}

.section-article-comments pagination {
    float: right;
    margin-bottom: 24px;
    position: relative;
    right: 20px;
}

.section-article-comments form, .section-article-comments .for-visitor {
    clear: both;
    position: relative;
    margin: 24px 100px 0 20px;
}

.section-article-comments button[type=submit] {
    position: absolute;
    right: -105px;
    bottom: 8px;
    padding-right: 23px;
    background-position: 100% 1px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAHlBMVEX///////////////////////////////////////8V2MxSAAAACXRSTlMAESIzRGZ3iLtU0KdmAAAAOUlEQVR42u3HuREAIAwDMEL4vP/CXKBz4QmsTs3M7MuRMmwD2CIsUEKEdJQuwg6Ao8JirhkiZmbPBS/FAnGzq3lQAAAAAElFTkSuQmCC);
}

.section-article-comments button[type=submit]:disabled {
    background-color: #CCC;
}

.section-article-comments .textarea-container {
    display: block;
    overflow: hidden;
    padding: 2px 30px 2px 8px;
}

.section-article-comments .textarea-container textarea {
    width: 100%;
    min-height: 80px;
    resize: vertical;
}

.section-article-comments .for-visitor .fake-textarea {
    width: 100%;
    height: 80px;
    border-radius: 4px;
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15), inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 8px;
    background: #fafaf9;
}

.section-article-comments .for-visitor .action-container {
    width: 350px;
    height: 100%;
    margin: auto;
    left: -20px;
    position: relative;
}

.section-article-comments .for-visitor .action-container a {
    display: block;
    position: absolute;
}

.section-article-comments .for-visitor .action-container .log-up {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border-right: 1px solid #ccc;
    text-align: right;
    text-decoration: none;
    width: 205px;
}

.section-article-comments .for-visitor .action-container .log-in {
    color: #89a;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section-article-comments .for-visitor .action-container img {
    float: right;
    width: 46px;
    margin-left: 10px;
}

.section-article-comments .for-visitor .action-container h4 {
    margin: 0 0 5px;
    font-weight: normal;
    line-height: 15px;
}

.section-article-comments .for-visitor .action-container h3 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
}

.section-article-comments .for-visitor .action-container a:hover h3 {
    text-decoration: underline;
}