.section-coupon-content {
    background: white;
    padding: 30px 20px;
    width: 100%;
    min-width: 870px;
    position: relative;
}

.section-coupon-content .heading p {
    color: #bbb;
    margin: 0;
}

.section-coupon-content .heading h1 {
    color: #159;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

.section-coupon-content .heading .menu-right {
    float: right;
}

.section-coupon-content .heading .menu-right ul li {
    color: #bbb;
}

.section-coupon-content .heading .menu-right ul li a {
    color: #89A;
    margin: 0 5px;
}

.section-coupon-content .heading .menu-right ul li:last-of-type a {
    margin-right: 0;
}

.section-coupon-content .heading .menu-right ul li.current a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.section-coupon-content pagination {
    margin-top: 50px;
    float: right;
}

.section-coupon-content table {
    width: 100%;
}

.section-coupon-content a {
    color: #89A;
}

.section-coupon-content table tr {
    border-bottom: 1px #ccc dashed;
}

.section-coupon-content table td,
.section-coupon-content table th {
    padding: 10px;
}

.section-coupon-content .records tr td:nth-of-type(1),
.section-coupon-content .records tr th:nth-of-type(1) {
    width: 100px;
    text-align: left;
}

.section-coupon-content .records tr td:nth-of-type(2),
.section-coupon-content .records tr th:nth-of-type(2),
.section-coupon-content .records tr td:nth-of-type(3),
.section-coupon-content .records tr th:nth-of-type(3) {
    width: 90px;
    text-align: right;
}

.section-coupon-content .records tr td:nth-of-type(2).plus {
    color: #00ab4e;
}

.section-coupon-content .records tr td:nth-of-type(2).minus {
    color: #e30613;
}

.section-coupon-content .records tr td:nth-of-type(4),
.section-coupon-content .records tr th:nth-of-type(4) {
    width: 130px;
    text-align: left;
    padding-left: 40px;
}

.section-coupon-content .records tr td:nth-of-type(4) {
    color: #bbb;
}

.section-coupon-content .records tr td:nth-of-type(5),
.section-coupon-content .records tr th:nth-of-type(5) {
    text-align: left;
}

.section-coupon-content .bottom-sawtooth {
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 20px;
    width: 100%;
    background: repeat-x;
    background-size: 29px auto;
}