
<div ng-controller="CouponHeaderController as couponHeader" class="section-coupon-header box-shadowed">
    <h1 class="labeled-heading">文券</h1>
    <p>文券是社区的唯一积分，我们通过一套独特的积分体系来引导内容的质量。每次发布文章，都需要消耗一定的文券；只有当文章或评论收到读者的认可时，作者才会获得对应的文券作为奖励。如果没有信心用作品的质量赚回文券，最好在发文前多多斟酌。  </p>
    <h1 class="labeled-heading">积分规则</h1>
    <div class="coupon-rule">
        <ul class="registration-rule">
            <li>
                <span class="rule-result">＝ 10 ◆</span>
                <span class="rule-content">新注册</span>
            </li>
            <li>
                <span class="rule-result">＝ 15 ◆</span>
                <span class="rule-content">应邀注册</span>
            </li>
        </ul>
        <ul class="minus-rule">
            <li>
                <span class="rule-result">－ 3 ◆</span>
                <span class="rule-content">发布文章</span>
            </li>
            <li>
                <span class="rule-result">－ 1 ◆</span>
                <span class="rule-content">发布简评</span>
            </li>
            <li>
                <span class="rule-result">－ 1 ◆</span>
                <span class="rule-content">发出认可</span>
            </li>
            <li class="quote">每日发出的首 5 次认可免费</li>
        </ul>
        <ul class="add-rule">
            <li>
                <span class="rule-result">＋ 1 ◆</span>
                <span class="rule-content">每获取一次认可</span>
            </li>
            <li>
                <span class="rule-result">＋ 1 ◆</span>
                <span class="rule-content">每日登陆</span>
            </li>
            <li>
                <span class="rule-result">＋ 3 ◆</span>
                <span class="rule-content">邀请注册</span>
            </li>
        </ul>
    </div>
</div>