
<div ng-controller="CouponContentController as couponContent" class="section-coupon-content box-shadowed">
    <div class="heading">
        <div class="menu-right">
            <ul class="list-inline">
                <li ng-class="{current: page === 'records'}">
                    <a href="" ng-click="setPage('records')">积分记录</a>
                    |
                </li>
                <li ng-class="{current: page === 'ranks'}">
                    <a href="" ng-click="setPage('ranks')">社区排行</a>
                    |
                </li>
                <li ng-class="{current: page === 'invite'}">
                    <a href="" ng-click="setPage('invite')">邀请注册</a>
                </li>
            </ul>
        </div>
        <p>当前文券</p>
        <h1>7 ◆</h1>
    </div>
    <div ng-show="page === 'records'" class="records clearfix">
        <table>
            <thead>
            <tr>
                <th>事件</th>
                <th>变更明细</th>
                <th>文券余额</th>
                <th>时间</th>
                <th>详细描述</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>收到认可</td>
                <td class="plus">＋ 1 ◆</td>
                <td>7 ◆</td>
                <td>2016-03-27 07:42</td>
                <td><point-link type="'user'" id-code="10101" point-name="'@ZenDay'"></point-link> 认可你的文章<a href="/article/10101/1">《该怎么定义》</a></td>
            </tr>
            <tr>
                <td>收到认可</td>
                <td class="minus">－ 1 ◆</td>
                <td>7 ◆</td>
                <td>2016-03-27 07:42</td>
                <td><point-link type="'user'" id-code="10101" point-name="'@ZenDay'"></point-link> 认可你的文章<a href="/article/10101/1">《该怎么定义》</a></td>
            </tr>
            </tbody>
        </table>
        <pagination total="3" current="1"></pagination>
    </div>
    <div ng-show="page === 'records'" class="bottom-sawtooth" style="background-image: url('assets/images/sawtooth.png')"></div>
    <div ng-show="page === 'ranks'" class="ranks clearfix">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>用户</th>
                <th>文券</th>
                <th>获得认可</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    <point-link type="'user'" avatar-url="" id-code="10101" ></point-link>
                    <div class="title">
                        <p>
                            <point-link type="'user'" point-name="'ZenDay'" id-code="10101" ></point-link>
                        </p>
                        <p>禅日</p>
                    </div>
                </td>
                <td>7 ◆</td>
                <td>999999</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <point-link type="'user'" avatar-url="" id-code="10101" ></point-link>
                    <div class="title">
                        <p>
                            <point-link type="'user'" point-name="'ZenDay'" id-code="10101" ></point-link>
                        </p>
                        <p>禅日</p>
                    </div>
                </td>
                <td>7 ◆</td>
                <td>999999</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <point-link type="'user'" avatar-url="" id-code="10101" ></point-link>
                    <div class="title">
                        <p>
                            <point-link type="'user'" point-name="'ZenDay'" id-code="10101" ></point-link>
                        </p>
                        <p>禅日</p>
                    </div>
                </td>
                <td>7 ◆</td>
                <td>999999</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <point-link type="'user'" avatar-url="" id-code="10101" ></point-link>
                    <div class="title">
                        <p>
                            <point-link type="'user'" point-name="'ZenDay'" id-code="10101" ></point-link>
                        </p>
                        <p>禅日</p>
                    </div>
                </td>
                <td>7 ◆</td>
                <td>999999</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <point-link type="'user'" avatar-url="" id-code="10101" ></point-link>
                    <div class="title">
                        <p>
                            <point-link type="'user'" point-name="'ZenDay'" id-code="10101" ></point-link>
                        </p>
                        <p>禅日</p>
                    </div>
                </td>
                <td>7 ◆</td>
                <td>999999</td>
            </tr>
            </tbody>
        </table>
        <pagination total="3" current="1"></pagination>
    </div>
    <div ng-show="page === 'invite'" class="invite">
        <p>每当游客在<b>阅读你的文章时加入其乐社区</b>并成为会员，你会自动获得一定数量的文券作为邀请注册奖励。我们格外推荐用户将自己的评测转载至其他友善的游戏社区，比如知乎、豆瓣或是 Steam 个人评测，并附上文章在其乐的原始链接，来自这些社区的用户不仅能助我们培养更理想的社区氛围，还能在加入其乐时获得额外的应邀注册奖励。</p>
        <div class="invite-rule">
            <div>
                <span class="rule-result">＝ 15 ◆</span>
                <span class="rule-content">应邀注册用户的初始积分</span>
            </div>
            <div>
                <span class="rule-result">＋ 3 ◆</span>
                <span class="rule-content">每邀请 1 名玩家注册获得文券</span>
            </div>
        </div>
        <p>或者，你可以分享以下链接给你的好友，当他们通过这个链接访问其乐并注册后，你会获得同样的文券奖励。</p>
        <input selected-on-hover type="text" ng-model="inviteLink">
    </div>
</div>