.section-latest-articles {
    width: 100%;
    min-width: 206px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 9px;
}

.section-latest-articles .article {
    padding: 12px 15px;
}

.section-latest-articles .article h2 {
    font-size: 13px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-latest-articles .article h2 svg {
    vertical-align: middle;
    width: 11px;
    height: 6px;
    display: inline-block;
}

.section-latest-articles .article h2 svg circle {
    fill: #159;
}

.section-latest-articles .article h2 a {
    vertical-align: middle;
    color: #333;
}

.section-latest-articles .article p {
    margin: 0 0;
    max-height: 36px;
    overflow: hidden;
    line-height: 18px;
    word-wrap: break-word;
}

.section-latest-articles .article footer {
    text-align: right;
    color: #BBB;
    height: 16px;
    line-height: 16px;
}

.section-latest-articles .article footer span {
    margin-left: 15px;
}