.section-reception {
    background-color: white;
    width: 100%;
    min-width: 200px;
    padding: 6px 0 9px;
}

.section-reception div {
    margin-bottom: 18px;
}

.section-reception ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-reception ul li {
    padding: 2px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.section-reception a {
    color: #333;
}

.section-reception .quick-link ul li .delete {
    cursor: pointer;
    float: right;
    padding: 0 5px;
    color: #89A;
    display: none;
    line-height: 15px;
}

.section-reception .quick-link ul li:hover .delete {
    display: block;
}

.section-reception .quick-link .add {
    color: #748a97;
    padding: 2px 0;
    margin-left: 10px;
}

.section-reception .recent-link h1 .delete {
    font-size: 13px;
    cursor: pointer;
    float: right;
    padding: 0 5px;
    color: #89A;
    display: none;
}

.section-reception .recent-link h1:hover .delete {
    display: inline-block;
}