<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="index.html">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:05:00" />
            </staticContent>
        </system.webServer>
    </location>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Index Rule" stopProcessing="true">
                    <match url=".*"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/index.html"/>
                </rule>
            </rules>
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*"/>
                    <action type="Rewrite" value="max-age=31536000"/>
                </rule>
            </outboundRules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension="svg" mimeType="image/svg+xml"/>
            <mimeMap fileExtension="woff" mimeType="application/font-woff"/>
        </staticContent>
        <httpCompression>
            <staticTypes>
                <add mimeType="image/svg+xml" enabled="true"/>
            </staticTypes>
        </httpCompression>
    </system.webServer>
</configuration>
