.popup-entry-filter {
    overflow: hidden;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
}

.popup-entry-filter.ng-enter {
    transition-duration: 460ms;
}

.popup-entry-filter.ng-leave {
    transition-duration: 400ms;
}

.popup-entry-filter.ng-enter .filter-container {
    transform: translateY(-100%);
    opacity: 0;
}

.popup-entry-filter.ng-enter-active .filter-container {
    transform: translateY(0);
    opacity: 1;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 280ms;
}

.popup-entry-filter.ng-leave .filter-container {
    transform: translateY(-100%);
    opacity: 0;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 400ms;
}

.popup-entry-filter.ng-enter .arrow-down {
    transform: translateY(-100%);
}

.popup-entry-filter.ng-enter-active .arrow-down {
    transform: translateY(0);
    transition: 180ms 280ms;
}

.popup-entry-filter .arrow-down {
    margin: 0 0 9px 194px;
}

.popup-entry-filter .in-home .arrow-down {
    margin: 0 0 9px 420px;
}

.popup-entry-filter .filter-main {
    background-color: white;
    position: relative;
}

.popup-entry-filter .filter-main button {
    position: absolute;
    right: 10px;
    bottom: -5px;
}

.popup-entry-filter .filter-main ul {
    list-style: none;
    margin: 0;
    padding: 20px 55px 15px 15px;
}

.popup-entry-filter .filter-main ul li {
    margin-bottom: 15px;
    position: relative;
    cursor: default;
}

.popup-entry-filter .in-home .filter-main ul li:first-of-type {
    margin-bottom: 20px;
}

.popup-entry-filter .filter-main ul li div {
    margin-top: 7px;
}

.popup-entry-filter .filter-main ul li input {
    margin-right: 8px;
}

.popup-entry-filter .filter-main ul li label {
    margin-right: 20px;
}

.popup-entry-filter .filter-main ul li span {
    display: inline-block;
    width: 22px;
    background: transparent;
    color: #159;
    text-align: center;
    font-size: 15px;
    padding: 2px 0;
    margin: 0 15px 0 0;
}

.popup-entry-filter .filter-main ul li:first-of-type span {
    width: 35px;
}

.popup-entry-filter .filter-main ul li span.active {
    background: #159;
    color: white;
}

.popup-entry-filter .in-home .filter-main ul li:first-of-type span {
    border: 1px solid #fff;
    padding: 1px 0;
}

.popup-entry-filter .in-home .filter-main ul li:first-of-type span.part {
    border-color: #159;
}

.popup-entry-filter .filter-main ul li p {
    display: inline-block;
    margin: 0;
}

.popup-entry-filter .in-home .filter-main ul li:first-of-type p {
    color: #bbb;
}