<popup class="popup-moderation">
    <div class="wrapper clearfix box-shadowed-deeper" ng-style="backgroundStyle">
        <div class="heading">
            <h2>{{text.subTitle || text["subTitleFor" + type.target]}}</h2>
            <h1 class="labeled-heading">{{text.mainTitle}}</h1>
        </div>
        <form ng-if="union.$localStorage.user.StaffClaim === 'operator'">
            <span ng-if="text.reasonTexts">操作缘由</span>
            <p ng-if="text.reasonTexts" class="checkbox-group">
                <span ng-repeat="reason in text.reasonTexts">
                    <input id="reason-{{$index}}" type="checkbox" ng-model="moderation.reasons[$index]"><label for="reason-{{$index}}">{{reason}}</label>
                </span>
            </p>
            <span>其他缘由</span>
            <p class="checkbox-group">
                <input id="notify-author" type="checkbox" ng-model="moderation.notifyAuthor"><label for="notify-author">通知作者</label>
                <input ng-if="!type.isCancel && type.action === 'Archived'" id="return-coupon" type="checkbox" ng-model="moderation.returnCoupon"><label ng-if="!type.isCancel && type.action === 'Archived'" for="return-coupon">退还发文扣除的积分</label>
            </p>
        </form>
        <button ng-click="submit()" class="border-button right-border" ng-disabled="submitLock">执行操作</button>
    </div>
</popup>