<popup class="popup-moderation">
    <div class="wrapper clearfix box-shadowed-deeper" style="background-image: url('assets/images/Syuusouretsujitsu.png');">
        <div class="heading">
            <h2>{{text.subTitle?text.subTitle:text["subTitleFor" + type.target]}}</h2>
            <h1 class="labeled-heading">{{text.mainTitle}}</h1>
        </div>
        <form ng-if="union.$localStorage.user.StaffClaim">
            <span ng-if="text.reasonTexts" ng-class="{'error-flash': reasonEmpty}">操作缘由 {{reasonEmpty?"- 需要勾选至少一个操作缘由":""}}</span>
            <p ng-if="text.reasonTexts" class="checkbox-group">
                <span ng-repeat="reason in text.reasonTexts">
                    <input id="reason-{{$index}}" type="checkbox" ng-model="moderation.reasons[$index]"><label for="reason-{{$index}}">{{reason}}</label>
                </span>
            </p>
            <span>其他缘由</span>
            <p class="checkbox-group">
                <input id="notify-author" type="checkbox" ng-model="moderation.notifyAuthor"><label for="notify-author">通知作者</label>
                <input ng-if="!type.isCancel" id="return-coupon" type="checkbox" ng-model="moderation.returnCoupon"><label ng-if="!type.isCancel" for="return-coupon">退还发文扣除的积分</label>
            </p>
        </form>
        <button ng-click="submit()" class="border-button right-border" ng-disabled="submitLock">执行操作</button>
    </div>
</popup>