@font-face {
    font-family: "LiSong";
    src: url("lisong-subset.eot"); /* IE9 */
    src: url("lisong-subset.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("lisong-subset.woff") format("woff"), /* chrome, firefox */
    url("lisong-subset.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("lisong-subset.svg#LiSong") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


