/* ----------------------- */
/* Common Styles for Popup */
/* ----------------------- */

popup {
    position: absolute;
    z-index: 0;
}

popup .arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $keylol-main;
}

popup .arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $keylol-main;
}

popup .arrow-left {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid $keylol-main;
}

popup .arrow-right {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $keylol-main;
}