/* ------------------------------ */
/* Common Styles for Modal Window */
/* ------------------------------ */
.body-window-open {
  overflow: hidden;
}

.scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

window {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  overflow: auto;
  white-space: nowrap;
}

window::after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

window:last-of-type {
  background-color: rgba(0, 0, 0, 0.45);
}

[class^=window-position-] {
  display: inline-block;
  text-align: left;
}

window[position=center] {
  text-align: center;
}

.window-position-center,
window[position=center]::after {
  vertical-align: middle;
}

window[position=top] {
  text-align: center;
}

.window-position-top,
window[position=top]::after {
  vertical-align: top;
}

window[position=bottom] {
  text-align: center;
}

.window-position-bottom,
window[position=bottom]::after {
  vertical-align: bottom;
}

window[position=left] {
  text-align: left;
}

.window-position-left,
window[position=left]::after {
  vertical-align: middle;
}

window[position=right] {
  text-align: right;
}

.window-position-right,
window[position=right]::after {
  vertical-align: middle;
}

.window {
  @include keylol-shadow-4;
  background-color: $keylol-card;
  position: relative;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
}

window.window-hidden {
  opacity: 0;
}

/* Secret Barcode */
.window .secret-barcode {
  width: 678px;
  height: 20px;
  margin: 0 auto;
  display: block;
}

/* Table */
.window table td {
  border: 1px solid #ccc;
  padding: 1px 3px;
}

.window table input[type=text],
.window table input[type=number],
.window table input[type=password],
.window table input[type=email],
.window table textarea {
  background: none;
  height: 100%;
  width: 100%;
  font-size: 17px;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  padding: 0 6px;
}

.window table textarea {
  resize: vertical;
}

.window table input[type=text]:disabled,
.window table input[type=email]:disabled {
  cursor: text;
}

/* Confirm Button */
.window .window-confirm-button {
  float: right;
  background-color: $keylol-theme;
  border: none;
  text-align: right;
  padding: 6px 19px;
  height: 66px;
  margin-right: -8px;
  position: relative;
  min-width: 305px;
}

.window .window-confirm-button[disabled] {
  background-color: #CCC;
  cursor: wait;
}

.window .window-confirm-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  z-index: -1;
  box-shadow: 0 0 2px #B8BABB;
  transform: rotate(315deg);
  transform-origin: bottom right;
  background-color: #adafb0;
}

.window .window-confirm-button img {
  float: right;
  margin-left: 18px;
  position: relative;
}

.window .window-confirm-button .arrow-right {
  width: 42px;
  height: 34px;
  top: 7px;
}

.window .window-confirm-button .signature-pen {
  width: 30px;
  height: 40px;
  top: 4px;
}

.window .window-confirm-button .new-point {
  height: 40px;
  top: 4px;
}

.window .window-confirm-button .basket {
  height: 40px;
  top: 4px;
}

.window .window-confirm-button hgroup {
  float: right;
  margin-left: 30px;
}

.window .window-confirm-button hgroup h1 {
  color: white;
  font-size: 19px;
  margin: 4px 0;
  font-weight: normal;
}

.window .window-confirm-button hgroup h2 {
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin: 4px 0;
}

/* Exit Button */
.window .window-exit-button {
  display: block;
  position: absolute;
  top: 0;
  right: -58px;
  box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
  cursor: pointer;
}

.window .window-exit-button svg {
  width: 48px;
  height: 48px;
}

.window .window-exit-button.focused .background {
  animation: exit-background-flash 150ms ease-in-out 6 alternate;
}

.window .window-exit-button.focused .text {
  animation: exit-text-flash 150ms ease-in-out 6 alternate;
}

.window .error-flash, .window .error-flash td {
  animation: error-border-flash 150ms ease-in-out 6 alternate;
  border-color: red;
}

.window .error-flash .error {
  animation: error-text-flash 150ms ease-in-out 6 alternate;
}

.window .error-flash h3 {
  animation: error-text-flash 150ms ease-in-out 6 alternate;
  color: red;
}

.window .window-exit-button .background,
.window .window-exit-button .text {
  transition: fill 100ms ease-in-out;
}

.window .window-exit-button:hover .background {
  fill: white;
}

.window .window-exit-button:hover .text {
  fill: #009e57;
}

/* Headings */
.window h1 {
  font-size: 19px;
  color: $keylol-theme;
  margin: 3px 0;
  font-weight: bold;
}

.window h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 3px 0;
}

.window h3 {
  color: $keylol-theme;
  font-size: 15px;
  margin: 3px 0;
  font-weight: bold;
}

.window h3.single-line {
  float: left;
  margin-right: 8px;
}

.window h3.single-line + h4 {
  position: relative;
  top: 1px;
}

.window h4 {
  font-weight: normal;
  font-size: 13px;
  margin: 3px 0;
}

/* Pasted Card */
.window .pasted-card {
  position: relative;
  background-color: white;
  border: 4px solid transparent;
  border-image: url(../images/border-slash.png) 30 round;
  transform: rotate(-1deg);
  text-align: center;
  min-width: 182px;
  box-sizing: border-box;
}

.window .pasted-card .needle {
  position: absolute;
  top: -3px;
  left: 4px;
}

.window .pasted-card > div {
  display: inline-block;
  margin: 6px 0 4px;
}

.window .pasted-card div img {
  float: left;
  width: 39px;
  height: 39px;
  margin-right: 8px;
}

.window .pasted-card div h5 {
  font-size: 13px;
  font-weight: normal;
  margin: 2px 0;
}

.window .pasted-card .clear-button {
  font-weight: bold;
}

.window .pasted-card div div {
  float: left;
  text-align: left;
  max-width: 192px;
}