<div class="section-article-comments box-shadowed">
    <h1 class="labeled-heading">共 37 则讨论</h1>
    <div class="comment" ng-repeat="comment in comments">
        <span class="floor">#{{$index+1}}</span>
        <a class="avatar-anchor" href="test">
            <img class="avatar-small" src="assets/images/exit.svg">
        </a>
        <article>
            <div class="header">
                <a class="name" href="test">@Lee.Exit</a>
                <span class="as-author">[文章作者]</span>
                <span class="time">16 小时前</span>
                <a href="" class="action">回复</a>
                <a href="" class="action">认可</a>
            </div>
            <div class="content"><a href="test">@alcohol</a> 写完这篇点评终于算是填上一个坑了，还有一个XIII-2下周再填。你们是不是觉得我省略号用太多了？13-2开玩的时候，正是我FF13刚刚白金之时，当我从FF13中爬出来，终于白金了FF13之后，脑袋发热的我将当初同时跟FF13一起买的...<span class="like-count">+13</span></div>
        </article>
    </div>
    <form>
        <a class="avatar-anchor" href="test">
            <img class="avatar-small" src="assets/images/exit.svg">
        </a>
        <button type="submit" class="border-button right-border">发表评论</button>
        <span class="textarea-container"><textarea placeholder="对作者的见解有什么见解？"></textarea></span>
    </form>
</div>