@keyframes comment-highlight {
    from {
        background-color: #f2fbf6;
    }
    to {
        background-color: transparent;
    }
}

.section-article-comments {
    background: white;
    padding: 20px 0 30px 0;
    width: 100%;
    min-width: 300px;
}

.section-article-comments .labeled-heading {
    margin-left: 0;
}

.section-article-comments .avatar-anchor {
    float: left;
}

.section-article-comments .avatar-anchor img {
    width: 32px;
    height: 32px;
}

.section-article-comments .comment article {
    margin-left: 40px;
}

.section-article-comments .comment {
    padding: 0 100px 0 20px;
    margin-top: 25px;
    position: relative;
}

.section-article-comments .comment.highlight {
    animation: comment-highlight 5s;
}

.section-article-comments .comment:hover .action {
    display: inline;
}

.section-article-comments .comment:hover .floor {
    display: block;
}

.section-article-comments .comment:first-of-type {
    margin-top: 28px;
}

.section-article-comments .cut-off {
    margin-top: 25px;
    margin-left: 9px;
    position: relative;
    background-color: #EEF1F3;
    width: 810px;
    height: 1px;
}

.section-article-comments .floor {
    width: 47px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 4px;
    color: white;
    background-color: #c7cdd1;
    text-align: center;
    line-height: 32px;
    display: none;
}

.section-article-comments .header {
    height: 22px;
    line-height: 22px;
}

.section-article-comments .header .name {
    font-weight: bold;
}

.section-article-comments .header .as-author {
    color: #738a95;
}

.section-article-comments .header .time {
    color: #c7cdd1;
}

.section-article-comments .header .action {
    color: #738a95;
    margin-left: 12px;
    display: none;
}

.section-article-comments .content {
    line-height: 1.6em;
    white-space: pre-wrap;
}

.section-article-comments .content a{
    color: #738a95;
}

.section-article-comments .content .like-count {
    color: white;
    background: #333;
    padding: 1px 4px;
    margin-left: 7px;
}

.section-article-comments .content .hot-signal {
    color: white;
    background: #333;
    padding: 1px 4px;
    margin-left: 7px;
}

.section-article-comments pagination {
    float: right;
    margin-bottom: 24px;
    position: relative;
    right: 20px;
}

.section-article-comments form {
    clear: both;
    position: relative;
    margin: 24px 100px 0 20px;
}

.section-article-comments button[type=submit] {
    position: absolute;
    right: -105px;
    bottom: 8px;
    padding-right: 23px;
    background-position: 100% 1px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAHlBMVEX///////////////////////////////////////8V2MxSAAAACXRSTlMAESIzRGZ3iLtU0KdmAAAAOUlEQVR42u3HuREAIAwDMEL4vP/CXKBz4QmsTs3M7MuRMmwD2CIsUEKEdJQuwg6Ao8JirhkiZmbPBS/FAnGzq3lQAAAAAElFTkSuQmCC);
}

.section-article-comments button[type=submit]:disabled {
    background-color: #c7cdd1;
}

.section-article-comments .textarea-container {
    display: block;
    overflow: hidden;
    padding: 2px 30px 2px 8px;
}

.section-article-comments .textarea-container textarea {
    width: 100%;
    min-height: 80px;
    resize: vertical;
}