<div class="section-article-comments box-shadowed" ng-controller="ArticleCommentsController">
    <h1 class="labeled-heading">共 {{comments.length}} 则讨论</h1>
    <div class="comment" ng-if="pageElements.currPage == 1" ng-repeat="comment in hotComments">
        <span class="floor">#{{comment.SequenceNumberForArticle}}</span>
        <a class="avatar-anchor" ng-href="/point/{{comment.Commentotar.IdCode}}">
            <img class="avatar-small" webp-src="{{comment.Commentotar.AvatarImage|avatarUrl}}">
        </a>
        <article>
            <div class="header" ng-switch="comment.Liked">
                <a class="name" ng-href="/point/{{comment.Commentotar.IdCode}}">@{{comment.Commentotar.UserName}}</a>
                <span class="as-author" ng-if="comment.Commentotar.isAuthor">[文章作者]</span>
                <span class="time" am-time-ago="comment.PublishTime"></span>
                <a href="" class="action" ng-click="reply(comment.SequenceNumberForArticle)">回复</a>
                <a href="" class="action" ng-click="acknowledge(comment)" ng-switch-when="false">认可</a>
                <a href="" class="action" ng-click="cancelAcknowledge(comment)" ng-switch-when="true">取消认可</a>
            </div>
            <div class="content"><span  ng-bind-html="comment.Content"></span><span class="hot-signal">HOT</span><span class="like-count" ng-if="comment.hasLike">+{{comment.LikeCount}}</span></div>
        </article>
    </div>
    <div class="cut-off"></div>
    <div class="comment" ng-repeat="comment in comments">
        <span class="floor">#{{comment.SequenceNumberForArticle}}</span>
        <a class="avatar-anchor" ng-href="/point/{{comment.Commentotar.IdCode}}">
            <img class="avatar-small" webp-src="{{comment.Commentotar.AvatarImage|avatarUrl}}">
        </a>
        <article>
            <div class="header" ng-switch="comment.Liked">
                <a class="name" ng-href="/point/{{comment.Commentotar.IdCode}}">@{{comment.Commentotar.UserName}}</a>
                <span class="as-author" ng-if="comment.Commentotar.isAuthor">[文章作者]</span>
                <span class="time" am-time-ago="comment.PublishTime"></span>
                <a href="" class="action" ng-click="reply(comment.SequenceNumberForArticle)">回复</a>
                <a href="" class="action" ng-click="acknowledge(comment)" ng-switch-when="false">认可</a>
                <a href="" class="action" ng-click="cancelAcknowledge(comment)" ng-switch-when="true">取消认可</a>
            </div>
            <div class="content"><span  ng-bind-html="comment.Content"></span><span class="like-count" ng-if="comment.hasLike">+{{comment.LikeCount}}</span></div>
        </article>
    </div>
    <pagination total="pageElements.totalPages" current="pageElements.currPage" on-page-changed="pageElements.changePage(oldPage, newPage)" page-href=""></pagination>
    <form ng-submit="doComment()">
        <a class="avatar-anchor" href="test">
            <img class="avatar-small" webp-src="{{user.AvatarImage|avatarUrl}}">
        </a>
        <button type="submit" class="border-button right-border" ng-disabled="submitDisabled">发表评论</button>
        <span class="textarea-container"><textarea placeholder="对作者的见解有什么见解？" ng-model="currentComment" focus-me="textFocus"></textarea></span>
    </form>
</div>