<div class="section-article-header box-shadowed" ng-controller="ArticleHeaderController">
    <h1 class="labeled-heading">
        <span class="time" am-time-ago="article.PublishTime"></span>
        <span class="entry-type font-myriad-keylol">{{article.TypeName}}</span>
        <span class="title"><span class="vote" ng-if="article.Vote">[{{article.Vote}}]</span>{{article.Title}}</span>
    </h1>
    <div class="related-info clearfix">
        <span class="actions">
            <a href="" ng-click="editArticle()" ng-if="article.isMyArticle">编辑</a>
        </span>
        <span class="points">
            <point-link ng-repeat="point in article.AttachedPoints" id-code="point.IdCode" point-name="'「' + point.mainName + '」'"></point-link>
        </span>
    </div>
</div>