<div class="section-article-header box-shadowed">
    <h1 class="labeled-heading">
        <span class="time">2015-8-29</span>
        <span class="entry-type font-myriad-keylol">评测</span><span class="title"><span class="vote">[差评]</span>全程无槽点 : 冷饭游戏 最终幻想13 吐槽式评测</span>
    </h1>
    <div>
        <span class="actions">
            <a ng-href="test">检举</a><a ng-href="test">警告</a><a ng-href="test">编辑</a><a ng-href="test">退稿</a><a ng-href="test">删除</a><a ng-href="test">关闭讨论</a>
        </span>
        <span class="points">
            <a href="test">「FINAL FANTASY XIII」</a>
            <a href="test">「PS3」</a>
            <a href="test">「Steam」</a>
            <a href="test">「JRPG」</a>
            <a href="test">「Square Enix」</a>
        </span>
    </div>
</div>