<div class="section-article-comments box-shadowed" ng-controller="ArticleCommentsController">
    <h1 class="labeled-heading">共 {{article.totalComments}} 则讨论</h1>
    <div class="comment" ng-if="pageElements.currPage == 1 && hotComments.length > 0" ng-repeat="comment in hotComments">
        <span class="floor">#{{comment.SequenceNumberForArticle}}</span>
        <point-link type="'user'" avatar-url="comment.Commentator.AvatarImage" id-code="comment.Commentator.IdCode"></point-link>
        <article>
            <div class="header" ng-switch="comment.Liked">
                <point-link class="name" type="'user'" point-name="'@' + comment.Commentator.UserName" id-code="comment.Commentator.IdCode"></point-link>
                <span class="as-author" ng-if="comment.Commentator.isAuthor">[文章作者]</span>
                <span class="time" am-time-ago="comment.PublishTime"></span>
                <a href="" class="action" ng-click="reply(comment.SequenceNumberForArticle)">回复</a>
                <a href="" class="action" ng-if="!comment.cannotLike" ng-click="acknowledge(comment)" ng-switch-when="false">认可</a>
                <a href="" class="action" ng-if="!comment.cannotLike" ng-click="cancelAcknowledge(comment)" ng-switch-when="true">取消认可</a>
            </div>
            <div class="content"><span bind-html-compile="comment.Content"></span><span class="hot-signal">HOT</span><span class="like-count" ng-if="comment.hasLike">+{{comment.LikeCount}}</span></div>
        </article>
    </div>
    <div class="cut-off" ng-if="pageElements.currPage == 1 && hotComments.length > 0"></div>
    <div class="comment" ng-repeat="comment in comments track by comment.Id" id="comment-{{comment.SequenceNumberForArticle}}">
        <span class="floor">#{{comment.SequenceNumberForArticle}}</span>
        <point-link type="'user'" avatar-url="comment.Commentator.AvatarImage" id-code="comment.Commentator.IdCode"></point-link>
        <article>
            <div class="header" ng-switch="comment.Liked">
                <point-link class="name" type="'user'" point-name="'@' + comment.Commentator.UserName" id-code="comment.Commentator.IdCode"></point-link>
                <span class="as-author" ng-if="comment.Commentator.isAuthor">[文章作者]</span>
                <span class="time" am-time-ago="comment.PublishTime"></span>
                <a href="" class="action" ng-click="reply(comment.SequenceNumberForArticle)">回复</a>
                <a href="" class="action" ng-if="!comment.cannotLike" ng-click="acknowledge(comment)" ng-switch-when="false">认可</a>
                <a href="" class="action" ng-if="!comment.cannotLike" ng-click="cancelAcknowledge(comment)" ng-switch-when="true">取消认可</a>
            </div>
            <div class="content"><span bind-html-compile="comment.Content"></span><span class="like-count" ng-if="comment.hasLike">+{{comment.LikeCount}}</span></div>
        </article>
    </div>
    <pagination total="pageElements.totalPages" current="pageElements.currPage" on-page-changed="pageElements.changePage(oldPage, newPage)" page-href=""></pagination>
    <form ng-submit="doComment()">
        <point-link type="'user'" avatar-url="user.AvatarImage" id-code="user.IdCode"></point-link>
        <button type="submit" class="border-button right-border" ng-disabled="submitDisabled">发表评论</button>
        <span class="textarea-container"><textarea placeholder="对作者的见解有什么见解？" ng-model="currentComment" focus-me="textFocus"></textarea></span>
    </form>
</div>