<div class="section-article-content box-shadowed" ng-controller="ArticleContentController">
    <article ng-bind-html="article.trustContent" class="article-content"></article>
    <div class="share-actions" ng-switch="article.Liked">
        <p class="like-count">{{article.LikeCount}}</p>
        <a href="" ng-click="acknowledge()" ng-if="!article.isMyArticle" ng-switch-when="false">认可文章+1</a>
        <a href="" ng-click="cancelAcknowledge()" ng-if="!article.isMyArticle" ng-switch-when="true">取消认可-1</a>
        <span ng-if="article.isMyArticle">认可</span>
    </div>
</div>