<div class="section-ifs-right box-shadowed">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" viewBox="0 0 256 128">
        <defs>
            <style>
                .clss-1, .clss-5 { fill: #11254a; }

                .clss-2, .clss-3 { font-size: 19px; }

                .clss-3 {
                    fill: #fff;
                    font-family: "Keylol Rail Sung";
                }

                .clss-3, .clss-5 { text-anchor: middle; }

                .clss-4, .clss-5 { font-size: 16px; }

                .clss-5 { font-family: "Microsoft YaHei UI", "Microsoft JhengHei UI"; }
            </style>
        </defs>
        <g>
            <image xlink:href="assets/images/mind-gap.png" x="94" width="64" height="64"/>
            <rect y="75" width="256" height="27" class="clss-1"/>
            <text x="128" y="95" class="clss-2"><tspan class="clss-3">请无视游戏与艺术之间的空隙</tspan></text>
            <text x="131" y="124" class="clss-4"><tspan class="clss-5">欢迎来到「其乐」</tspan></text>
        </g>
    </svg>
</div>