.section-logo {
    background-color: #159;
    height: 100%;
    width: 100%;
    min-height: 70px;
    min-width: 186px;
    transition: background-color 100ms ease-in-out;
}

.section-logo:hover {
    background: #2966a3;
}

.section-logo a {
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.section-logo .logo-content {
    width: 162px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-logo img {
    float: left;
    width: 54px;
    height: 54px;
    margin: 0 11px 0 5px;
}

.section-logo p {
    margin: 0;
    color: #fefefe;
}

.section-logo p:first-of-type {
    font-size: 25px;
    margin-top: 3px;
}

.section-logo p:nth-of-type(2) {
    font-size: 15px;
    position: relative;
    top: -2px;
    left: 2px;
}