.section-main-navigation {
    background-color: white;
    padding: 6px 0 9px;
    width: 200px;
}

.section-main-navigation div {
    margin-bottom: 18px;
}

.section-main-navigation a {
    color: #333;
}

.section-main-navigation .labeled-heading + ul {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -7px;
    line-height: 22px;
}

.section-main-navigation .labeled-heading + ul li {
    display: list-item;
    margin-right: 7px;
}

.section-main-navigation .labeled-heading + ul + p {
    margin: 0;
    line-height: 22px;
    padding-right: 10px;
    text-align: right;
}