.section-point-votes {
    background: white;
    width: 100%;
    padding: 0 15px 15px 20px;
}

.section-point-votes .point-info {
    padding: 25px  0;
}

.section-point-votes .point-info .avatar-anchor {
    float: left;
    margin-right: 12px;
}

.section-point-votes .point-info .avatar-anchor img {
    width: 32px;
    height: 32px;
}

.section-point-votes .point-info .heading {
    float: left;
}

.section-point-votes .point-info .heading point-link a {
    margin: 0;
    font-size: 14px;
    display: block;
    color: #159;
    font-weight: bold;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-point-votes .point-info .heading h2 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-point-votes .reputation {
    margin-bottom: 25px;
}

.section-point-votes .reputation span {
    color: #BBB;
}

.section-point-votes .reputation .reputation-info {
    margin-bottom: 8px;
}

.section-point-votes .reputation p {
    float: right;
    margin: 0;
    color: #8CF;
}

.section-point-votes .reputation p.total {
    padding-top: 5px;
}

.section-point-votes .reputation .reputation-number {
    font-size: 19px;
}

.section-point-votes .reputation .awesome,
.section-point-votes .reputation-stat:nth-of-type(5).active circle,
.section-point-votes .reputation-stat:nth-of-type(5).active span {
    color: #00ab4e !important;
    fill: #00ab4e !important;
}

.section-point-votes .reputation .good,
.section-point-votes .reputation-stat:nth-of-type(4).active circle,
.section-point-votes .reputation-stat:nth-of-type(4).active span {
    color: #71bf44 !important;
    fill: #71bf44 !important;
}

.section-point-votes .reputation .not-bad,
.section-point-votes .reputation-stat:nth-of-type(3).active circle,
.section-point-votes .reputation-stat:nth-of-type(3).active span {
    color: #f7943e !important;
    fill: #f7943e !important;
}

.section-point-votes .reputation .bad,
.section-point-votes .reputation-stat:nth-of-type(2).active circle,
.section-point-votes .reputation-stat:nth-of-type(2).active span {
    color: #e30613 !important;
    fill: #e30613 !important;
}

.section-point-votes .reputation .terrible,
.section-point-votes .reputation-stat:nth-of-type(1).active circle,
.section-point-votes .reputation-stat:nth-of-type(1).active span {
    color: #541912 !important;
    fill: #541912 !important;
}

.section-point-votes .reputation-stat:nth-of-type(5).active .reputation-level {
    background: #00ab4e !important;
}

.section-point-votes .reputation-stat:nth-of-type(4).active .reputation-level {
    background: #71bf44 !important;
}

.section-point-votes .reputation-stat:nth-of-type(3).active .reputation-level {
    background: #f7943e !important;
}

.section-point-votes .reputation-stat:nth-of-type(2).active .reputation-level {
    background: #e30613 !important;
}

.section-point-votes .reputation-stat:nth-of-type(1).active .reputation-level {
    background: #541912 !important;
}

.section-point-votes .reputation-stat {
    padding: 4px 0;
}

.section-point-votes .reputation-stat .left-content {
    width: 90px;
    display: inline-block;
}

.section-point-votes .reputation-stat .reputation-circle {
    width: 10px;
    height: 10px;
}

.section-point-votes .reputation-stat .reputation-circle circle {
    r: 4px;
    fill: #BBB;
}

.section-point-votes .reputation-stat .reputation-level {
    transform: translateY(-50%);
    background: #BBB ;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
}

.section-point-votes .external-links {
    text-align: center;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-point-votes .external-links a {
    color: #8CF;
}

.section-point-votes .external-links .divider {
    color: #BBB;
    margin: 0 4px;
}