<div class="section-point-votes box-shadowed">
    <div class="point-name">Counter-Strike: Global Offensive</div>
    <div class="reputation-level">
        <span class="reputation-number good">7.6</span><!--
        --><svg xmlns="http://www.w3.org/2000/svg" class="reputation-circle good">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
        </svg><!--
        --><svg xmlns="http://www.w3.org/2000/svg" class="reputation-circle good">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
        </svg><!--
        --><svg xmlns="http://www.w3.org/2000/svg" class="reputation-circle good">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
        </svg><!--
        --><svg xmlns="http://www.w3.org/2000/svg" class="reputation-circle good">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
        </svg><!--<!--
        --><svg xmlns="http://www.w3.org/2000/svg" class="reputation-circle">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
        </svg>
    </div>
    <div class="positive-vs-negative">
        <div style="width: 76.89%;"></div>
    </div>
    <div class="clearfix">
        <div class="positive-text">
            <p><a href="test">173</a> 篇好评</p>
        </div>
        <div class="negative-text">
            <p><a href="test">52</a> 篇差评</p>
        </div>
    </div>
    <div class="external-links">
        <a href="test">Steam 商店</a><span class="divider">|</span><a href="test">SteamDB</a>
    </div>
</div>