.section-point-votes {
    background: white;
    width: 100%;
    /* min-width: 200px; */
    padding: 10px;
}

.section-point-votes .point-name {
    font-size: 15px;
    text-align: center;
    margin: 12px 0 7px 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-point-votes .reputation-level {
    text-align: center;
    margin-bottom: 25px;
}

.section-point-votes .reputation-number {
    margin-right: 5px;
}

.section-point-votes .reputation-circle {
    text-align: center;
    display: inline-block;
    width: 10px;
    height: 8px;
    fill: #c7cdd1;
}

.section-point-votes .reputation-level .awesome {
    color: #00ab4e;
    fill: #00ab4e;
}

.section-point-votes .reputation-level .good {
    color: #71bf44;
    fill: #71bf44;
}

.section-point-votes .reputation-level .not-bad {
    color: #f7943e;
    fill: #f7943e;
}

.section-point-votes .reputation-level .bad {
    color: #e30613;
    fill: #e30613;
}

.section-point-votes .reputation-level .terrible {
    color: #541912;
    fill: #541912;
}

.section-point-votes .positive-vs-negative {
    background: #738a95;
    height: 5px;
    margin-bottom: 3px;
}

.section-point-votes .positive-vs-negative div {
    background: #11254a;
    height: 100%;
}

.section-point-votes .positive-vs-negative div.point-no-votes {
    background: #c7cdd1;
    height: 100%;
}

.section-point-votes [class$=-text] p {
    margin: 0;
}

.section-point-votes [class$=-text] a {
    color: #738a95;
}

.section-point-votes .positive-text {
    float: left;
}

.section-point-votes .negative-text {
    float: right;
    text-align: right;
}

.section-point-votes .external-links {
    text-align: center;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-point-votes .external-links a {
    color: #738a95;
}

.section-point-votes .external-links .divider {
    color: #c7cdd1;
    margin: 0 4px;
}