<div class="section-point-votes box-shadowed" ng-controller="PointVotesController">
    <div class="point-info">
        <div class="avatar-anchor">
            <img webp-src="{{point.AvatarImage |avatarUrl}}">
        </div>
        <div class="heading">
            <h1>{{utils.getPointFirstName(point)}}</h1>
            <h2>反恐精英{{utils.getPointSecondName(point)}}</h2>
        </div>
    </div>
    <div class="reputation-level">
        <span class="reputation-number {{point.voteCircles[0].type}}">{{point.votePercent}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" ng-repeat="voteCircle in point.voteCircles" class="reputation-circle {{voteCircle.type}}">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
        </svg>
    </div>
    <div style="width: {{point.votePercent * 10}}%;" ng-if="!point.noVotes"></div>
    <div class="external-links" ng-if="point.StoreLink">
        <a ng-href="{{point.StoreLink}}">Steam 商店</a><span class="divider">|</span><a ng-href="{{point.StoreLink | storeUrlToSteamDB}}">SteamDB</a>
    </div>
</div>