.section-point-staffs {
    background: white;
    width: 100%;
    min-width: 200px;
    padding: 15px 0 10px;
}

.section-point-staffs h1 {
    margin: 0 0 14px;
}

.section-point-staffs p {
    margin: 7px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section-point-staffs p span {
    float: right;
    color: #8CF;
}

.section-point-staffs p a {
    color: #333;
}