<div class="section-point-summary box-shadowed">
    <div class="background" webp-background="//keylol.b0.upaiyun.com/Banner_Personal_point.jpg!profile.point.background"></div>
    <div class="content">
        <a class="avatar-anchor">
            <img class="avatar-big" src="assets/images/exit.svg">
        </a>
        <h1 class="labeled-heading main-heading">
            <span class="text-block">Counter-Strike: Global Offensive<span class="subheading">反恐精英：全球攻势</span></span>
        </h1>
        <p class="summary">游戏据点 : 157 名读者 / 48 篇文章</p>
        <div class="actions">
            <button type="button" class="border-button bottom-border">编辑据点</button>
            <button type="button" class="border-button bottom-border subscribed">已订阅</button>
        </div>
    </div>
</div>