<div class="section-reception box-shadowed" ng-controller="ReceptionController">
    <div class="quick-link">
        <h1 class="labeled-heading">快速链接</h1>
        <ul>
            <li ng-repeat="link in quickLinks"><a ng-href="{{link.url}}">{{link.name}}</a></li>
            <li><a ng-href="#" popup="showTestHover" ng-mouseenter="testHover($event)">测试据点卡片</a></li>
        </ul>
    </div>
    <div class="recent-link">
        <h1 class="labeled-heading">最近访问</h1>
        <ul>
            <li ng-repeat="link in recentLinks"><a ng-href="{{link.url}}">{{link.name}}</a></li>
        </ul>
    </div>
</div>