<div class="section-reception box-shadowed" ng-controller="ReceptionController">
    <div class="quick-link">
        <h1 class="labeled-heading">收藏夹</h1>
        <ul>
            <li ng-repeat="link in quickLinks"><span class="delete">x</span><point-link type="'normal-point'" id-code="link.idCode" point-name="link.name"></point-link></li>
        </ul>
        <a ng-if="isInPoint" href="test" class="add">添加当前据点</a>
    </div>
    <div class="recent-link">
        <h1 class="labeled-heading">最近访问</h1>
        <ul>
            <li ng-repeat="link in recentLinks"><a ng-href="{{link.url}}">{{link.name}}</a></li>
        </ul>
    </div>
</div>