<div class="section-related-points box-shadowed" ng-controller="RelatedPointsController">
    <div class="clearfix heading font-myriad-keylol">
        <div class="exit" ng-include="'assets/images/exit.svg'"></div>
        <svg class="parking" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34">
            <rect width="34" height="34" fill="#738a95"/>
            <text fill="#e8edf0" font-size="33" x="17" y="28" text-anchor="middle">R</text>
        </svg>
        <p>关联据点</p>
        <p>Relations</p>
    </div>
    <div ng-repeat="point in union.associatedPoints track by point.Id" class="point">
        <p>
            <a ng-href="point/{{point.IdCode}}">{{utils.getPointFirstName(point)}}</a>
        </p>
        <p>
            <span>[{{utils.getPointType(point.Type)}}]</span>
            <span>{{utils.getPointSecondName(point)}}</span>
        </p>
    </div>
</div>