<div class="section-secret-tests box-shadowed" ng-controller="SecretTestsController">
    <h1 class="labeled-heading">神秘测试</h1>
    <div class="tests">
        <a href="alpha">内测首页</a>
        <a href="" ng-click="showEditor()">编辑器</a>
        <a href="post">邮政页</a>
        <a href="comments">评论页</a>
        <a href="searchResults">搜索结果页</a>
        <a href="acknowledgements">认同页</a>
        <a href="point/TMFT2">据点页</a>
        <a href="article/STACK/1">文章页</a>
        <a href="" ng-click="showFeedback(0, $event)" popup="onFeedback">操作反馈(成功)</a>
        <a href="" ng-click="showFeedback(1, $event)">操作反馈(错误)</a>
        <a href="" ng-click="showFeedback(2, $event)">操作反馈(注意)</a>
    </div>
</div>