<div class="section-spotlight-banner box-shadowed">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" viewBox="0 0 606 175">
        <defs>
            <style>
                .cls-3 { fill: #11254a; }

                .cls-4 {
                    font-size: 16px;
                    font-family: "Myriad Pro", "Keylol Rail Sung";
                }

                .cls-5 {
                    fill: #ffffff;
                    text-anchor: middle;
                    font-size: 17px;
                }

                .cls-6 {
                    font-size: 13px;
                    font-family: "Microsoft YaHei UI", "Microsoft JhengHei UI";
                }

                .cls-7 {
                    fill: #11254a;
                    text-anchor: end;
                    font-size: 12px;
                }

                .cls-9 { fill: #07a23c; }

                .cls-15 {
                    fill: #ffffff;
                    stroke: #00214f;
                    stroke-width: 2px;
                }

                .cls-16 {
                    filter: url(#outer-glow-1);
                    font-size: 12px;
                }

                .cls-17 {
                    fill: #11254a;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: "Myriad Pro", LiSong;
                }

                .cls-18 {
                    fill: #11254a;
                    font-size: 10px;
                    font-family: "Myriad Pro";
                }

                .cls-36 { fill: #eb0003; }

                .cls-77 { fill: #58b6dd; }
            </style>
            <filter id="outer-glow-1" filterUnits="userSpaceOnUse">
                <fegaussianblur stdDeviation="0.666" in="SourceAlpha"/>
                <fecomposite/>
                <fecomposite/>
                <fecomposite result="outerGlowBlur"/>
                <feflood flood-color="#ffffff" flood-opacity="1"/>
                <fecomposite operator="in" in2="outerGlowBlur"/>
                <fecomposite in="SourceGraphic" result="outerGlow"/>
            </filter>
        </defs>
        <g id="m0-advsvg">
            <rect id="rect-1" class="cls-3" x="404" y="128" width="200" height="27"/>
            <text class="cls-4" x="504px" y="147px"><tspan x="504px" class="cls-5">由你筛选的游戏讯息轨道</tspan></text>
            <text class="cls-6" x="100%" y="170px"><tspan x="100%" startOffset="100%" dx="-3px" class="cls-7">其乐 是一个没有沉余信息的玩家综合网络</tspan></text>
            <g id="c">
                <path d="M186.358,126.178 C186.358,126.178 182.822,122.642 182.822,122.642 C182.822,122.642 214.642,90.822 214.642,90.822 C214.642,90.822 218.178,94.358 218.178,94.358 C218.178,94.358 186.358,126.178 186.358,126.178 Z" id="path-1" class="cls-9" fill-rule="evenodd"/>
                <path d="M214.000,96.000 C214.000,96.000 214.000,91.000 214.000,91.000 C214.000,91.000 259.000,91.000 259.000,91.000 C259.000,91.000 259.000,96.000 259.000,96.000 C259.000,96.000 214.000,96.000 214.000,96.000 Z" id="path-2" class="cls-9" fill-rule="evenodd"/>
                <path d="M256.000,96.000 C256.000,96.000 256.000,91.000 256.000,91.000 C256.000,91.000 301.000,91.000 301.000,91.000 C301.000,91.000 301.000,96.000 301.000,96.000 C301.000,96.000 256.000,96.000 256.000,96.000 Z" id="path-3" class="cls-9" fill-rule="evenodd"/>
                <path d="M295.000,96.000 C295.000,96.000 295.000,91.000 295.000,91.000 C295.000,91.000 340.000,91.000 340.000,91.000 C340.000,91.000 340.000,96.000 340.000,96.000 C340.000,96.000 295.000,96.000 295.000,96.000 Z" id="path-4" class="cls-9" fill-rule="evenodd"/>
                <path d="M336.000,96.000 C336.000,96.000 336.000,91.000 336.000,91.000 C336.000,91.000 381.000,91.000 381.000,91.000 C381.000,91.000 381.000,96.000 381.000,96.000 C381.000,96.000 336.000,96.000 336.000,96.000 Z" id="path-5" class="cls-9" fill-rule="evenodd"/>
                <path d="M377.000,96.000 C377.000,96.000 377.000,91.000 377.000,91.000 C377.000,91.000 422.000,91.000 422.000,91.000 C422.000,91.000 422.000,96.000 422.000,96.000 C422.000,96.000 377.000,96.000 377.000,96.000 Z" id="path-6" class="cls-9" fill-rule="evenodd"/>
                <circle id="circle-1" class="cls-15" cx="420" cy="94" r="5"/>
                <text class="cls-16" x="413px" y="74px">
                    <tspan class="cls-17">独立游戏</tspan>
                    <tspan x="413px" y="86px" class="cls-18">Indie Games</tspan>
                </text>
                <circle id="circle-2" class="cls-15" cx="379" cy="94" r="5"/>
                <text class="cls-16" x="371px" y="113px">
                    <tspan class="cls-17">泰拉瑞亚</tspan>
                    <tspan x="371px" y="125px" class="cls-18">Terraria</tspan>
                </text>
                <circle id="circle-3" class="cls-15" cx="338" cy="94" r="5"/>
                <text class="cls-16" x="330px" y="74px">
                    <tspan class="cls-17">僵尸末日</tspan>
                    <tspan x="330px" y="86px" class="cls-18">DayZ</tspan>
                </text>
                <circle id="circle-4" class="cls-15" cx="298" cy="94" r="5"/>
                <text class="cls-16" x="289px" y="113px">
                    <tspan class="cls-17">原声控</tspan>
                    <tspan x="289px" y="125px" class="cls-18">OST Collection</tspan>
                </text>
                <circle id="circle-5" class="cls-15" cx="257" cy="94" r="5"/>
                <text class="cls-16" x="249px" y="74px">
                    <tspan class="cls-17">折扣资讯</tspan>
                    <tspan x="249px" y="86px" class="cls-18">Sales</tspan>
                </text>
            </g>
            <g id="b">
                <path d="M316.000,31.000 C316.000,31.000 316.000,36.000 316.000,36.000 C316.000,36.000 271.000,36.000 271.000,36.000 C271.000,36.000 271.000,31.000 271.000,31.000 C271.000,31.000 316.000,31.000 316.000,31.000 Z" id="path-7" class="cls-36" fill-rule="evenodd"/>
                <path d="M362.000,31.000 C362.000,31.000 362.000,36.000 362.000,36.000 C362.000,36.000 317.000,36.000 317.000,36.000 C317.000,36.000 317.000,31.000 317.000,31.000 C317.000,31.000 362.000,31.000 362.000,31.000 Z" id="path-8" class="cls-36" fill-rule="evenodd"/>
                <text class="cls-16" x="371px" y="34px">
                    <tspan class="cls-17">即时策略</tspan>
                    <tspan x="371px" y="46px" class="cls-18">RTS Games</tspan>
                </text>
                <circle id="circle-6" class="cls-15" cx="364" cy="34" r="5"/>
                <circle id="circle-7" class="cls-15" cx="318" cy="34" r="5"/>
                <text class="cls-16" x="305px" y="12px">
                    <tspan class="cls-17">塔防</tspan>
                    <tspan x="305px" y="24px" class="cls-18">TD Games</tspan>
                </text>
                <path d="M265.000,31.000 C265.000,31.000 265.000,36.000 265.000,36.000 C265.000,36.000 220.000,36.000 220.000,36.000 C220.000,36.000 220.000,31.000 220.000,31.000 C220.000,31.000 265.000,31.000 265.000,31.000 Z" id="path-9" class="cls-36" fill-rule="evenodd"/>
                <circle id="circle-8" class="cls-15" cx="267" cy="34" r="5"/>
                <text class="cls-16" x="245px" y="12px">
                    <tspan class="cls-17">模拟城市</tspan>
                    <tspan x="245px" y="24px" class="cls-18">SIM Cities</tspan>
                </text>
                <path d="M123.000,122.000 C123.000,122.000 123.000,127.000 123.000,127.000 C123.000,127.000 78.000,127.000 78.000,127.000 C78.000,127.000 78.000,122.000 78.000,122.000 C78.000,122.000 123.000,122.000 123.000,122.000 Z" id="path-10" class="cls-36" fill-rule="evenodd"/>
                <text class="cls-16" x="123px" y="143px">
                    <tspan class="cls-17">红色警戒</tspan>
                    <tspan x="123px" y="155px" class="cls-18">Red Alert</tspan>
                </text>
                <path d="M185.358,67.178 C185.358,67.178 181.822,63.642 181.822,63.642 C181.822,63.642 213.642,31.822 213.642,31.822 C213.642,31.822 217.178,35.358 217.178,35.358 C217.178,35.358 185.358,67.178 185.358,67.178 Z" id="path-11" class="cls-36" fill-rule="evenodd"/>
                <path d="M154.358,97.178 C154.358,97.178 150.822,93.642 150.822,93.642 C150.822,93.642 182.642,61.822 182.642,61.822 C182.642,61.822 186.178,65.358 186.178,65.358 C186.178,65.358 154.358,97.178 154.358,97.178 Z" id="path-12" class="cls-36" fill-rule="evenodd"/>
                <path d="M124.358,128.178 C124.358,128.178 120.822,124.642 120.822,124.642 C120.822,124.642 152.642,92.822 152.642,92.822 C152.642,92.822 156.178,96.358 156.178,96.358 C156.178,96.358 124.358,128.178 124.358,128.178 Z" id="path-13" class="cls-36" fill-rule="evenodd"/>
                <circle id="circle-9" class="cls-15" cx="216" cy="34" r="5"/>
                <circle id="circle-10" class="cls-15" cx="125" cy="125" r="5"/>
                <path d="M72.000,122.000 C72.000,122.000 72.000,127.000 72.000,127.000 C72.000,127.000 27.000,127.000 27.000,127.000 C27.000,127.000 27.000,122.000 27.000,122.000 C27.000,122.000 72.000,122.000 72.000,122.000 Z" id="path-14" class="cls-36" fill-rule="evenodd"/>
                <text class="cls-16" x="61px" y="143px">
                    <tspan class="cls-17">文明</tspan>
                    <tspan x="61px" y="155px" class="cls-18">Civilization</tspan>
                </text>
                <circle id="circle-11" class="cls-15" cx="74" cy="125" r="5"/>
                <text class="cls-16" x="1px" y="105px">
                    <tspan class="cls-17">上帝视角</tspan>
                    <tspan x="1px" y="117px" class="cls-18">God Games</tspan>
                </text>
                <circle id="circle-12" class="cls-15" cx="26" cy="125" r="5"/>
                <text class="cls-16" x="203px" y="12px">
                    <tspan class="cls-17">孢子</tspan>
                    <tspan x="203px" y="24px" class="cls-18">Spore</tspan>
                </text>
                <circle id="circle-13" class="cls-15" cx="184" cy="64" r="5"/>
                <text class="cls-16" x="193px" y="63px">
                    <tspan class="cls-17">橘子</tspan>
                    <tspan x="193px" y="75px" class="cls-18">Origin</tspan>
                </text>
            </g>
            <g id="a">
                <rect id="rect-2" class="cls-77" x="57" y="20" width="5" height="45"/>
                <path d="M96.178,93.642 C96.178,93.642 92.642,97.178 92.642,97.178 C92.642,97.178 60.822,65.358 60.822,65.358 C60.822,65.358 64.358,61.822 64.358,61.822 C64.358,61.822 96.178,93.642 96.178,93.642 Z" id="path-15" class="cls-77" fill-rule="evenodd"/>
                <path d="M94.000,96.000 C94.000,96.000 94.000,91.000 94.000,91.000 C94.000,91.000 153.000,91.000 153.000,91.000 C153.000,91.000 153.000,96.000 153.000,96.000 C153.000,96.000 94.000,96.000 94.000,96.000 Z" id="path-16" class="cls-77" fill-rule="evenodd"/>
                <circle id="circle-14" class="cls-15" cx="60" cy="21" r="5"/>
                <text class="cls-16" x="69px" y="20px">
                    <tspan class="cls-17">侠盗猎车手 5</tspan>
                    <tspan x="69px" y="32px" class="cls-18">Grand Theif Auto V</tspan>
                </text>
                <circle id="circle-15" class="cls-15" cx="60" cy="61" r="5"/>
                <text class="cls-16" x="69px" y="60px">
                    <tspan class="cls-17">使命召唤</tspan>
                    <tspan x="69px" y="72px" class="cls-18">Call of Duty</tspan>
                </text>
                <circle id="circle-16" class="cls-15" cx="95" cy="94" r="5"/>
                <text class="cls-16" x="104px" y="93px">
                    <tspan class="cls-17">时空枪</tspan>
                    <tspan x="104px" y="105px" class="cls-18">Portal</tspan>
                </text>
                <path d="M187.178,123.642 C187.178,123.642 183.642,127.178 183.642,127.178 C183.642,127.178 151.822,95.358 151.822,95.358 C151.822,95.358 155.358,91.822 155.358,91.822 C155.358,91.822 187.178,123.642 187.178,123.642 Z" id="path-17" class="cls-77" fill-rule="evenodd"/>
                <path d="M218.178,153.642 C218.178,153.642 214.642,157.178 214.642,157.178 C214.642,157.178 182.822,125.358 182.822,125.358 C182.822,125.358 186.358,121.822 186.358,121.822 C186.358,121.822 218.178,153.642 218.178,153.642 Z" id="path-18" class="cls-77" fill-rule="evenodd"/>
                <circle id="circle-17" class="cls-15" cx="217" cy="154" r="5"/>
                <text class="cls-16" x="226px" y="153px">
                    <tspan class="cls-17">第一人称射击</tspan>
                    <tspan x="226px" y="165px" class="cls-18">FPS Games</tspan>
                </text>
                <circle id="circle-18" class="cls-15" cx="186" cy="124" r="5"/>
                <text class="cls-16" x="195px" y="123px">
                    <tspan class="cls-17">蒸汽</tspan>
                    <tspan x="195px" y="135px" class="cls-18">Steam</tspan>
                </text>
                <circle id="circle-19" class="cls-15" cx="155" cy="94" r="5"/>
                <text class="cls-16" x="164px" y="93px">
                    <tspan class="cls-17">桌面类</tspan>
                    <tspan x="164px" y="105px" class="cls-18">PC</tspan>
                </text>
            </g>
        </g>
    </svg>
</div>