.section-spotlight-banner {
    height: 100%;
    width: 100%;
    min-height: 70px;
    min-width: 616px;
    position: relative;
}

.section-spotlight-banner .banner {
    width: 200px;
    height: 91px;
    display: inline-block;
    background-color: white;
}

.section-spotlight-banner .banner:hover {
    background-color: #fafbfc;
}

.section-spotlight-banner .banner:not(:last-of-type) {
    margin-right: 20px;
}