<div class="section-summary box-shadowed" ng-controller="SummaryController">
    <div class="background" webp-background="{{ background.url }}"></div>
    <div class="content">
        <a class="avatar-anchor" ng-if="avatar">
            <img class="avatar-big" ng-src="{{ avatar.src }}">
        </a>
        <h1 class="labeled-heading main-heading">
            <span class="text-block">{{ head.mainHead }}<span class="subheading">{{ head.subHead }}</span></span>
        </h1>
        <p class="summary" ng-if="pointSum">{{ pointSum.type }}据点 : {{ pointSum.readerNum }} 名读者 / {{ pointSum.articleNum }} 篇文章</p>
        <p class="summary" ng-if="defaultSum">{{ defaultSum.text }}</p>
        <div class="actions">
            <button type="button" ng-repeat="action in actions" class="border-button bottom-border" ng-class="action.extraClass">{{ action.text }}</button>
        </div>
    </div>
</div>