<div class="section-timeline" ng-controller="TimelineController">
    <div class="heading inverse">
        <a href="{{rightButton.href}}" class="right-button box-shadowed">
            <img ng-src="{{rightButton.avatar}}" alt="{{rightButton.alt}}">
        </a>
        <div class="left-info box-shadowed card">
            <svg xmlns="http://www.w3.org/2000/svg" class="card-line">
                <rect x="6" width="5" height="100%"></rect>
                <circle cx="8.5" cy="50%" r="5"></circle>
            </svg>
            <div class="title font-myriad-keylol">
                <h1>{{title.mainTitle}}</h1>
                <h2>{{title.subTitle}}</h2>
            </div>
        </div>
    </div>
    <div class="entry card" ng-repeat="entry in entries">
        <svg xmlns="http://www.w3.org/2000/svg" class="card-line">
            <rect x="6" width="5" height="100%"></rect>
            <circle cx="8.5" cy="42" r="5"></circle>
        </svg>
        <div class="entry-heading">
            <div class="entry-author">
                <a class="avatar-anchor" href="test">
                    <img class="avatar-small" ng-src="{{entry.author.avatarUrl}}" alt="头像">
                </a>
                <h4>
                    <a href="test">@{{entry.author.username}}</a>
                </h4>
            </div>
            <h3>
                <span class="entry-type font-myriad-keylol" ng-repeat="type in entry.types">{{type}}</span>
                <span>
                    <a ng-href="{{source.url}}" ng-repeat="source in entry.sources">「{{source.name}}」</a>
                    <span ng-if="entry.privateMesNum">{{entry.privateMesNum.number}} 条对话</span>
                </span>
            </h3>
        </div>
        <div class="entry-content clearfix box-shadowed-glowed">
            <img ng-if="entry.thumbnail" class="thumbnail" webp-src="{{entry.thumbnail}}" alt="预览图">
            <span ng-if="postDatetime"></span>
            <div class="summary">
                <h3 ng-if="entry.title">
                    <a ng-href="{{entry.url}}">{{entry.title}}</a>
                </h3>
                <p ng-class="{'two-line': !entry.thumbnail}">{{entry.summary}}</p>
            </div>
        </div>
        <footer>
            <span class="counts" ng-if="entry.count"><span>[+1] {{entry.count.like}}</span><span>(···) {{entry.count.comment}}</span></span>
            <span class="datetime" am-time-ago="entry.datetime"></span>
            <span class="likes" ng-if="entry.count.like">Stackia、Lee. 赞了这篇文章</span>
        </footer>
    </div>
</div>