<div class="section-timeline" ng-controller="TimelineController">
    <div class="heading inverse">
        <a href="test" class="right-button box-shadowed">
            <img src="assets/images/edit-pen.png" alt="发表新文章">
        </a>
        <div class="left-info box-shadowed card">
            <svg xmlns="http://www.w3.org/2000/svg" class="card-line">
                <rect x="6" width="5" height="100%"></rect>
                <circle cx="8.5" cy="50%" r="5"></circle>
            </svg>
            <div class="title font-myriad-keylol">
                <h1>讯息轨道</h1>
                <h2>Timeline</h2>
            </div>
        </div>
    </div>
    <div class="entry card" ng-repeat="entry in entries">
        <svg xmlns="http://www.w3.org/2000/svg" class="card-line">
            <rect x="6" width="5" height="100%"></rect>
            <circle cx="8.5" cy="42" r="5"></circle>
        </svg>
        <div class="entry-heading">
            <div class="entry-author">
                <a class="avatar-anchor" href="test">
                    <img class="avatar-small" ng-src="{{entry.author.avatarUrl}}" alt="头像">
                </a>
                <h4>
                    <a href="test">@{{entry.author.username}}</a>
                </h4>
            </div>
            <h3>
                <span class="entry-type font-myriad-keylol" ng-repeat="type in entry.types">{{type}}</span>
                <span><a ng-href="{{source.url}}" ng-repeat="source in entry.sources">「{{source.name}}」</a></span>
            </h3>
        </div>
        <div class="entry-content clearfix box-shadowed-glowed">
            <img ng-if="entry.thumbnail" class="thumbnail" webp-src="{{entry.thumbnail}}" alt="预览图">
            <div class="summary">
                <h3>
                    <a ng-href="{{entry.url}}">{{entry.title}}</a>
                </h3>
                <p ng-class="{'two-line': !entry.thumbnail}">{{entry.summary}}</p>
            </div>
        </div>
        <footer>
            <span class="counts"><span>[+1] {{entry.likeCount}}</span><span>(···) {{entry.commentCount}}</span></span>
            <span class="datetime" am-time-ago="entry.datetime"></span>
            <span class="likes">Stackia、Lee. 赞了这篇文章</span>
        </footer>
    </div>
</div>