.section-timeline-new {
    width: 100%;
    min-width: 554px;
}

/* Card & Card Line */
.section-timeline-new .card .card-line {
    position: absolute;
    height: 100%;
    width: 17px;
    left: 13px;
    top: 0;
    fill: #11254a;
}

.section-timeline-new .card .card-line circle {
    r: 4px;
    fill: white;
}

.section-timeline-new .card .card-line circle.inverse {
    r: 6.5px;
    fill: #11254a;
}

/* ------- */
/* Heading */
/* ------- */

/* Title */
.section-timeline-new .heading .title {
    color: #11254a;
    padding: 7px 0 6px;
    margin-left: 2px;
}

.section-timeline-new .heading .title h1 {
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 1px;
}

.section-timeline-new .heading .title h2 {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.section-timeline-new .heading.inverse .title {
    color: white;
}

/* Card Line */
.section-timeline-new .heading .card-line rect {
    fill: #11254a;
}

.section-timeline-new .heading.inverse .card-line circle {
    fill: #11254a;
}

.section-timeline-new .heading.inverse .card-line circle.inverse {
    fill: white;
}

.section-timeline-new .heading.inverse .card-line rect {
    fill: white;
}

/* Layout */
.section-timeline-new .heading {
    position: relative;
}

.section-timeline-new .heading.hasRightButton {
    padding-right: 65px;
}

.section-timeline-new .heading .left-info,
.section-timeline-new .heading .right-button {
    background-color: white;
}

.section-timeline-new .heading.inverse .left-info,
.section-timeline-new .heading.inverse .right-button {
    background-color: #11254a;
}

.section-timeline-new .heading .left-info {
    overflow: hidden;
    position: relative;
    padding-left: 31px;
}

.section-timeline-new .heading .left-info .expand-button {
    color: #C7CDD1;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.section-timeline-new .heading .left-info .expand-button a {
    color: #C7CDD1;
    margin-right: 3px;
}

.section-timeline-new .heading .left-info .expand-button.expanded {
    color: white;
}

.section-timeline-new .heading .left-info .expand-button.expanded a {
    color: white;
}

.section-timeline-new .heading .left-info .expand-button a:hover {
    text-decoration: none;
}

.section-timeline-new .heading .left-info .expand-button span {
    font-family: "Keylol Rail Sung", serif;
}

.section-timeline-new .heading .left-info .expand-button:hover a {
    text-decoration: underline;
}

.section-timeline-new .heading .left-info .actions {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.section-timeline-new .heading .left-info .actions a {
    color: #C7CDD1;
    margin-left: 25px;
}

.section-timeline-new .heading .left-info .actions a.active {
    color: white;
}

.section-timeline-new .heading .right-button {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    overflow: hidden;
}

.section-timeline-new .heading .right-button:hover {
    background-color: #344565;
}

.section-timeline-new .heading .right-button img {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.3s;
}

.section-timeline-new .heading .right-button:hover img {
    transform: translate(-100%, -50%);
    opacity: 0;
}

.section-timeline-new .heading .right-button span {
    color: white;
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    opacity: 0;
    transition: 0.3s;
}

.section-timeline-new .heading .right-button:hover span {
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* ------- */
/* Default */
/* ------- */

.section-timeline-new .default {
    text-align: center;
}

.section-timeline-new .default .clipart {
    width: 100%;
}

.section-timeline-new .default .description {
    display: inline-block;
    text-align: right;
}

.section-timeline-new .default .description h1 {
    margin: 20px 0 0 0;
    color: #11254A;
    font-size: 24px;
    font-weight: normal;
}

.section-timeline-new .default .description h3 {
    margin: 3px 0 18px 0;
    color: #C7CDD1;
    font-size: 15px;
    font-weight: normal;
}

.section-timeline-new .default ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-timeline-new .default li {
    padding: 10px;
    float: left;
    width: 193.33px;
    height: 32px;
}

.section-timeline-new .default li .avatar-anchor {
    float: left;
}

.section-timeline-new .default li .avatar-anchor img {
    width: 32px;
    height: 32px;
}

.section-timeline-new .default li .title {
    float: left;
    margin-left: 14px;
}

.section-timeline-new .default li .title p {
    margin: 0;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
}

.section-timeline-new .default li .title p:first-of-type {
    color: #11254A;
    font-weight: bold;
}

.section-timeline-new .default li .title p span {
    color: #748a97;
}

.section-timeline-new .default li.search .fake-input {
    display: inline-block;
    width: 128px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    cursor: text;
    margin-top: 3.5px;
    padding-left: 6px;
    line-height: 25px;
    color: #c7cdd1;
}

/* ----- */
/* Entry */
/* ----- */

.section-timeline-new .entry {
    position: relative;
    padding-top: 20px;
}

.section-timeline-new .entry .card-line-background {
    position: absolute;
    height: 100%;
    width: 17px;
    left: 13px;
    top: 0;
    fill: #c7cdd1;
}

.section-timeline-new .entry .card {
    position: relative;
    background-color: white;
    padding-left: 31px;
    padding-right: 13px;
    padding-bottom: 10px;
}

.section-timeline-new .entry.ng-enter {
    transition-duration: 0.6s;
}

.section-timeline-new .entry.ng-enter .card-line {
    transform: scale(1,0);
    transform-origin: left top;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.section-timeline-new .entry.ng-enter-active .card-line {
    transform: scale(1,1);
}

.section-timeline-new .entry.ng-enter .card {
    transition-duration: 0.3s;
    transition-delay: 0.3s;
    transform: translateX(-15%);
    opacity: 0;
}

.section-timeline-new .entry.ng-enter-active .card {
    transform: translateX(0);
    opacity: 1;
}



.section-timeline-new .entry.ng-enter .card-line .inverse {
    transition-delay: 1s;
}

/* Source */
.section-timeline-new .entry-source {
    padding-top: 15px;
    padding-bottom: 10px;
}
.section-timeline-new .entry-source a,
.section-timeline-new .entry-source span {
    color: #c7cdd1;
}

/* Main */
.section-timeline-new .entry-main {
    margin-left: 4px;
    margin-right: 2px;
    padding-top: 15px;
}

.section-timeline-new .entry-main.has-sources {
    border-top: 1px solid #c7cdd1;
}

/* Heading */
.section-timeline-new .entry-heading {
    margin-bottom: 10px;
    margin-left: 2px;
}

.section-timeline-new .entry-heading h3 {
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-timeline-new .entry-heading .entry-type {
    margin-right: 5px;
}

.section-timeline-new .entry-heading .entry-new {
    width: 7px;
    height: 7px;
}

.section-timeline-new .entry-heading .entry-new circle {
    fill: #f38b00;
}

.section-timeline-new .entry-heading .entry-author {
    float: right;
    width: 184px;
}

.section-timeline-new .entry-heading .entry-author .avatar-anchor {
    float: right;
    margin-left: 6px;
}

.section-timeline-new .entry-heading .entry-author img {
    width: 24px;
    height: 24px;
}

.section-timeline-new .entry-heading .entry-author h4 {
    line-height: 26px;
    height: 26px;
    font-weight: normal;
    margin: 0;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Content */
.section-timeline-new .entry-content {
    position: relative;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 10px;
    height: 175px;
    z-index: 0;
}
.section-timeline-new .entry-content.free-height {
    height: auto;
}

.section-timeline-new .entry-content .thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
}

.section-timeline-new .entry-content .background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-timeline-new .entry-content .summary {
    position: relative;
    top: 111px;
    background-color: rgba(256,256,256,0.85);
    padding: 8px 10px;
}

.section-timeline-new .entry-content.free-height .summary {
    top: 0;
}

.section-timeline-new .entry-content:hover .summary {
    background-color: rgba(256,256,256,0.75);
}

.section-timeline-new .entry-content h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding-top: 1px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-timeline-new .entry-content:hover h3 a {
    text-decoration: underline;
}

.section-timeline-new .entry-content p {
    margin: 0;
    line-height: 18px;
    word-break: break-all;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-timeline-new .entry-content.free-height p {
    height: auto;
    max-height: 54px;
    white-space: normal;
}

/* Footer */
.section-timeline-new .entry footer {
    text-align: center;
    color: #c7cdd1;
    height: 26px;
    line-height: 26px;
    margin-top: 6px;
}

.section-timeline-new .entry footer .datetime {
    float: left;
}

.section-timeline-new .entry footer .delete {
    float: right;
    color: #748a97;
    margin-left: 10px;
}

.section-timeline-new .entry footer .likes {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
}

.section-timeline-new .entry footer .counts {
    float: right;
}

.section-timeline-new .entry footer .counts span {
    display: inline-block;
    margin-left: 15px;
}

.section-timeline-new .entry footer .counts span:first-of-type {
    margin-left: 0;
}

.section-timeline-new .card-end rect {
    fill: #c7cdd1;
}

.section-timeline-new .search-not-found {
    margin-top: 50px;
    text-align: center;
}

.section-timeline-new .search-not-found h1 {
    color: #C7CDD1;
    font-weight: normal;
}

.section-timeline-new .loading {
    margin: 5px 10px;
}