.section-timeline {
    width: 100%;
    min-width: 554px;
}

/* Card & Card Line */
.section-timeline .card {
    position: relative;
    padding-left: 31px;
}

.section-timeline .card .card-line {
    position: absolute;
    height: 100%;
    width: 17px;
    left: 13px;
    top: 0;
    fill: #11254a;
}

.section-timeline .card .card-line circle {
    r: 4px;
    fill: white;
}

.section-timeline .card .card-line circle.inverse {
    r: 6.5px;
    fill: #11254a;
}

/* ------- */
/* Heading */
/* ------- */

/* Title */
.section-timeline .heading .title {
    color: #11254a;
    padding: 7px 0 6px;
    margin-left: 2px;
}

.section-timeline .heading .title h1 {
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 1px;
}

.section-timeline .heading .title h2 {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.section-timeline .heading.inverse .title {
    color: white;
}

/* Card Line */
.section-timeline .heading .card-line rect {
    fill: #11254a;
}

.section-timeline .heading.inverse .card-line circle {
    fill: #11254a;
}

.section-timeline .heading.inverse .card-line circle.inverse {
    fill: white;
}

.section-timeline .heading.inverse .card-line rect {
    fill: white;
}

/* Layout */
.section-timeline .heading {
    position: relative;
}

.section-timeline .heading.hasRightButton {
    padding-right: 65px;
}

.section-timeline .heading .left-info,
.section-timeline .heading .right-button {
    background-color: white;
}

.section-timeline .heading.inverse .left-info,
.section-timeline .heading.inverse .right-button {
    background-color: #11254a;
}

.section-timeline .heading .left-info {
    overflow: hidden;
}

.section-timeline .heading .left-info .expand-button {
    color: #C7CDD1;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.section-timeline .heading .left-info .expand-button a {
    color: #C7CDD1;
    margin-right: 3px;
}

.section-timeline .heading .left-info .expand-button.expanded {
    color: white;
}

.section-timeline .heading .left-info .expand-button.expanded a {
    color: white;
}

.section-timeline .heading .left-info .expand-button a:hover {
    text-decoration: none;
}

.section-timeline .heading .left-info .expand-button span {
    font-family: "Keylol Rail Sung", serif;
}

.section-timeline .heading .left-info .expand-button:hover a {
    text-decoration: underline;
}

.section-timeline .heading .left-info .actions {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.section-timeline .heading .left-info .actions a {
    color: #C7CDD1;
    margin-left: 25px;
}

.section-timeline .heading .left-info .actions a.active {
    color: white;
}

.section-timeline .heading .right-button {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    overflow: hidden;
}

.section-timeline .heading .right-button:hover {
    background-color: #344565;
}

.section-timeline .heading .right-button img {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.3s;
}

.section-timeline .heading .right-button:hover img {
    transform: translate(-100%, -50%);
    opacity: 0;
}

.section-timeline .heading .right-button span {
    color: white;
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    opacity: 0;
    transition: 0.3s;
}

.section-timeline .heading .right-button:hover span {
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* ------- */
/* Default */
/* ------- */

.section-timeline .default {
    text-align: center;
}

.section-timeline .default .clipart {
    width: 100%;
}

.section-timeline .default .description {
    display: inline-block;
    text-align: right;
}

.section-timeline .default .description h1 {
    margin: 20px 0 0 0;
    color: #11254A;
    font-size: 24px;
    font-weight: normal;
}

.section-timeline .default .description h3 {
    margin: 3px 0 18px 0;
    color: #C7CDD1;
    font-size: 15px;
    font-weight: normal;
}

.section-timeline .default ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-timeline .default li {
    padding: 10px;
    float: left;
    width: 193.33px;
    height: 32px;
}

.section-timeline .default li .avatar-anchor {
    float: left;
}

.section-timeline .default li .avatar-anchor img {
    width: 32px;
    height: 32px;
}

.section-timeline .default li .title {
    float: left;
    margin-left: 14px;
}

.section-timeline .default li .title p {
    margin: 0;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
}

.section-timeline .default li .title p:first-of-type {
    color: #11254A;
    font-weight: bold;
}

.section-timeline .default li .title p span {
    color: #748a97;
}

.section-timeline .default li.search .fake-input {
    display: inline-block;
    width: 128px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    cursor: text;
    margin-top: 3.5px;
    padding-left: 6px;
    line-height: 25px;
    color: #c7cdd1;
}

/* ----- */
/* Entry */
/* ----- */

.section-timeline .entry {
    padding-top: 30px;
    padding-right: 14px;
}

.section-timeline .entry.ng-enter {
    transition-duration: 0.8s;
}

.section-timeline .entry.ng-enter .card-line {
    transform: scale(1,0);
    transform-origin: left top;
    transition-duration: 0.1s;
}

.section-timeline .entry.ng-enter-active .card-line {
    transform: scale(1,1);
}

.section-timeline .entry.ng-enter .card-line circle {
    transition-duration: 0.3s;
    transition-delay: 0.4s;
    r: 0;
}

.section-timeline .entry.ng-enter .card-line circle.inverse {
    transition-delay: 0.1s;
}

.section-timeline .entry.ng-enter-active .card-line circle {
    r: 4px;
}

.section-timeline .entry.ng-enter-active .card-line .inverse {
    r: 6.5px;
}

.section-timeline .entry.ng-enter .entry-heading,
.section-timeline .entry.ng-enter footer,
.section-timeline .entry.ng-enter .entry-content {
    transition-duration: 0.4s;
    transition-delay: 0.7s;
    transform: translateX(-15%);
    opacity: 0;
}

.section-timeline .entry.ng-enter-active .entry-heading,
.section-timeline .entry.ng-enter-active footer,
.section-timeline .entry.ng-enter-active .entry-content {
    transform: translateX(0);
    opacity: 1;
}



.section-timeline .entry.ng-enter .card-line .inverse {
    transition-delay: 1s;
}

/* Heading */
.section-timeline .entry-heading {
    margin-bottom: 10px;
    margin-left: 2px;
}

.section-timeline .entry-heading h3 {
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-timeline .entry-heading .entry-type {
    margin-right: 5px;
}

.section-timeline .entry-heading .entry-new {
    width: 7px;
    height: 7px;
}

.section-timeline .entry-heading .entry-new circle {
    fill: #f38b00;
}

.section-timeline .entry-heading .entry-author {
    float: right;
    width: 184px;
}

.section-timeline .entry-heading .entry-author .avatar-anchor {
    float: right;
    margin-left: 6px;
}

.section-timeline .entry-heading .entry-author img {
    width: 24px;
    height: 24px;
}

.section-timeline .entry-heading .entry-author h4 {
    line-height: 26px;
    height: 26px;
    font-weight: normal;
    margin: 0;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Content */
.section-timeline .entry-content {
    background-color: white;
    position: relative;
}

.section-timeline .entry-content.clickable {
    cursor: pointer;
}

.section-timeline .entry-content:hover {
    background-color: #fafbfc;
}

.section-timeline .entry-content .thumbnail {
    float: left;
    width: 210px;
    height: 118px;
    margin-right: 10px;
}

.section-timeline .entry-content .point-avatar {
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 3px;
}

.section-timeline .entry-content .point-avatar img {
    width: 45px;
    height: 45px;
    margin: 50% 0 0 50%;
    transform: translate(-50%, -50%);
}

.section-timeline .entry-content .datetime-in-block {
    padding: 8px 10px 0 10px;
    color: #C7CDD1;
}

.section-timeline .entry-content .summary {
    padding: 8px 10px;
}

.section-timeline .entry-content h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding-top: 1px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-timeline .entry-content p {
    margin: 0;
    line-height: 18px;
    max-height: 72px;
    overflow: hidden;
    word-break: break-all;
}

.section-timeline .entry-content p.two-line {
    height: 36px;
}

.section-timeline .entry-content p.one-line {
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-timeline .entry-content .actions {
    position: absolute;
    right: -5px;
    bottom: 0;
    text-align: right;
}

.section-timeline .entry-content .actions p {
    margin: 0;
    padding-bottom: 7px;
}

.section-timeline .entry-content .actions button {
    display: inline-block;
    margin-bottom: 7px;
}

/* Footer */
.section-timeline .entry footer {
    text-align: center;
    color: #748a97;
    height: 26px;
    line-height: 26px;
    margin-top: 6px;
    visibility: hidden;
}

.section-timeline .entry footer .datetime {
    float: left;
}

.section-timeline .entry footer .likes {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
}

.section-timeline .entry footer .counts {
    float: right;
}

.section-timeline .entry footer .counts span {
    display: inline-block;
    margin-left: 15px;
}

.section-timeline .entry footer .counts span:first-of-type {
    margin-left: 0;
}

.section-timeline .entry footer .comment-target {
    float: left;
}

.section-timeline .entry footer .delete {
    float: right;
    color: #748a97;
    margin-left: 10px;
}

.section-timeline .entry footer .comment-target a {
    color: #748a97;
}

.section-timeline .entry:hover footer {
    visibility: visible;
}

.section-timeline .card-end rect {
    fill: #11254a;
}

.section-timeline .search-not-found {
    margin-top: 50px;
    text-align: center;
}

.section-timeline .search-not-found h1 {
    color: #C7CDD1;
    font-weight: normal;
}

.section-timeline .loading {
    margin: 5px 10px;
}