<blockquote ng-switch="reasonText">
    <div ng-switch-when="政治敏感信息">
        <p>根据<a href="user_agreement.pdf" target="_blank">《其乐游戏社区 用户协议》</a>第 肆 章、第 1 条：</p>
        <p>任何调度职员或权限更高的站务团队成员，如合理地相信会员发布的文本或视像内容——</p>
        <ul>
            <li>a) 涉及法律、行政法规禁止的敏感信息；</li>
            <li>b) 可能导致社区受到行政处罚的信息。</li>
        </ul>
        <p>无论有无直接对象、是否忠于原意，皆可——</p>
        <ul>
            <li>a) 对内容作者或分享者发出惩教警告；</li>
            <li>b) 将内容封存；</li>
            <li>c) 编辑内容并移除涉事信息。</li>
        </ul>
    </div>
    <div ng-switch-when="淫秽信息或引起生理反感">
        <p>根据<a href="user_agreement.pdf" target="_blank">《其乐游戏社区 用户协议》</a>第 肆 章、第 3 条：</p>
        <p>任何据点职员或权限更高的站务团队成员，如合理地相信会员发布的文本或视像内容涉及色情、淫秽或可能引发生理反感的内容，可——</p>
        <ul>
            <li>a) 对内容作者或分享者发出惩教警告；</li>
            <li>b) 将内容封存；</li>
            <li>c) 编辑内容并移除涉事信息。</li>
        </ul>
    </div>
    <div ng-switch-when="不友善言行">
        <p>根据<a href="user_agreement.pdf" target="_blank">《其乐游戏社区 用户协议》</a>第 肆 章、第 4 条：</p>
        <p>任何据点职员或权限更高的站务团队成员，如合理地相信会员发布的文本或视像内容——</p>
        <ul>
            <li>a) 羞辱、谩骂或以不文明的语言对他人进行负面评价；</li>
            <li>b) 捏造、散布虚假事实，损害他人名誉；</li>
            <li>c) 以比喻、夸张、侮辱性的手法对他人或其行为进行揭露或描述，以此来激怒他人；</li>
            <li>d) 通过激怒他人使对方对自己的言论作出回应，蓄意制造事端；</li>
            <li>e) 贬低他人的能力、行为、生理或身份特征，让对方难堪；</li>
            <li>f) 通过有限的论证反驳或抑制怀有建树性话题的个人、社群及其观点。</li>
        </ul>
        <p>无论有无直接对象、是否忠于原意，皆可——</p>
        <ul>
            <li>a) 对内容作者或分享者发出惩教警告；</li>
            <li>b) 将内容封存；</li>
            <li>c) 编辑内容并移除涉事信息。</li>
        </ul>
    </div>
    <div ng-switch-when="内容空洞">
        <p>根据<a href="user_agreement.pdf" target="_blank">《其乐游戏社区 用户协议》</a>第 肆 章、第 2 条：</p>
        <p>任何据点职员或权限更高的站务团队成员，如合理地相信会员发布的文本或视像内容空洞、话题无建树性、缺乏讨论或阅读价值，可——</p>
        <ul>
            <li>a) 对内容作者或分享者发出惩教警告；</li>
            <li>c) 将内容退稿；</li>
            <li>b) 将内容封存。</li>
        </ul>
    </div>
    <div ng-switch-when="未经许可的推广">
        <p>根据<a href="user_agreement.pdf" target="_blank">《其乐游戏社区 用户协议》</a>第 肆 章、第 5 条：</p>
        <p>任何据点职员或权限更高的站务团队成员，如合理地相信会员发布的文本或视像内容包含商业性质的广告，或是未经批准的宣传信息。无论是否忠于原意，皆可——</p>
        <ul>
            <li>a) 对内容作者或分享者发出惩教警告；</li>
            <li>b) 将内容封存；</li>
            <li>c) 编辑内容并移除涉事信息。</li>
        </ul>
        <p>若合理地相信发布、分享上述信息的用户有嫌疑持续发布更多涉事信息，或是有嫌疑将其乐作为纯粹的信息推广渠道，任何调度职员或权限更高可——</p>
        <ul>
            <li>a) 终止对此用户以及关联的所有账户提供社区服务；</li>
            <li>b) 拒绝来自此用户提出的服务请求。</li>
        </ul>
    </div>
    <div ng-switch-when="言论不尊重版权">
        <p>根据<a href="user_agreement.pdf" target="_blank">《其乐游戏社区 用户协议》</a>第 肆 章、第 6 条：</p>
        <p>任何据点职员或权限更高的站务团队成员，如合理地相信会员发布的文本或视像内容包含违背知识产权保护的宣传、下载、讨论、鼓励及正面建议。无论是否忠于原意，皆可——</p>
        <ul>
            <li>a) 对内容作者或分享者发出惩教警告；</li>
            <li>b) 将内容封存；</li>
            <li>c) 编辑内容并移除涉事信息。</li>
        </ul>
    </div>
    <div ng-switch-when="转载不符合规范">
        <p>根据<a href="user_agreement.pdf" target="_blank">《其乐游戏社区 用户协议》</a>第 肆 章、第 7 条：</p>
        <p>任何调度职员或权限更高的站务团队成员，如发现会员发布的文本或视像内容未申明版权信息、作者信息与出处，或是未遵守版权所有者要求的演绎形式转载，亦或是任何可能受到版权拥有者质疑的文章。基于用户做出的不侵犯第三方保证，可——</p>
        <ul>
            <li>a) 对内容作者或分享者发出惩教警告；</li>
            <li>c) 将内容退稿；</li>
            <li>b) 将内容封存。</li>
        </ul>
    </div>
</blockquote>