moderation-result {
    display: block;
    background: white;
    width: 100%;
    margin-top: 20px;
}

moderation-result h1,
moderation-result h3 {
    margin: 0;
    font-weight: normal;
}

moderation-result h1 {
    font-size: 24px;
}

moderation-result h3 {
    font-size: 13px;
}

moderation-result .moderation-left {
    vertical-align: middle;
    display: inline-block;
    padding: 20px 17px;
    width: 378px;
    height: 86px;
    box-sizing: border-box;
}

moderation-result .moderation-left h1 {
    color: #159;
}

moderation-result .moderation-middle {
    vertical-align: middle;
    display: inline-block;
    border-right: #159 57px solid;
    border-bottom: #159 43px solid;
    border-left: transparent 57px solid;
    border-top: transparent 43px solid;
}

moderation-result .moderation-right {
    vertical-align: middle;
    display: inline-block;
    padding: 11px 17px;
    background-color: #159;
    width: 378px;
    text-align: right;
    color: #fff;
    height: 86px;
    box-sizing: border-box;
}

moderation-result .moderation-right img {
    float: right;
    width: 64px;
    padding-left: 10px;
}

moderation-result .moderation-right h1 {
    margin-top: 9px;
}