pagination {
    display: inline-block;
}

pagination ul.list-inline li {
    display: inline-block;
}

pagination ul li a {
    cursor: pointer;
    color: $keylol-highlight;
    padding: 5px;
}

pagination ul li span {
    color: #BBB;
    padding: 5px;
}

pagination ul li input[type=text] {
    padding: 5px 3px;
    text-align: center;
    margin: 0 2px;
}