<!DOCTYPE html>
<html lang="zh" ng-app="KeylolApp" ng-controller="RootController">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="pageTitle">载入中 - 其乐</title>
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon-180.png">
    <link rel="icon" href="assets/images/favicon.ico">
    <base href="<%= base %>">
    <% _.forEach(stylesheets, function(stylesheet) { %><link rel="stylesheet" href="<%= stylesheet %>"><% }); %>
    <% _.forEach(scripts, function(script) { %><script src="<%= script %>"></script><% }); %>
</head>
<body ng-view></body>
</html>