<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="WWW Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^keylol.com$" />
                    </conditions>
                    <action type="Redirect" url="https://www.keylol.com/{R:1}" redirectType="Permanent"/>
                </rule>
                <rule name="HTTP to HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
                </rule>
                <rule name="Index Rule" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/index.html"/>
                </rule>
            </rules>
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true"/>
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000"/>
                </rule>
            </outboundRules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension="svg" mimeType="image/svg+xml"/>
            <mimeMap fileExtension="woff" mimeType="application/font-woff"/>
        </staticContent>
        <httpCompression>
            <staticTypes>
                <add mimeType="image/svg+xml" enabled="true"/>
            </staticTypes>
        </httpCompression>
    </system.webServer>
</configuration>
