.window-registration .window {
    padding: 14px;
    width: 900px;
}

.window-registration .error {
    color: red;
}

.window-registration .heading {
    margin: 28px 0;
}

.window-registration .heading img {
    float: right;
    width: 44px;
    height: 44px;
}

.window-registration table {
    margin: 28px 0;
    width: 100%;
}

.window-registration .platform {
    float: left;
    width: 33%;
    margin: 10px 0 8px;
    text-align: center;
    position: relative;
}

.window-registration .platform .go-binding-anchor {
    display: inline-block;
    opacity: 0.25;
}

.window-registration .platform .go-binding-anchor:hover {
    text-decoration: none;
    opacity: 1.0;
}

.window-registration .platform .go-binding-anchor img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.window-registration .platform .go-binding-anchor span {
    font-size: 15px;
    color: #333;
}

.window-registration .platform .pasted-card {
    width: 270px;
    position: absolute;
    top: 0;
    left: 0;
}

.window-registration .generate-id-code {
    float: right;
    color: #748a97;
    margin: 5px 5px 0;
}

.window-registration .id-code {
    text-align: center;
    margin: 10px 0 14px;
}

.window-registration .avatar-box-left-spacing {
    border: none;
}

.window-registration .upload-avatar {
    text-align: center;
}

.window-registration .upload-avatar button {
    margin: 6px 0;
}

.window-registration [id^=geetest-] {
    margin: 14px 0;
}

.window-registration .declaration {
    max-width: 580px;
}

.window-registration .declaration h3.single-line + h4 {
    top: 6px;
}

.window-registration .window .window-confirm-button {
    margin-right: -24px;
}