input-point {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15), inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    border: none;
    background: white;
    cursor: text;
    padding: 8px 8px 0 8px;
    zoom:1;
}

input-point:before, input-point:after {
    content:"";
    display:table;
}

input-point:after {
    clear:both;
}

input-point .point-title {
    float: left;
    cursor: default;
    margin-bottom: 8px;
}

input-point .point-title .delete {
    color: #c7cdd1;
    padding-right: 5px;
    text-decoration: none;
    display: none;
}

input-point .point-title:hover .delete {
    display: inline-block;
}

input-point .point-title.selected .delete {
    display: inline-block;
}

input-point .point-title.disabled {
    color: #c7cdd1;
}

input-point .point-title:hover {
    background-color: #EEF1F3;
}

input-point .point-title.selected {
    background-color: #EEF1F3;
}

input-point input[type=text].input {
    cursor: text;
    float: left;
    padding: 0;
    width: auto;
    box-shadow: none;
    -webkit-appearance: none;
    outline: none;
    margin: 0;
    margin-bottom: 8px;
}

input-point input[type=text].has-placeholder {
    width: 100%;
}