<div quill-toolbar>
    <span class="ql-format-group">
        <span title="标题" class="ql-format-button ql-subtitle"></span>
        <span title="粗体" class="ql-format-button ql-bold"></span>
        <span title="斜体" class="ql-format-button ql-italic"></span>
        <span title="下划线" class="ql-format-button ql-underline"></span>
        <span title="引用" class="ql-format-button ql-blockquote"></span>
        <span title="图片" class="ql-format-button ql-image"></span>
        <span title="视频" class="ql-format-button ql-video"></span>
    </span>
</div>
<div quill-content ng-transclude></div>