<div quill-toolbar>
    <span class="ql-format-group">
        <button type="button" title="标题" class="ql-format-button ql-subtitle"></button>
        <button type="button" title="粗体" class="ql-format-button ql-bold"></button>
        <button type="button" title="斜体" class="ql-format-button ql-italic"></button>
        <button type="button" title="下划线" class="ql-format-button ql-underline"></button>
        <button type="button" title="引用" class="ql-format-button ql-blockquote"></button>
        <button type="button" title="图片" class="ql-format-button ql-image" ngf-select="uploadImages($files)" ngf-multiple="true" accept="image/*"></button>
        <!--<span title="视频" class="ql-format-button ql-video"></span>-->
    </span>
</div>
<div quill-content ng-transclude ngf-drop="uploadImages($files)" ngf-multiple="true" ngf-pattern="'image/*'"></div>
<div class="ql-notice-message" ng-if="noticeMessage">{{noticeMessage}}</div>