spoiler.actionable {
    cursor: pointer;
    background: #eef1f3;
}

spoiler.actionable:hover .simditor-icon-eye-slash:before {
    content: "\f028";
}

spoiler.actionable.expanded {
    cursor: auto;
    background: transparent;
    transition: 2s ease-in-out;
}

spoiler .content {
    display: none;
}

spoiler .hint {
    margin: 0;
}

spoiler .hint h2 {
    color: #e30613;
    font-weight: normal;
    margin: 6px 0px 2px;
    font-size: 22px;
}

spoiler .hint h3 {
    color: #333;
    font-weight: normal;
    margin: 0 0 3px;
    font-size: 15px;
}

spoiler .hint span {
    float: right;
    font-size: 43px;
    margin-top: 2px;
    color: #e30613;
}