<div class="container" ng-if="pointExist">
    <div class="row">
        <div class="col-left">
            <section ng-include="'components/sections/logo.html'" style="height: 92px"></section>
            <section ng-include="'components/sections/reception.html'"></section>
            <section ng-include="'components/sections/main-navigation.html'"></section>
            <section ng-if="union.associatedPoints.length > 0" ng-include="'components/sections/related-points.html'"></section>
        </div>
        <div class="col-middle">
            <section ng-include="'components/sections/summary.html'" style="height: 92px;"></section>
            <section ng-include="'components/sections/point-info.html'" ng-if="isInPoint"></section>
            <section ng-include="'components/sections/timeline.html'"></section>
        </div>
        <div class="col-right">
            <section ng-include="'components/sections/search-box.html'" style="height: 40px"></section>
            <section ng-include="'components/sections/action-hub.html'"></section>
            <section ng-include="'components/sections/point-votes.html'" ng-if="hasVote"></section>
            <section ng-include="'components/sections/promoted-readings.html'"></section>
            <section ng-include="'components/sections/latest-articles.html'"></section>
            <section ng-if="union.$localStorage.user.StaffClaim === 'operator'" ng-include="'components/sections/secret-tests.html'"></section>
            <section ng-include="'components/sections/site-footer.html'"></section>
        </div>
    </div>
</div>
<div ng-if="!pointExist" ng-include="'components/pages/not-found.html'" ng-controller="NotFoundController"></div>