<div ng-if="stateTree.entrance.discovery">
    <slide-show slides="::stateTree.entrance.discovery.slideshowEntries" style="margin-bottom: 40px;"></slide-show>
    <spotlight-points cards="::stateTree.entrance.discovery.spotlightPoints" style="margin-bottom: 30px"></spotlight-points>
    <div class="flex-row">
        <div class="left-middle-lg row-sm">
            <spotlight-articles cards="::stateTree.entrance.discovery.spotlightReviews" style="margin-bottom: 30px" type="Review"></spotlight-articles>
            <latest-articles articles="::stateTree.entrance.discovery.latestArticles"
                             header-image="::stateTree.entrance.discovery.latestArticleHeaderImage"
                             total-page="::stateTree.entrance.discovery.latestArticlePageCount"
                             module-api="states/entrance/discovery/latest-articles"
                             style="margin-bottom: 50px"></latest-articles>
            <!--<spotlight-topics ng-if="::(stateTree.entrance.discovery.spotlightConferences.length > 0)" topics="::stateTree.entrance.discovery.spotlightConferences" style="margin-bottom: 50px;"></spotlight-topics>-->
            <spotlight-articles cards="::stateTree.entrance.discovery.spotlightStudies" style="margin-bottom: 30px" type="Study"></spotlight-articles>
            <sales-today ng-if="::(stateTree.entrance.discovery.onSalePoints.length > 0)" list="::stateTree.entrance.discovery.onSalePoints" header-image="::stateTree.entrance.discovery.onSalePointHeaderImage" total-page="::stateTree.entrance.discovery.onSalePointPageCount" style="margin-bottom: 40px"></sales-today>
            <spotlight-articles cards="::stateTree.entrance.discovery.spotlightStories" style="margin-bottom: 30px" type="Story" ></spotlight-articles>
            <section-header header="::{mainTitle: '动态', subTitle: '用吐槽和随笔分享乐趣', type: 'theme'}"></section-header>
            <section-timeline cards="stateTree.entrance.discovery.latestActivities"></section-timeline>
        </div>
        <right-menus class="right-lg hidden-sm"></right-menus>
    </div>
</div>
