<div style="margin-top: 30px" class="flex-row">
    <div class="left-middle-lg row-sm">
        <point-associations style="margin-bottom: 40px;"></point-associations>
        <short-review theme="stateTree.pointTheme" style="margin-bottom: 50px;"></short-review>
        <media-center theme="stateTree.pointTheme" style="margin-bottom: 40px;"></media-center>
        <addictive-users theme="stateTree.pointTheme"></addictive-users>
        <similar-games theme="stateTree.pointTheme" style="position: absolute;width: 100%;left: 0;"></similar-games>
        <article-collection theme="stateTree.pointTheme" style="margin-top: 435px;margin-bottom: 30px"></article-collection>
        <latest-articles ng-if="false" theme="stateTree.pointTheme"></latest-articles>
    </div>
    <div class="right-lg hidden-sm flex-column">
        <menu ng-if="stateTree.specialMenu" style="margin-bottom: 20px" object="::stateTree.specialMenu"></menu>
        <right-menus style="flex-grow: 1;"></right-menus>
    </div>
</div>