<div ng-if="stateTree.entrance.points">
    <outpost-points style="margin-top: 20px;margin-bottom: 40px;" ng-if="::stateTree.entrance.points.outpostPoints" cards="::stateTree.entrance.points.outpostPoints" ></outpost-points>
    <div class="flex-row">
        <div class="left-middle-lg row-sm">
            <recent-played style="margin-bottom: 30px" ng-if="::stateTree.entrance.points.recentPlayedPoints" list="::stateTree.entrance.points.recentPlayedPoints" header-image="::stateTree.entrance.points.recentPlayedPointHeaderImage"></recent-played>
            <interested-categories ng-if="::(stateTree.entrance.points.interestedPoints.length > 0)" cards="::stateTree.entrance.points.interestedPoints" style="margin-bottom: 30px"></interested-categories>
            <spotlight-users ng-if="::(stateTree.entrance.points.spotlightUsers.length > 0)" cards="::stateTree.entrance.points.spotlightUsers" style="position: absolute;width: 100%;left: 0;"></spotlight-users>
            <div style="height: 475px;" ng-if="::(stateTree.entrance.points.spotlightUsers.length > 0)"></div>
            <recent-games ng-if="::stateTree.entrance.points.recentPoints" list="::stateTree.entrance.points.recentPoints" total-page="::stateTree.entrance.points.recentPointPageCount" style="margin-bottom: 20px"></recent-games>
        </div>
        <right-menus class="right-lg hidden-sm"></right-menus>
    </div>
</div>
