input-point {
  display: block;
}

input-point .wrapper {
  height: 42px;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid $keylol-inertia-shape;

  &.theme {
    border-bottom: 2px solid $keylol-light-theme;

    input[type="text"] {
      padding-bottom: 9px;
    }
    .point {
      margin-bottom: 9px;
    }
  }

  input[type="text"] {
    flex-grow: 1;
    padding: 0 0 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
  }

  .point {
    flex-grow: 0;
    height: 32px;
    margin-bottom: 10px;
    border-radius: 16px;
    margin-right: 10px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
      border-radius: 16px;
    }
    p {
      @include ellipsis();
      margin: 0 10px;
      color: $keylol-main-text;
      max-width: 80px;
    }
    svg {
      cursor: pointer;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      fill: $keylol-inertia-shape;
    }
  }
}