<div class="wrapper {{state}}" ng-style="{'border-color':state === 'theme'?theme.light:''}">
    <div class="point"
         ng-class="{active: point.selected}"
         ng-style="{'background-color': point.selected ? theme.light : ''}"
         ng-click="selectPoint($index, $event)"
         ng-mouseenter="showPreview($index, $event)"
         popup="previewPopup[$index]"
         ng-repeat="point in pointArray track by point.id">
        <img webp-src="{{::point.avatarImage | avatarUrl}}" alt="{{utils.getPreferredPointName(point)[0]}}">
        <p>{{utils.getPreferredPointName(point)[0]}}</p>
        <svg aria-hidden="true" ng-click="deleteSelectorPoint($index)">
            <use ng-href="{{'close' | iconSvgUrl }}" xlink:href=""></use>
        </svg>
    </div>
    <input class="input" type="text" popup="showSelector" ng-model="data" ng-disabled="pointArray.length >= limit">
</div>
