point-review {
    display: block;
}

point-review .review-text {
    color: $keylol-theme;
}

point-review .review-circle {
    width: 16px;
    height: 12px;
    cursor: pointer;
}

point-review .review-circle circle {
    fill: #CCC;
}

point-review .review-circle.hollow circle {
    fill: transparent;
    stroke: #CCC;
    stroke-width: 1;
}

point-review .review-text.awesome {
    color: #00ab4e;
}

point-review .review-circle.awesome circle {
    fill: #00ab4e;
    stroke-width: 0;
}

point-review .review-text.good {
    color: #71bf44;
}

point-review .review-circle.good circle {
    fill: #71bf44;
    stroke-width: 0;
}

point-review .review-text.not-bad {
    color: #f7943e;
}

point-review .review-circle.not-bad circle {
    fill: #f7943e;
    stroke-width: 0;
}

point-review .review-text.bad {
    color: #e30613;
}

point-review .review-circle.bad circle {
    fill: #e30613;
    stroke-width: 0;
}

point-review .review-text.terrible {
    color: #541912;
}

point-review .review-circle.terrible circle {
    fill: #541912;
    stroke-width: 0;
}