/* --------------- */
/* ripple style */
/* --------------- */
[ripple] {
  position: relative;
  overflow: hidden;

  .theme {
    background-color: rgba($keylol-theme, 0.1);
  }

  .light {
    background-color: rgba($keylol-light-theme, 0.1);
  }

  .topic {
    background-color: rgba($keylol-topic, 0.1);
  }

  .inertia {
    background-color: rgba($keylol-inertia-text, 0.1);
  }

  .inertia-shape {
    background-color: rgba($keylol-inertia-shape, 0.1);
  }

  .invert,
  .half-invert{
    background-color: rgba($keylol-inverted-text, 0.1);
  }

  .light-text {
    background-color: rgba($keylol-light-text, 0.1);
  }

  .user-theme {
    background-color: rgba($keylol-user-theme, 0.1);
  }

  .ripple-container {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .55s cubic-bezier(0.25, 0.8, 0.25, 1);

    .ripple {
      display: block;
      position: absolute;
      transition: all .05s cubic-bezier(0.25, 0.8, 0.25, 1);

      .circle {
        display: block;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: opacity .3s cubic-bezier(.25,.8,.25,1), transform 4s cubic-bezier(.25,.8,.25,1);

        &.animate-appear {
          transform: scale(1);
          opacity: 1;
        }

        &.animate-disappear {
          transition: opacity .3s .6s cubic-bezier(.25,.8,.25,1), transform .6s cubic-bezier(.25,.8,.25,1);
          transform: scale(1.001);
          opacity: 0;
        }
      }
    }
  }

  &[ripple-no-background] .ripple-container {

    .theme {
      background-color: rgba($keylol-theme, 0.2);
    }

    .light {
      background-color: rgba($keylol-light-theme, 0.2);
    }

    .topic {
      background-color: rgba($keylol-topic, 0.2);
    }

    .inertia {
      background-color: rgba($keylol-inertia-text, 0.2);
    }

    .inertia-shape {
      background-color: rgba($keylol-inertia-shape, 0.2);
    }

    .invert,
    .half-invert{
      background-color: rgba($keylol-inverted-text, 0.2);
    }

    .light-text {
      background-color: rgba($keylol-light-text, 0.2);
    }

    .user-theme {
      background-color: rgba($keylol-user-theme, 0.2);
    }

    .ripple .circle.animate-disappear {
      transition: opacity .9s cubic-bezier(.25,.8,.25,1), transform .6s cubic-bezier(.25,.8,.25,1);
    }
  }
}
