spoiler {
  white-space: normal;

  &.actionable {
    @include keylol-shadow-1();
    cursor: pointer;
    display: block;
    background: $keylol-inverted-text;

    &:hover .simditor-icon-eye-slash:before {
      content: "\f028";
    }

    &.expanded {
      cursor: auto;
      border-left: 5px solid $keylol-light-theme;
      border-right: 5px solid $keylol-light-theme;
      padding: 20px 10px;

      &>:last-child {
        margin-bottom: 0 !important;
      }
    }

    .content {
      display: none;
    }

    .hint {
      display: flex;
      height: 80px;

      .text {
        flex-grow: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h2 {
          color: $keylol-light-theme;
          margin: 0;
          font-weight: normal;
          font-size: 20px;
        }

        h3 {
          color: $keylol-main-text;
          margin: 0;
          font-size: 14px;
          font-weight: normal;
        }
      }

      .icons {
        padding: 20px 10px;
        background-color: $keylol-light-theme;
        flex-grow: 0;
        display: flex;

        .simditor-icon,
        .simditor-icon-eye-slash {
          font-size: 43px;
          padding: 0 20px;
          color: $keylol-inverted-text;
        }

        .point-icon {
          height: 40px;
          width: auto;
          margin: 0;
          border-left: 1px solid $keylol-inverted-text;
          padding: 0 20px;
        }
      }
    }
  }
}