activity-card {
  @include keylol-shadow-1;
  width: 700px;
  display: block;
  background-color: $keylol-inverted-text;

  >.display-card {
    @include keylol-shadow-1;
    background-color: $keylol-card;

    >.user-with-date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
      padding: 0 15px;

      >.user {
        flex-shrink: 1;
        display: flex;
        align-items: center;

        &:hover {
          .username {
            text-decoration: underline;
          }
        }

        >.avatar {
          flex-shrink: 0;
          width: 32px;
          height: 32px;
          border-radius: 16px;
          margin-right: 10px;
        }

        >.name-group {
          p {
            margin: 0;
          }

          p:first-of-type {
            font-weight: bold;
            color: $keylol-main-text;
          }

          p:last-of-type {
            font-size: 12px;
            color: $keylol-inertia-text;
          }
        }
      }
    }

    >.simple {
      >vote-circle {
        padding: 0 15px;
        margin-bottom: 20px;
      }

      >p {
        margin: 0;
        padding: 0 15px 20px 15px;
        white-space: pre-wrap;
      }

      >img {
        width: 100%;
      }
    }

    .point-with-source {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
      padding: 0 15px;

      >.point {
        flex-shrink: 1;

        &:hover>point-basic-info>.name-group>p:first-of-type {
          text-decoration: underline;
        }
      }

      >.source {
        flex-shrink: 0;
        font-size: 12px;
        color: $keylol-inertia-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .agree {
      margin: 0 15px;
      border-top: 1px solid $keylol-inertia-shape;

      .action {
        padding-top: 20px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
      }

      .agree-list {
        display: flex;
        justify-content: center;

        img {
          border-radius: 0;
          width: 16px;
          height: 16px;
          margin: 0 5px;
        }
      }
    }
  }

  >.communicate-card {
    >.review-area {
      position: relative;

      >.hr {
        height: 1px;
        background-color: $keylol-inertia-shape;
      }

      pagination {
        float: right;
        margin:20px 0;
      }

      >.float-top {
        position: absolute;
        top: 10px;
        right: 0;
        margin: 10px 0;
      }

      >.review-count {
        padding: 20px 15px 10px;
        color: $keylol-inertia-text;
      }

      >.review-sender {
        display: flex;
        margin-top: 25px;
        margin-bottom: 10px;
        padding: 0 15px;

        .avatar {
          flex-grow: 0;
          width: 32px;
          height: 32px;
          margin-right: 10px;
        }

        textarea {
          flex-grow: 1;
          padding: 0;
          outline: 0;
          resize: none;
        }
      }

      >.review-list {
        position: relative;
        @include page-change('ul');
        margin: 10px 0;
        overflow: hidden;
        transition: height .5s;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }

        .review {
          @include hover-background();
          padding: 15px 15px;
          display: flex;

          &.blink {
            animation: review-blink 5s;
          }

          >.avatar {
            flex-grow: 0;
            width: 32px;
            height:32px;
            margin-right: 10px;
          }

          >.content {
            flex-grow: 1;
          }

          >.content>.info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 20px;

            a:hover {
              text-decoration: underline;
            }

            >.user {
              font-weight: bold;
              color: $keylol-main-text;

              >a, >span {
                color: $keylol-inertia-text;
                font-weight: normal;
                margin-left: 6px;
              }
            }

            >.date {
              color: $keylol-inertia-text;

              .light-theme {
                color: $keylol-light-theme;
              }
            }

            >.actions {
              display: none;

              >span>span {
                color: $keylol-inertia-text;
                margin: 0 5px 0 10px;
              }

              a {
                margin: 0 5px;

                &:last-of-type {
                  margin-right: 0;
                }
              }
            }
          }

          >.content>.text {
            color: $keylol-main-text;
          }

          &:hover>.content>.info>.date {
            display: none;
          }
          &:hover>.content>.info>.actions {
            display: block;
          }
        }
      }
    }

    flat-button {
      float: right;
      margin-right: 10px;
      margin-bottom: 12px;
    }
  }
}