<div class="display-card">
    <div class="user-with-date">
        <a class="user" ng-href="user/{{activityCard.object.authorBasicInfo.idCode}}">
            <img class="avatar" webp-src="{{activityCard.object.authorBasicInfo.avatarImage | avatarUrl}}"  alt="">
            <div class="name-group">
                <p class="username">{{activityCard.object.authorBasicInfo.userName}}</p>
                <p am-time-ago="activityCard.object.publishTime"></p>
            </div>
        </a>
        <div ng-if="activityCard.canModerate" popup="activityCard.showSharedPopup"><icon-button icon="dots-vertical" click="activityCard.showMenu(event)"></icon-button></div>
    </div>
    <div class="simple">
        <vote-circle ng-if="activityCard.object.rating" review="activityCard.object.rating" gray-background="true"></vote-circle>
        <p>{{activityCard.object.content}}</p>
        <img ng-if="activityCard.object.coverImage" webp-src="{{activityCard.object.coverImage | uriRelocate}}">
    </div>
    <div class="point-with-source">
        <a class="point" ng-href="point/{{::activityCard.relatedPoints.mainPoint.idCode}}" ripple>
            <point-basic-info point="::activityCard.relatedPoints.mainPoint"></point-basic-info>
        </a>
        <a class="source" href="" ng-click="activityCard.showSourceList($event)" popup="activityCard.showSourceListPopup">{{::activityCard.relatedPoints.attachedPoints.length + 1}} 个据点来稿</a>
    </div>
</div>
<div class="communicate-card">
    <div class="review-area">
        <pagination theme-color="activityCard.theme.light" class="float-top" ng-if="activityCard.commentsManager.pageCount > 1" on-page-changed="::activityCard.changePage(newPage, oldPage)" total="activityCard.commentsManager.pageCount" current="activityCard.commentsManager.currentPage"></pagination>
        <div class="review-count">
            全部 {{activityCard.commentsManager.count}} 个评论
        </div>
        <div class="review-list clearfix">
            <div class="review" href="" ng-repeat="comment in activityCard.commentsManager.pages[activityCard.commentsManager.currentPage - 1]">
                <img src="" webp-src="{{comment.authorAvatarImage | avatarUrl}}" alt="" class="avatar" />
                <div class="content">
                    <div class="info">
                        <div class="user">{{comment.authorUserName}}<a href="">+{{comment.likeCount}}</a></div>
                        <div class="date"><span am-time-ago="comment.publishTime"></span> / #{{comment.sidForActivity}}</div>
                        <div class="actions"><a href="">认可</a><a href="">回复</a></div>
                    </div>
                    <div class="text">
                        {{comment.content}}
                    </div>
                </div>
            </div>
            <pagination theme-color="activityCard.theme.light" on-page-changed="::activityCard.changePage(newPage, oldPage)" ng-if="activityCard.commentsManager.pageCount > 1" total="activityCard.commentsManager.pageCount" current="activityCard.commentsManager.currentPage"></pagination>
        </div>
        <div class="hr"></div>
        <div class="review-sender">
            <img webp-src="{{ activityCard.stateTree.currentUser.avatarImage | avatarUrl}}" alt="" class="avatar">
            <textarea elastic placeholder="发表见解..." ng-model="activityCard.vm.content"></textarea>
        </div>
    </div>

    <div class="operation">
        <div>
            <flat-button type="inertia" text="+{{activityCard.object.likeCount}}"></flat-button>
        </div>
        <flat-button click="activityCard.submit()" theme-color="activityCard.theme.main" text="评论" disabled="activityCard.vm.content.length === 0 || activityCard.submitLock"></flat-button>
    </div>
</div>
