
<div class="comment-block" id="{{commentBlock.comment.isHot?'hot-':''}}comment-{{commentBlock.comment.SequenceNumberForArticle}}" popup="commentBlock.showModerationPopup">
    <span class="floor">#{{commentBlock.comment.SequenceNumberForArticle}}</span>
    <point-link ng-if="commentBlock.comment.Commentator" type="'user'" avatar-url="commentBlock.comment.Commentator.AvatarImage" id-code="commentBlock.comment.Commentator.IdCode"></point-link>
    <article ng-switch="commentBlock.comment.Commentator" ng-class="{archived: !commentBlock.comment.Commentator || commentBlock.comment.Archived !== 'None'}">
        <div class="header">
            <point-link ng-switch-default class="name" type="'user'" point-name="'@' + commentBlock.comment.Commentator.UserName" id-code="commentBlock.comment.Commentator.IdCode"></point-link>
            <span class="as-author" ng-if="commentBlock.comment.Commentator.isAuthor">[文章作者]</span>
            <span ng-switch-when="undefined" class="title">这则评论已被封存</span>
            <span ng-switch-default ng-if="commentBlock.comment.Archived !== 'None'" class="moderated">封存中</span>
            <span ng-if="commentBlock.comment.Warned" class="moderated">受到警告</span>
            <span ng-switch-default class="time" am-time-ago="commentBlock.comment.PublishTime"></span>
                <span ng-switch-default class="action" ng-if="commentBlock.union.$localStorage.user">
                    <span ng-if="!commentBlock.comment.cannotLike && commentBlock.articleArchived === 'None' && commentBlock.comment.Archived === 'None'" ng-switch="commentBlock.comment.Liked">
                        <a href="" ng-click="commentBlock.acknowledge()" ng-switch-when="false">认可</a>
                        <a href="" ng-click="commentBlock.cancelAcknowledge()" ng-switch-when="true">取消认可</a>
                        |
                    </span>
                    <a href="" ng-click="commentBlock.onReply()">回复</a>
                    <span ng-if="commentBlock.union.$localStorage.user.StaffClaim === 'operator' || commentBlock.comment.cannotLike">
                        |
                        <a href="" ng-if="commentBlock.comment.Archived === 'None'" ng-click="commentBlock.moderateComment($event, 'Archived')">封存</a>
                        <a ng-if="commentBlock.comment.Archived === 'User' || (commentBlock.comment.Archived === 'Operator' && commentBlock.union.$localStorage.user.StaffClaim === 'operator')" href="" ng-click="commentBlock.moderateComment($event, 'Archived', true)">撤销封存</a>
                        <span ng-if="commentBlock.union.$localStorage.user.StaffClaim === 'operator'">
                            |
                            <a href="" ng-click="commentBlock.moderateComment($event, 'Warned', commentBlock.comment.Warned)">{{commentBlock.comment.Warned?"撤销":""}}警告</a>
                        </span>
                    </span>
                </span>
        </div>
        <div ng-switch-default class="content"><span bind-html-compile="commentBlock.comment.Content"></span><span ng-if="commentBlock.comment.isHot" class="hot-signal">HOT</span><span class="like-count" ng-if="commentBlock.comment.hasLike">+{{commentBlock.comment.LikeCount}}</span></div>
        <div ng-switch-when="undefined" class="content"><span>封存后只有作者与站务职员可以看到评论内容与作者信息</span></div>
    </article>
</div>