coupon-menu {
  ul li {
    color: #bbb;

    a {
      color: $keylol-highlight;
      margin: 0 5px;
    }

    &:last-of-type a {
      margin-right: 0;
    }

    &.current a {
      font-weight: bold;
      color: #333;
      text-decoration: none;
      cursor: default;
    }
  }
}