<ul class="list-inline">
    <li ng-class="{current: couponMenu.active === 'records'}">
        <a href="" ng-click="couponMenu.coupon.setPage('records')">积分记录</a>
        |
    </li>
    <li ng-class="{current: couponMenu.active === 'shop'}">
        <a href="" ng-click="couponMenu.coupon.setPage('shop')">文券商店</a>
        |
    </li>
    <li ng-class="{current: couponMenu.active === 'ranks'}">
        <a href="" ng-click="couponMenu.coupon.setPage('ranks')">社区排行</a>
        |
    </li>
    <li ng-class="{current: couponMenu.active === 'invite'}">
        <a href="" ng-click="couponMenu.coupon.setPage('invite')">邀请注册</a>
    </li>
</ul>