flat-button {
  button {
    @include keylol-button-single;
    @include hover-background();
    background: transparent;

    &.theme {
      color: $keylol-theme;
    }

    &.inertia {
      color: $keylol-inertia-text;
    }

    &.light-text {
      color: $keylol-light-text;
    }
  }
}