<a class="info" href="" ng-href="point/{{gameGuideCard.card.idCode}}" ripple>
    <point-basic-info point="gameGuideCard.card"></point-basic-info>
    <review-with-text review="gameGuideCard.card.averageRating"></review-with-text>
</a>
<div class="point-img" ng-class="{user:gameGuideCard.bottomType === 'user'}" webp-background="{{gameGuideCard.card.titleCoverImage | uriRelocate: '/both/280x130'}}"></div>
<div class="characteristic-container" ng-style="{'background-color':gameGuideCard.theme.light}">
    <a href="" ng-mouseenter="gameGuideCard.showTooltip($event,$index)" popup="gameGuideCard.showTooltipPopup[$index]" class="characteristic" ng-repeat="characteristic in gameGuideCard.characteristics">
        <svg aria-hidden="true">
            <use ng-href="{{characteristic.icon | iconSvgUrl }}" xlink:href=""></use>
        </svg>
    </a>
</div>
<div class="category-container">
    <div class="category" ng-repeat="category in gameGuideCard.card.categories">
        <a ng-href="point/{{category.idCode}}">
            {{category.chineseName}}
        </a>
    </div>
</div>
<div class="actions" ng-if="gameGuideCard.bottomType !== 'user'">
    <div class="platforms">
        <a ng-href="{{store.link}}" ng-repeat="store in gameGuideCard.stores">
            <svg aria-hidden="true">
                <use ng-href="{{store.icon | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <span class="discount" ng-if="store.discount">-{{store.discount}}</span>
            <span ng-if="store.price">¥ {{store.price}}</span>
        </a>
    </div>
    <flat-button binary-set="gameGuideCard.subscribeSet" binary-value="gameGuideCard.card.subscribed"
                 click="gameGuideCard.subscribe(gameGuideCard.card.id, gameGuideCard.card.subscribed, gameGuideCard.card)"></flat-button>
</div>
<div class="user-basic-info" ng-if="gameGuideCard.bottomType === 'user'">
    <img src="" class="avatar" webp-src="//storage.keylol.com/fd0dfd38572adff068251606aa282b3f.jpg!avatar.medium" alt="NPC之舟" />
    <div class="name-group">
        <p>hank</p>
        <p ng-style="{color:gameGuideCard.theme.light}">在档 24 小时</p>
    </div>
</div>