game-card {
  @include keylol-shadow-1;
  background-color: $keylol-card;
  width: 220px;
  display: flex;
  flex-direction: column;

  .info {
    @include hover-background();
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding-left: 15px;
    margin: 10px 0;
  }

  .point-img {
    width: 100%;
    height: 100px;
    background-size: cover;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    height: 38px;


    vote-circle {
      margin-left: 20px;
    }

    flat-button {
      margin-right: 5px;
    }
  }
}