<a class="info" href="" ng-href="point/{{gameGuideCard.card.idCode}}" ripple>
    <point-basic-info point="gameGuideCard.card"></point-basic-info>
    <review-with-text review="gameGuideCard.card.averageRating"></review-with-text>
</a>
<div class="point-img" webp-background="{{gameGuideCard.card.titleCoverImage | uriRelocate}}"></div>
<div class="characteristic-container">
    <a href="" ng-mouseenter="gameGuideCard.showTooltip($event,$index)" popup="gameGuideCard.showTooltipPopup[$index]" class="characteristic" ng-repeat="characteristic in gameGuideCard.characteristics">
        <svg aria-hidden="true">
            <use ng-href="{{characteristic.icon | iconSvgUrl }}" xlink:href=""></use>
        </svg>
    </a>
</div>
<div class="category-container">
    <span class="repeat-wrapper" ng-repeat="category in gameGuideCard.categories">
        <a href="" class="category">
            角色扮演
        </a>
        <span class="slash" ng-show="$index !== gameGuideCard.categories.length-1"> / </span>
    </span>
</div>
<div class="actions">
    <div class="platforms">
        <a href="">
            <svg aria-hidden="true">
                <use ng-href="{{'Steam' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <span class="discount">-30%</span>
            <span>¥48</span>
        </a>
        <a href="">
            <svg aria-hidden="true">
                <use ng-href="{{'PlayStation' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
        </a>
    </div>
    <flat-button text="订阅"></flat-button>
</div>