<a class="item" href="" ng-repeat="name in inputCheckbox.names" ng-click="inputCheckbox.toggle($index)">
    <div class="outer" ng-class="{'theme': inputCheckbox.model[$index]}" ripple="{{inputCheckbox.model[$index] ? inputCheckbox.theme.light || 'light' : ''}}" ripple-position="center" ripple-no-background="true">
        <div class="hole"></div>
        <div class="object" ng-style="{'background-color': inputCheckbox.theme.light || ''}">
            <svg aria-hidden="true">
                <use ng-href="{{'check' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
        </div>
    </div>
    <p class="text">{{name}}</p>
</a>