<a class="item" href="" ng-repeat="item in inputRadio.object" ng-click="inputRadio.changeRadio($index)">
    <div class="outer" ng-class="{'theme':inputRadio.model === $index}" ripple="{{inputRadio.model === $index ? inputRadio.theme.light || 'light' : ''}}" ripple-position="center" ripple-no-background="true">
        <div class="hole" ng-style="{borderColor: inputRadio.theme.light && inputRadio.model === $index ? inputRadio.theme.light : null}"></div>
        <div class="object" ng-style="{backgroundColor: inputRadio.theme.light}"></div>
    </div>
    <p class="text">{{item}}</p>
</a>
