<a href="" class="outer" ng-class="{'theme': inputSwitch.model, disabled: inputSwitch.disabled}" ng-click="inputSwitch.switchValue()" ng-style="{backgroundColor: inputSwitch.theme.light && inputSwitch.model && !inputSwitch.disabled ? inputSwitch.theme.light : null}">
    <div class="object" ng-style="{backgroundColor: inputSwitch.theme.main && inputSwitch.model && !inputSwitch.disabled ? inputSwitch.theme.main : null}" ripple="{{inputSwitch.disabled ? 'disabled' : inputSwitch.model ? inputSwitch.theme.main || 'theme' : ''}}" ripple-position="center" ripple-no-background="true"></div>
</a>
