<button ng-disabled="::menuItem.data.disabled" ripple="{{::(menuItem.data.disabled? 'disabled' : '')}}" ng-if="::(menuItem.data.type === 'item')">
    <div class="wrapper">
        <span>
            <svg ng-if="::menuItem.data.icon" aria-hidden="true">
                <use ng-href="{{::menuItem.data.icon | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <span>{{::menuItem.data.text}}</span>
        </span>
        <span class="sub-text" ng-if="::(menuItem.data.subText !== undefined)">{{::menuItem.data.subText}}</span>
    </div>
</button>
<span class="horizon" ng-if="::(menuItem.data.type === 'horizon')"></span>