<div ng-if="menu.object.header" class="menu-header" ng-switch="menu.object.header.type">
    <div ng-switch-default class="header-text no-image" >
        <p>{{ menu.object.header.main }}</p>
        <p>{{ menu.object.header.sub }}</p>
    </div>

    <a ng-switch-when="user" ripple ng-href="user/{{menu.stateTree.currentUser.idCode}}">
        <img class="avatar" webp-src="{{menu.stateTree.currentUser.avatarImage | avatarUrl: 'big'}}" alt="{{menu.stateTree.currentUser.userName}}">
        <div class="header-text for-user">
            <p>{{ menu.stateTree.currentUser.userName }}</p>
            <p>{{ menu.stateTree.currentUser.idCode }}</p>
        </div>
    </a>

    <div ng-switch-when="point" class="for-point">
        <point-basic-info ng-if="!menu.object.header.titleCoverImage" point="menu.object.header.point"></point-basic-info>
        <img ng-if="menu.object.header.titleCoverImage" class="cover" webp-src="{{ menu.object.header.titleCoverImage | uriRelocate: '/both/220x105'}}" alt="">
        <div class="time-info">
            <p>已在档 203(!) 小时</p>
            <p>玩家平均在档 175.4(!) 小时</p>
        </div>
        <a ripple href="" class="reputation-stat" ng-repeat="(stat, statCount) in menu.object.header.voteStats track by stat">
            <div class="left-content">
                <svg xmlns="http://www.w3.org/2000/svg" class="reputation-circle" ng-repeat="circle in menu.circles[$index] track by $index">
                    <circle cx="4" cy="4" r="4"></circle>
                </svg>
                <span ng-if="menu.object.header.totalEvaluate">{{statCount / menu.object.header.totalEvaluate * 100 | number: 0}}%</span>
                <span ng-if="!menu.object.header.totalEvaluate">0%</span>
            </div>
            <div class="right-content">
                <div class="reputation-level" ng-style="{width: statCount / menu.object.header.totalEvaluate * 100}"></div>
            </div>
        </a>
        <div class="reputation-info">
            <span>
                <span class="reputation-number" ng-class="{
                    awesome: menu.object.header.votePercent >= 8,
                    good: menu.object.header.votePercent >= 6 && menu.object.header.votePercent < 8,
                    'not-bad': menu.object.header.votePercent >= 4 && menu.object.header.votePercent < 6,
                    bad: menu.object.header.votePercent >= 2 && menu.object.header.votePercent < 4,
                    terrible: menu.object.header.votePercent < 2
                }">{{menu.object.header.votePercent}}</span> / 10
            </span>
            <vote-circle review="menu.object.header.votePercent" gray-background="true"></vote-circle>
        </div>
        <div class="horizon"></div>
    </div>

    <div ng-switch-when="point-other" class="for-point">
        <point-basic-info ng-if="!menu.object.header.titleCoverImage" point="menu.object.header.point"></point-basic-info>
        <img ng-if="menu.object.header.titleCoverImage" class="cover" webp-src="{{ menu.object.header.titleCoverImage | uriRelocate: '/both/220x105'}}" alt="">
        <div class="game-count">{{menu.object.header.gameCount}}</div>
        <div class="reputation-info">
            <span>
                <span class="reputation-number" ng-class="{
                    awesome: menu.object.header.votePercent >= 8,
                    good: menu.object.header.votePercent >= 6 && menu.object.header.votePercent < 8,
                    'not-bad': menu.object.header.votePercent >= 4 && menu.object.header.votePercent < 6,
                    bad: menu.object.header.votePercent >= 2 && menu.object.header.votePercent < 4,
                    terrible: menu.object.header.votePercent < 2
                }">{{menu.object.header.votePercent}}</span> / 10
            </span>
            <vote-circle review="menu.object.header.votePercent" gray-background="true"></vote-circle>
        </div>
    </div>

    <div ng-switch-when="dossier" class="for-dossier">
        <div class="user-basic-info">
            <img webp-src="{{'keylol://fd0dfd38572adff068251606aa282b3f.jpg' | avatarUrl}}" alt="npc之舟" class="avatar">
            <div class="name-group">
                <p>{{menu.object.header.basicInfo.userName}}</p>
                <p>{{menu.object.header.basicInfo.isFriend?'互相关注':menu.object.header.basicInfo.subscribed?'单向关注':'&nbsp;'}}</p>
            </div>
        </div>
        <div class="paragraph">好友 <a href="">{{menu.object.header.basicInfo.friendCount}}</a></div>
        <div class="paragraph">关注 <a href="">{{menu.object.header.basicInfo.subscriberCount}}</a></div>
        <div class="paragraph">听众 <a href="">{{menu.object.header.basicInfo.subscribedUserCount}}</a></div>
        <div class="horizon"></div>
        <div class="icon-text">
            <svg aria-hidden="true">
                <use ng-href="{{'dtb-steam' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <span>Steam</span>
        </div>
        <div class="paragraph"><a href="">{{menu.object.header.basicInfo.steamProfileName}}</a></div>

        <div class="icon-text" ng-if="false">
            <svg aria-hidden="true">
                <use ng-href="{{'steamcn' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <span>蒸汽动力<span class="is-friend"> (好友)</span></span>
        </div>
        <div class="paragraph" ng-if="false"><a href="">NPC 的小船</a></div>
    </div>

</div>
<ul>
    <li ng-repeat="item in menu.object.items"><menu-item data="item"></menu-item></li>
</ul>