<div ng-if="menu.object.header" class="menu-header">
    <a ng-if="menu.object.header.isUser" href="user/{{menu.union.$localStorage.user.IdCode}}">
        <img class="avatar" webp-src="{{menu.union.$localStorage.user.AvatarImage | avatarUrl}}" alt="{{menu.union.$localStorage.user.UserName}}">
    </a>
    <div class="header-text" ng-class="{'for-user': menu.object.header.isUser}">
        <p>{{ menu.object.header.isUser ? menu.union.$localStorage.user.UserName : menu.object.header.main}}</p>
        <p>{{ menu.object.header.isUser ? menu.union.$localStorage.user.IdCode : menu.object.header.sub}}</p>
    </div>
</div>
<ul>
    <li ng-repeat="item in menu.object.items"><menu-item data="item"></menu-item></li>
</ul>