<div class="fake-background" ng-if="::(message.object.messageType.type === '公函')"
     webp-background="{{ message.object.messageType.source === '编辑部'?'assets/images/css_logo-theme.png':'assets/images/pss-logo-theme.png' }}">
</div>

<div class="left-part" ng-switch="message.object.messageType.source">
    <div class="message-source" ng-switch-when="用户">
        <img class="avatar" webp-src="//storage.keylol.com/e81748fb2d4357b8f019368b429dfb61.png">
        <div class="name-group">
            <p>{{message.object.operatorUserName}}</p>
            <p>{{message.object.messageType.type}} / <span am-time-ago="message.object.createTime"></span></p>
        </div>
    </div>
    <div class="message-source" ng-switch-default="">
        <div class="name-group">
            <p>{{message.object.messageType.source}}</p>
            <p am-time-ago="message.object.createTime"></p>
        </div>
    </div>
</div>
<div class="right-part" ng-switch="message.object.messageType.source">
    <div class="brief" ng-switch-when="用户" ng-bind-html="message.$sce.trustAsHtml(message.object.messageType.getName(message.object))"></div>
    <div class="brief" ng-switch-default="">
        {{message.object.messageType.name}}
    </div>
    <div class="detail">
        {{message.object.messageType.getSummary(message.object)}}
    </div>
</div>
