<div class="wrapper">
    <div>
        <a href="/" class="logo" ripple="#fff">
            <img ng-if="!navBar.theme" src="assets/images/logo.svg" alt="其乐 Keylol.com">
            <img ng-if="navBar.theme" src="assets/images/logo-whiteout.svg" alt="其乐 Keylol.com">
            <div ng-if="!navBar.theme" class="logo-content font-myriad-keylol">
                <p>其乐</p>
                <p>Keylol.com</p>
            </div>
        </a>
        <div ng-if="navBar.theme.logo" class="theme-logo">
            <a href="/" ripple="#fff">
                <img webp-src="{{navBar.theme.logo | uriRelocate}}">
            </a>
        </div>
        <div ng-if="navBar.theme && !navBar.theme.logo" class="theme-alt">
            <p>{{navBar.stateTree.aggregation.point.basicInfo.chineseName}}</p>
            <p>keylol.com/point/{{navBar.stateTree.aggregation.point.basicInfo.idCode}}</p>
        </div>
        <form class="search-box">
            <input type="search">
            <a href="" aria-label="搜索">
                <svg aria-hidden="true">
                    <use ng-href="{{'search' | iconSvgUrl }}" xlink:href=""></use>
                </svg>
            </a>
        </form>
    </div>
    <div class="action-hub" ng-if="navBar.stateTree.currentUser && !navBar.stateTree.empty">
        <a href="post-office" ng-class="{active: navBar.stateTree.currentUser.messageCount}" ripple="#fff">
            <p>邮政</p>
            <p>{{navBar.stateTree.currentUser.messageCount || "O" | numberAbbreviation}}</p>
        </a>
        <a href="coupon" ripple="#fff">
            <p>文券</p>
            <p>{{navBar.stateTree.currentUser.coupon | numberAbbreviation}} ◆</p>
        </a>
        <a href="" ng-click="navBar.showUserHub($event)" popup="navBar.showUserHubPopup">
            <img class="avatar" webp-src="{{navBar.stateTree.currentUser.avatarImage | avatarUrl}}" alt="{{navBar.stateTree.currentUser.userName}}">
        </a>
    </div>
    <div class="action-hub" ng-if="!navBar.stateTree.currentUser && !navBar.stateTree.empty">
        <flat-button text="登录" type="invert" click="navBar.showLoginWindow(event)"></flat-button>
        <raised-button text="注册" type="theme" invert="true" click="" theme-color="::navBar.theme.main"></raised-button>
    </div>
</div>