nav-bar {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  background-color: $keylol-theme;

  .wrapper {
    width: 1060px;
    display: flex;
    margin: auto;
    height: 100%;
    justify-content: space-between;

    >div {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    display: flex;
    text-decoration: none;
    margin-right: 30px;

    img {
      width: 48px;
      height: 48px;
      margin-right: 10px;
    }

    .logo-content p {
      font-size: 24px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: $keylol-inverted-text;

      &:nth-of-type(2) {
        font-size: 14px;
        opacity: 0.6;
      }
    }
  }

  .search-box {
    display: flex;

    input[type=search] {
      height: 25px;
      width: 240px;
      padding: 0 6px;
      margin-right: 8px;
      background-color: rgba(#fff, 0.1);
      color: $keylol-inverted-text;

      &:focus {
        background-color: rgba(#fff, 0.2);
      }
    }

    a {
      display: flex;

      svg {
        width: 18px;
        height: 25px;
        fill: $keylol-inverted-text;
      }
    }
  }

  .action-hub {

    flat-button {
      &:first-of-type {
        margin-right: 15px;
      }
    }

    a {
      color: $keylol-inverted-text;
      text-decoration: none;

      &.active {
        color: $keylol-accent;

        p:nth-of-type(2) {
          opacity: 1;
          font-weight: bold;
        }
      }

      &:not(:last-of-type) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
        height: 64px;

        &:hover {
          background-color: rgba(#fff, 0.1);
        }
      }

      &:last-of-type {
        margin-left: 15px;
      }

      p {
        font-size: 16px;
        padding: 0;
        margin: 0;
        text-align: center;

        &:nth-of-type(2) {
          margin-top: 5px;
          font-size: 12px;
          opacity: 0.6;
        }
      }

      .avatar {
        width: 45px;
        height: 45px;
        border: 3px solid #fff;
      }
    }
  }
}