<div class="repeat-wrapper" ng-class="{'completed':$index < phase.index,'current':$index === phase.index}" ng-repeat="p in phase.phases">
    <span class="order" ng-if="$index >= phase.index">
        {{$index+1}}
    </span>
    <span class="order" ng-if="$index < phase.index">
        <svg aria-hidden="true">
            <use ng-href="{{'check' | iconSvgUrl }}" xlink:href=""></use>
        </svg>
    </span>

    <span class="text">{{p}}</span>
    <span ng-if="$index !== phase.phases.length-1" class="gap"></span>
</div>
