point-review {
  display: block;

  .review-text {
    @include keylol-review();
    color: $keylol-inertia-text;
  }

  >div {
    display: flex;
  }

  .review-circle.hollow{
    fill: transparent;
    circle {
      stroke: #CCC;
      stroke-width: 1;
    }
  }

  .review-circle {
    @include keylol-review(fill, true);
    margin-right: 2px;
    width: 9px;
    height: 9px;
    cursor: pointer;
    fill: #CCC;
  }
}