point-review {
  display: flex;
  flex-direction: column;
  align-items: center;

  .review-text {
    @include keylol-review();
    color: $keylol-inertia-text;
    margin: 0 0 5px;
  }

  >div {
    display: flex;
  }

  .review-circle.hollow{
    fill: transparent;
    circle {
      stroke: #CCC;
      stroke-width: 1;
    }
  }

  .review-circle {
    @include keylol-review(fill, true);
    margin-right: 2px;
    width: 9px;
    height: 9px;
    cursor: pointer;
    fill: #CCC;

    &:last-of-type {
      margin-right: 0;
    }
  }
}