point-basic-info {
  display: flex;
  align-items: center;

  .avatar {
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }

  .name-group {
    max-width: calc(100% - 42px);
    p {
      @include ellipsis;
      margin: 0;

      &:first-of-type {
        color: $keylol-main-text;
        font-weight: bold;
      }

      &:last-of-type {
        color: $keylol-inertia-text;
        font-size: 12px;
      }
    }
  }
}