raised-button {
  button {
    @include keylol-button-single;
    @include keylol-shadow-1;
    color: $keylol-inverted-text;

    &:active {
      @include keylol-shadow-2;
    }

    &::after {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      background-color: rgba(#000, 0.05);
      left: 0;
      top: 0;
      visibility: hidden;
    }

    &:hover {
      &::after {
        visibility: visible;
      }
    }

    &.theme {
      background-color: $keylol-theme;

      &.invert {
        color: $keylol-theme;
      }
    }

    &.invert {
      background-color: $keylol-inverted-text;
    }
  }
}