review-with-text {
  width: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    @include keylol-review;
    color: $keylol-inertia-text;
    margin-top: -6px;
    font-size: 16px;
    margin-bottom: 4px;
  }

  .not-enough {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      color: $keylol-inertia-text;
    }
    p:first-of-type {
      font-size: 16px;
    }
    p:last-of-type {
      font-size: 12px;
    }
  }
}