review-with-text {
  width: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    color: $keylol-inertia-text;
    margin-top: -6px;
    font-size: 16px;
    margin-bottom: 4px;

    &.awesome {
      color: $keylol-review-awesome;
    }

    &.good {
      color: $keylol-review-good;
    }

    &.not-bad {
      color: $keylol-review-not-bad;
    }

    &.bad {
      color: $keylol-review-bad;
    }

    &.terrible {
      color: $keylol-review-terrible;
    }
  }
}