section-header {
  display: flex;
  margin-top: -10px;
  margin-bottom: 10px;

  p {
    margin: 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;
    height: 48px;

    &.theme {
      .logo {
        fill: $keylol-theme;
      }

      .main-title {
        color: $keylol-theme;
      }
    }

    &.light-theme {
      .logo {
        fill: $keylol-light-theme;
      }

      .main-title {
        color: $keylol-light-theme;
      }
    }

    &.user {
      .logo {
        fill: $keylol-user-theme;
      }

      .main-title {
        color: $keylol-user-theme;
      }
    }

    &.has-background {
      padding-top: 30px;
      margin-bottom: 35px;

      .background {
        position: absolute;
        width: 100%;
        height: 765px;
        background: center no-repeat;
        background-size: cover;
        left: 0;
        margin-top: -30px;
        z-index: -1;

        .mask {
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba($keylol-background, .9), rgba($keylol-background, .9) 50%, rgba($keylol-background, 1));
        }
      }

      .text {
        .main-title {
          font-size: 24px;
        }

        .sub-title {
          color: $keylol-main-text;
        }
      }
    }

    .logo {
      height: 32px;
      width: 16px;
      margin-right: 8px;
    }

    .text {
      .main-title {
        font-size: 20px;
        margin-bottom: 2px;
      }

      .sub-title {
        color: $keylol-inertia-text;
        white-space: pre-line;
      }
    }
  }

  a:hover  .main-title {
    text-decoration: underline;
  }
}