<a class="common-article article" webp-background="{{::simpleArticleCard.card.coverImage | uriRelocate: '/both/340x80'}}" href="" ng-href="article/{{::(simpleArticleCard.authorIdCode?simpleArticleCard.authorIdCode:simpleArticleCard.card.authorIdCode)}}/{{::simpleArticleCard.card.sidForAuthor}}">
    <div class="bottom-text">
        <div class="first-line underline">{{::simpleArticleCard.card.title}}</div>
        <div class="second-line">{{::simpleArticleCard.card.subtitle}}</div>
    </div>
</a>