spotlight-article-card {
  @include keylol-shadow-1;
  background-color: $keylol-card;
  width: 280px;
  display: flex;
  flex-direction: column;

  .point {
    @include hover-background();
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding-left: 15px;
    margin: 10px 0;
  }

  .user {
    @include hover-background();
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 52px;
    padding:0 15px;
    margin: 10px 0;

    .avatar {
      flex-grow: 0;

      background-repeat: no-repeat;
      background-size: cover;

      width: 32px;
      height: 32px;
      border-radius: 16px;
      margin-right: 10px;

    }
    .username {
      flex-grow: 1;

      font-weight: bold;
      color: $keylol-main-text;
    }
    .date {
      flex-grow: 0;

      font-size: 12px;
      color: $keylol-inertia-text;
    }

  }

  .article {
    .background {
      width: 100%;
      height: 160px;

      background-repeat: no-repeat;
      background-size: cover;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &:hover {
        .title {
          text-decoration: underline;
        }
      }

      .bottom-text{
        @include  text-protection();

        .title,
        .desc{
          position:relative;
          z-index: 2;
        }

        .title {
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 6px;
        }

        .desc {
          color: #fff;
          max-height: 40px;
          overflow: hidden;
        }
      }
    }
  }
}