spotlight {
  width: 200px;
  height: 92px;
  display: inline-block;
  background-color: white;
  transition: background-color 100ms ease-in-out;
}

spotlight:hover {
  background-color: #fafbfc;
}

spotlight img {
  width: 100%;
  height: 100%;
}