<a class="user" href="point/DOTA2">
    <div class="avatar" webp-background="http://img2.mtime.cn/up/486/1580486/9BC2E7C6-4811-4B31-A731-11239EC7B7FE_o.jpg"></div>
    <div class="username">用户</div>
    <div class="date">日期</div>
</a>
<a class="article" href="point/DOTA2">
    <div class="background" webp-background="http://img2.mtime.cn/up/486/1580486/9BC2E7C6-4811-4B31-A731-11239EC7B7FE_o.jpg">
            <div class="bottom-text">
                <div class="title">文章名称</div>
                <div class="desc">文章简介</div>
            </div>
    </div>
</a>
<a class="point" href="point/DOTA2">
    <point-basic-info></point-basic-info>
</a>