spotlight-article-card {
  @include keylol-shadow-1;
  background-color: $keylol-card;
  width: 340px;
  display: flex;
  flex-direction: column;

  .point {
    @include hover-point-info-underline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 15px;
    margin: 10px 0;

    point-basic-info {
      flex-grow: 1;
    }
  }

  .user {
    @include hover-child-underline();
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 52px;
    padding: 0 15px;
    margin: 10px 0;
    z-index: 0;

    img-label {
      left: 10px;
    }

    .avatar {
      flex-grow: 0;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      margin-right: 10px;

    }
    .username {
      flex-grow: 1;
      font-weight: bold;
      color: $keylol-main-text;
    }
    .date {
      flex-grow: 0;
      font-size: 12px;
      color: $keylol-inertia-text;
    }
  }

  .article {
    height: 200px;
  }
}