<a ng-if="!spotlightArticleCard.noUserHeader" class="user" href="" ng-href="user/{{::spotlightArticleCard.card.authorIdCode}}" ripple>
    <img-label ng-if="spotlightArticleCard.card.authorIsFriend" type="friended"></img-label>
    <img src="" class="avatar" webp-src="{{::spotlightArticleCard.card.authorAvatarImage | avatarUrl}}"  alt="{{::spotlightArticleCard.card.authorUserName}}">
    <span class="username">{{::spotlightArticleCard.card.authorUserName}}</span>
    <span class="date" am-time-ago="::spotlightArticleCard.card.publishTime"></span>
</a>
<a class="common-article article" webp-background="{{::spotlightArticleCard.card.coverImage | uriRelocate: '/both/425x250'}}" href="" ng-href="article/{{::(spotlightArticleCard.authorIdCode?spotlightArticleCard.authorIdCode:spotlightArticleCard.card.authorIdCode)}}/{{::spotlightArticleCard.card.sidForAuthor}}">
    <div class="bottom-text">
        <div class="first-line underline">{{::spotlightArticleCard.card.title}}</div>
        <div class="second-line">{{::spotlightArticleCard.card.subtitle}}</div>
    </div>
</a>
<a class="point" href="" ng-href="point/{{::spotlightArticleCard.card.pointIdCode}}" ripple>
    <point-basic-info point="::{avatarImage: spotlightArticleCard.card.pointAvatarImage, chineseName: spotlightArticleCard.card.pointChineseName, englishName: spotlightArticleCard.card.pointEnglishName}"></point-basic-info>
</a>