store-game-card {
  @include keylol-shadow-1;
  background-color: $keylol-card;
  width: 280px;
  display: flex;
  flex-direction: column;

  .info {
    @include hover-background();
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding-left: 15px;
    margin: 10px 0;

    point-basic-info {
      max-width: calc(100% - 64px);
    }
    
    .review {
      width: 64px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        margin-top: -6px;
        font-size: 16px;
        margin-bottom: 4px;

        &.awesome {
          color: $keylol-review-awesome;
        }

        &.good {
          color: $keylol-review-good;
        }

        &.not-bad {
          color: $keylol-review-not-bad;
        }

        &.bad {
          color: $keylol-review-bad;
        }

        &.terrible {
          color: $keylol-review-terrible;
        }
      }
    }
  }

  .horizon {
    display: block;
    width: calc(100% - 30px);
    height: 1px;
    margin: auto;
    background-color: $keylol-inertia-shape;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .platforms {
      height: 52px;
      padding-left: 10px;
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        margin-left: 10px;

        svg {
          width: 24px;
          height: 24px;
          fill: $keylol-inertia-shape;
        }

        span {
          margin-left: 10px;
          color: $keylol-inertia-text;

          &.discount {
            color: #a4d007;
          }

          &:last-of-type {
            margin-right: 5px;
          }
        }

        &:hover {
          svg {
            fill: $keylol-light-text;
          }
        }
      }
    }

    flat-button {
      margin-right: 5px;
    }
  }
}