<a class="info" href="point/DOTA2">
    <point-basic-info></point-basic-info>
    <div class="review">
        <span class="awesome">9.0</span>
        <vote-circle vote="5"></vote-circle>
    </div>
</a>
<span class="horizon"></span>
<div class="actions">
    <div class="platforms">
        <a href="">
            <svg aria-hidden="true">
                <use ng-href="{{'Steam' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <span class="discount">-30%</span>
            <span>¥48</span>
        </a>
        <a href="">
            <svg aria-hidden="true">
                <use ng-href="{{'PlayStation' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
        </a>
    </div>
    <flat-button text="订阅"></flat-button>
</div>