<a class="info" ng-href="point/{{::storeGameCard.card.idCode}}" href="" ripple>
    <point-basic-info point="::storeGameCard.card"></point-basic-info>
    <review-with-text review="::storeGameCard.card.averageRating"></review-with-text>
</a>
<span class="horizon"></span>
<div class="actions">
    <div class="platforms">
        <a href="" ng-if="::storeGameCard.card.steamAppId">
            <svg aria-hidden="true">
                <use ng-href="{{'Steam' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
        </a>
    </div>
    <flat-button text="订阅"></flat-button>
</div>