<div ng-show="switchPagination.current !== 1" class="previous">
    <span ng-if="!switchPagination.noPageCount">{{switchPagination.current}} / {{switchPagination.total}}</span>
    <div class="wrapper" ng-class="{'max-height': switchPagination.noPageCount}">
        <button ripple ng-click="switchPagination.previous()">
            <svg aria-hidden="true">
                <use ng-href="{{'chevron-left' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
        </button>
    </div>
</div>
<button ng-hide="switchPagination.current === switchPagination.total" class="next" ripple ng-click="switchPagination.next()">
    <svg aria-hidden="true">
        <use ng-href="{{'chevron-right' | iconSvgUrl }}" xlink:href=""></use>
    </svg>
</button>