tabs {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;

  background-color: $keylol-light-theme;

  .link {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: rgba(#fff, .6);
    text-decoration: none;

    padding: 0 15px;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &:hover {
      color: #fff;
    }

    &.link__selected {
      color: #fff;
    }
  }

  .move-bar {
    position: absolute;
    bottom: 0;
    height: 2px;

    background-color: #fff;
  }
}