text-area {
  display: block;
  position: relative;

  label {
    display: block;
    color: $keylol-inertia-text;
    margin-bottom: 8px;
    transform: translateY(22px);
    font-size: 14px;
    height: 14px;
    transition: transform 350ms cubic-bezier(0.4, 0.0, 0.2, 1),font-size 350ms cubic-bezier(0.4, 0.0, 0.2, 1);
    &.move-up {
      transform: translateY(0);
      font-size: 12px;
    }
    &.theme {
      color: $keylol-light-theme;
    }
    &.warn {
      color: $keylol-review-bad;
    }
  }

  .text {
    transform: translateY(0);
    width: 100%;
    border-bottom: 1px solid $keylol-inertia-shape;

    input[type="text"],
    input[type="password"] {
      width: 100%;
      height: 16px;
      padding: 0;
      padding-bottom: 10px;
      border-radius: 0;
      outline: none;
      background-color: transparent;
    }

    &.theme {
      border-color: $keylol-light-theme;
      border-bottom-width: 2px;
      input[type="text"],
      input[type="password"] {
        padding-bottom: 9px;
      }
    }

    &.warn {
      input[type="text"],
      input[type="password"] {
        padding-bottom: 9px;
      }
      border-color: $keylol-review-bad;
      border-bottom-width: 2px;
    }

    &.disabled {
      border-bottom-style: dotted;
    }
  }

  dropdown,
  input-uic,
  input-point {
    transform: translateY(0);
  }

  .tip {
    margin-top: 6px;
    height: 12px;
    font-size: 12px;
    visibility: hidden;
    color: $keylol-inertia-text;

    &.theme {
      visibility: visible;
    }

    &.warn {
      visibility: visible;
      color: $keylol-review-bad;
    }
  }

  .limit {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $keylol-inertia-text;
    display: none;
    height: 12px;

    &.theme {
      display: block;
    }

    &.warn {
      color: $keylol-review-bad;
      display: block;
    }
  }
}