<label class="
        {{ textArea.activeState || ((textArea.model !== undefined && textArea.model.length !== 0) || textArea.pointCache) ? 'move-up':''}}
        {{ textArea.warnState?'warn':textArea.activeState?'theme':''}}"
       ng-style="{color: textArea.theme.light && textArea.activeState && !textArea.warnState ? textArea.theme.light : null}"
    >{{textArea.label}}</label>

<div class="text {{textArea.disabledState?'disabled':textArea.warnState?'warn':textArea.activeState?'theme':''}}"
     ng-if="textArea.type === 'text'"
     ng-style="{borderColor: textArea.theme.light && textArea.activeState && !textArea.warnState ? textArea.theme.light : null}"
    >
    <input ng-model="textArea.model" type="text" ng-change="textArea.check()" ng-focus="textArea.focus()" ng-blur="textArea.blur()"
           ng-disabled="textArea.disabledState"/>
</div>

<div class="text {{textArea.disabledState?'disabled':textArea.warnState?'warn':textArea.activeState?'theme':''}}"
     ng-if="textArea.type === 'password'"
     ng-style="{borderColor: textArea.theme.light && textArea.activeState && !textArea.warnState ? textArea.theme.light : null}"
    >
    <input ng-model="textArea.model" type="password" ng-change="textArea.check()" ng-focus="textArea.focus()" ng-blur="textArea.blur()"
           ng-disabled="textArea.disabledState"/>
</div>

<input-uic ng-if="textArea.type === 'uic'" length="5" ng-model="textArea.model" focus-handler="textArea.focus()" blur-handler="textArea.blur()"
           state="textArea.disabledState?'disabled':textArea.warnState?'warn':textArea.activeState?'theme':''"
></input-uic>

<input-point theme="textArea.theme" ng-if="textArea.type === 'point'" type-whitelist="textArea.whitelist" options="textArea.options" limit="textArea.limit" ng-model="textArea.model" focus-handler="textArea.focus()" blur-handler="textArea.blur()"
             state="textArea.warnState?'warn':textArea.activeState?'theme':''" cache-handler="textArea.cacheHandler(isEmpty)"></input-point>

<dropdown ng-if="textArea.type === 'dropdown'" object="textArea.object" model="textArea.model" state="textArea.disabledState?'disabled':'theme'"></dropdown>

<div class="tip {{textArea.warnState?'warn':textArea.activeState?'theme':''}}">{{textArea.warnState?textArea.error:textArea.tip}}</div>
<div class="limit {{textArea.warnState?'warn':textArea.activeState?'theme':''}}" ng-if="textArea.type === 'text'&&textArea.limit!==undefined">{{textArea.model.length === undefined?0:textArea.model.length}}/{{textArea.limit}}</div>
