<label ng-class="{
    'fill': textArea.activeState || textArea.fillState,
    'active': textArea.activeState && !textArea.warnState,
    'warn': textArea.activeState && textArea.warnState,
}">{{textArea.label}}</label>


<div class="text" ng-if="textArea.type === 'text'" ng-class="{
    'active': textArea.activeState && !textArea.warnState,
    'warn': textArea.warnState,
}">
    <input ng-model="textArea.model" type="text" ng-change="textArea.check()" ng-focus="textArea.focus()" ng-blur="textArea.blur()"
           ng-class="{'active':textArea.active,'warn':textArea.localWarn}" ng-disabled="textArea.locked"/>
</div>

<div class="text" ng-if="textArea.type === 'password'" ng-class="{
    'active': textArea.activeState && !textArea.warnState,
    'warn': textArea.warnState,
}">
    <input ng-model="textArea.model" type="password" ng-change="textArea.check()" ng-focus="textArea.focus()" ng-blur="textArea.blur()"
           ng-class="{'active':textArea.active,'warn':textArea.localWarn}" ng-disabled="textArea.locked"/>
</div>

<input-uic ng-if="textArea.type === 'uic'" length="5" ng-model="textArea.model" ng-click="textArea.focus()" blur-handler="textArea.blur()"
           state="{{textArea.activeState&&!textArea.warnState?'active':textArea.warnState?'warn':''}}"
></input-uic>

<dropdown ng-if="textArea.type === 'dropdown'" items="['请选择游戏平台','Steam','暂不选择游戏平台']" model="textArea.model"></dropdown>


<div class="tip" ng-class="{'active':textArea.activeState && !textArea.warnState,'warn':textArea.warnState}">{{textArea.tip}}</div>