<div class="display-card">
    <div class="user-with-date">
        <a class="user" href="">
            <img class="avatar" webp-src="{{'' | avatarUrl}}"  alt="{{timelineCard.union.$localStorage.user.UserName}}">
            <span class="username">程晓峰</span>
        </a>
        <a class="date" href="">5 月 7 号</a>
    </div>
    <div class="shortcut" ng-switch="timelineCard.type">
        <a ng-switch-when="article" class="common-article" webp-background="//storage.keylol.com/39b7d020df471d6c0e3fa593802000bc.jpg!timeline.thumbnail.new" href="point/DOTA2">
            <div class="bottom-text">
                <div class="first-line underline">Rogue Stormer（恶棍风暴兵团） Boss攻略与成就指南</div>
                <div class="second-line">《恶棍风暴兵团》 是一款现代版Contra／/Metal Slug 游戏，它结合了 这种roguelike 类型的混搭游戏，并包括和 RPG 角色扮演的元素，游戏中有着、加上疯狂的3D 图形与可支持一至四人的多人游戏合作模式。</div>
            </div>
        </a>
        <div ng-switch-when="simple" class="simple">
            <vote-circle vote="3" gray-background="true"></vote-circle>
            <p>这是一段非常长的文字这是一段非常长的文字这是一段非常长的文字这是一段非常长的文字<span></span></p>
            <img webp-src="//storage.keylol.com/39b7d020df471d6c0e3fa593802000bc.jpg!timeline.thumbnail.new">
        </div>
    </div>
    <div class="point-with-source">
        <a class="point" href="point/DOTA2" ripple>
            <point-basic-info></point-basic-info>
        </a>
        <a class="source" href="">5 个据点来稿</a>
    </div>
    <div class="indirect-sources">
        <a class="indirect-source" href="">
            <img webp-src="{{'' | avatarUrl}}" class="picture" />
            <span class="desc">角色扮演</span>
        </a>
        <a class="indirect-source" href="">
            <img webp-src="{{'' | avatarUrl}}" class="picture" />
            <span class="desc">角色扮演</span>
        </a>
    </div>
</div>
<div class="communicate-card">
    <div class="reviews" ng-class="{'open':timelineCard.state === 'open'}">
        <div class="count">
            全部 16 个评论
        </div>
        <div class="scroller">
            <div class="review" href="" ng-repeat="reviews in [0,1,2,3]">
                <img src="//storage.keylol.com/39b7d020df471d6c0e3fa593802000bc.jpg!timeline.thumbnail.new" alt="" class="avatar" />
                <div class="content">
                    <div class="info">
                        <div class="user">Stark<a href="">+16</a></div>
                        <div class="date">05-03</div>
                        <div class="actions"><a href="">认可</a><a href="">回复</a></div>
                    </div>
                    <div class="text">
                        这是一段文本.
                    </div>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="review-area">
            <img src="//storage.keylol.com/39b7d020df471d6c0e3fa593802000bc.jpg!timeline.thumbnail.new" alt="" class="avatar">
            <div class="textarea" contenteditable="true"><br /></div>
        </div>
    </div>
    <div class="operation" ng-switch="timelineCard.state">
        <div ng-click="timelineCard.showApproverList($event)" popup="timelineCard.showApproverListPopup"><flat-button type="inertia" text="+1"></flat-button></div>
        <flat-button ng-switch-when="open" text="评论"></flat-button>
        <flat-button ng-switch-when="close" type="inertia" text="..." ng-click="timelineCard.open()"></flat-button>
    </div>
</div>
