<div class="display-card">
    <div class="user-with-date">
        <a class="user" ng-href="user/{{timelineCard.card.author.idCode}}">
            <img-label ng-if="timelineCard.card.author.isFriend" type="friended"></img-label>
            <img class="avatar" webp-src="{{timelineCard.card.author.avatarImage | avatarUrl}}"  alt="{{timelineCard.card.author.userName}}">
            <span class="username">{{timelineCard.card.author.userName}}</span>
        </a>
        <a class="date" onclick="return false;" ng-href="{{timelineCard.card.contentType}}/{{timelineCard.card.author.idCode}}/{{timelineCard.card.sidForAuthor}}" ng-click="timelineCard.showMenu($event)" popup="timelineCard.showSharedPopup">
            <span am-time-ago="timelineCard.card.publishTime"></span>
        </a>
    </div>
    <div ng-if="timelineCard.card.likedByUser" class="indirect-sources row">
        <a class="indirect-source" ng-href="user/{{timelineCard.card.likedByUser.idCode}}">
            <img webp-src="{{timelineCard.card.likedByUser.avatarImage | avatarUrl: 'small'}}" class="picture" />
            <span class="desc">{{timelineCard.card.likedByUser.userName}}</span>
        </a>
        <span class="desc">认可{{timelineCard.card.contentType === 'activity' ? '这则动态' : '这篇文章'}}</span>
    </div>
    <div class="shortcut" ng-switch="timelineCard.card.contentType">
        <a ng-switch-when="article" class="common-article" webp-background="{{timelineCard.card.coverImage | articleCoverUrl}}" ng-href="article/{{timelineCard.card.author.idCode}}/{{timelineCard.card.sidForAuthor}}">
            <div class="bottom-text">
                <div class="first-line underline">{{timelineCard.card.title}}</div>
                <div class="second-line">{{timelineCard.card.subtitle}}</div>
            </div>
        </a>
        <div ng-switch-when="activity" class="simple">
            <vote-circle ng-if="timelineCard.card.rating" review="timelineCard.card.rating * 2 - 1" gray-background="true"></vote-circle>
            <p ng-style="{height: timelineCard.simpleHidden ? 99 : timelineCard.simpleHeight || ''}">{{timelineCard.card.content}}<a href="" ng-click="timelineCard.simpleExpand()" ng-if="timelineCard.simpleHidden" class="expand">
                <svg aria-hidden="true">
                    <use ng-href="{{ 'more' | iconSvgUrl }}" xlink:href=""></use>
                </svg>
            </a></p>
            <a target="_blank" ng-href="{{timelineCard.card.coverImage | uriRelocate}}"><img ng-if="timelineCard.card.coverImage" webp-src="{{timelineCard.card.coverImage | uriRelocate: '/fw/425'}}"></a>
        </div>
    </div>
    <div ng-if="timelineCard.card.attachedPoints[0]" class="point-with-source">
        <a class="point" ng-href="point/{{timelineCard.card.attachedPoints[0].idCode}}">
            <point-basic-info point="timelineCard.card.attachedPoints[0]"></point-basic-info>
        </a>
        <!--<a class="source" href="" ng-click="timelineCard.showSourceList($event)" popup="timelineCard.showSharedPopup">5 个据点来稿</a>-->
    </div>
    <div class="indirect-sources">
        <a ng-repeat="point in timelineCard.card.attachedPoints" ng-if="$index > 0" class="indirect-source" ng-href="point/{{point.idCode}}">
            <img webp-src="{{point.avatarImage | avatarUrl: 'small'}}" class="picture" />
            <span class="desc">{{timelineCard.utils.getPreferredPointName(point, timelineCard.stateTree.currentUser)[0]}}</span>
        </a>
    </div>
</div>
<div class="communicate-card">
    <div class="review-area" ng-class="{'open': timelineCard.state === 'open'}">
        <div class="review-count clearfix">
            <span ng-if="timelineCard.card.commentCount">全部 {{timelineCard.card.commentCount}} 个评论</span>
            <a href="" ng-href="{{timelineCard.card.contentType}}/{{timelineCard.card.author.idCode}}/{{timelineCard.card.sidForAuthor}}">查看更多</a>
        </div>
        <div class="review-list" ng-class="{scroller: timelineCard.hasScroller}">
            <div class="review" href="" data-floor-id="#{{comment.sidForActivity}}" ng-repeat="comment in timelineCard.comments" ng-class="{'blink':timelineCard.currentFloor === comment.sidForActivity}">
                <a ng-href="user/{{comment.authorIdCode}}"><img src="" webp-src="{{comment.authorAvatarImage | avatarUrl}}" alt="" class="avatar" /></a>
                <div class="content">
                    <div class="info">
                        <div class="user"><a class="username" ng-href="user/{{comment.authorIdCode}}">{{comment.authorUserName}}</a> <span ng-if="comment.likeCount" ng-style="{color: comment.liked ? timelineCard.theme.light : ''}" ng-class="{light: comment.liked}">+{{comment.likeCount}}</span></div>
                        <div class="date"><span am-time-ago="comment.publishTime"></span> / #{{comment.sidForActivity}}</div>
                        <div class="actions">
                            <a href="" ng-if="timelineCard.stateTree.currentUser && !comment.liked && comment.authorIdCode !== timelineCard.stateTree.currentUser.idCode" ng-click="timelineCard.utils.like(comment.id, comment, 'ActivityComment')">认可</a>
                            <a href="" ng-if="timelineCard.stateTree.currentUser" ng-click="timelineCard.replyComment(comment)">回复</a>

                            <a href="" ng-if="!timelineCard.stateTree.currentUser" ng-click="timelineCard.utils.openRegistration()">认可</a>
                            <a href="" ng-if="!timelineCard.stateTree.currentUser" ng-click="timelineCard.utils.openRegistration()">回复</a>
                        </div>
                    </div>
                    <div class="text">{{comment.content}}</div>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div ng-if="timelineCard.stateTree.currentUser && timelineCard.card.contentType === 'activity'" class="review-sender">
            <img webp-src="{{timelineCard.stateTree.currentUser.avatarImage | avatarUrl}}" alt="" class="avatar">
            <textarea focus-me="timelineCard.commentFocus" elastic placeholder="发表见解..." ng-model="timelineCard.comment"></textarea>
        </div>
    </div>
    <div class="operation" ng-switch="timelineCard.state">
        <div>
            <flat-button ng-if="timelineCard.stateTree.currentUser" click="timelineCard.utils.like(timelineCard.card.contentId, timelineCard.card, timelineCard.card.contentType === 'article' ? 'Article' : 'Activity')"
                         type="{{timelineCard.card.liked ? 'light' : 'inertia'}}"
                         theme-color="timelineCard.theme.light"
                         disabled-with-color="timelineCard.card.author.idCode !== timelineCard.stateTree.currentUser.idCode"
                         disabled="timelineCard.card.liked || timelineCard.card.author.idCode === timelineCard.stateTree.currentUser.idCode"
                         text="+{{timelineCard.card.likeCount}}"></flat-button>
            <flat-button ng-if="!timelineCard.stateTree.currentUser" click="timelineCard.utils.openRegistration(event)"
                         type="inertia"
                         text="+{{timelineCard.card.likeCount}}"></flat-button>
        </div>
        <flat-button ng-switch-when="open" text="评论" click="timelineCard.doComment()"></flat-button>
        <flat-button ng-switch-when="close" type="inertia" text="···{{timelineCard.card.commentCount}}" click="timelineCard.openReviewArea()"></flat-button>
    </div>
</div>
