timeline-card {
  @include keylol-shadow-1;
  width: 340px;
  display: block;
  background-color: $keylol-inverted-text;

  >.display-card {
    @include keylol-shadow-1;
    background-color: $keylol-card;

    >.user-with-date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
      padding: 0 15px;

      >.user {
        flex-shrink: 1;
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
          >.username {
            text-decoration: underline;
          }
        }
        >.avatar {
          flex-shrink: 0;
          width: 32px;
          height: 32px;
          border-radius: 16px;
          margin-right: 10px;
        }
        >.username {
          flex-shrink: 1;
          font-weight: bold;
          color: $keylol-main-text;
        }
      }

      >.date {
        flex-shrink: 0;
        font-size: 12px;
        color: $keylol-inertia-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    >.shortcut {
      .common-article {
        height: 200px;
      }

      >.simple {
        >vote-circle {
          padding: 0 15px;
          margin-bottom: 20px;
        }

        >p {
          margin: 0 0 20px;
          padding: 0 15px;
          white-space: pre-wrap;
          overflow: hidden;
          position: relative;
          transition: height .5s;

          >.expand {
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background: linear-gradient(to bottom, rgba($keylol-card, .3), rgba($keylol-card, 1) 75%);

            svg {
              width: 24px;
              height: 24px;
              fill: $keylol-light-theme;
            }
          }
        }

        >img {
          width: 100%;
        }
      }
    }

    .point-with-source {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
      padding: 0 15px;

      >.point {
        flex-shrink: 1;

        &:hover>point-basic-info>.name-group>p:first-of-type {
          text-decoration: underline;
        }
      }

      >.source {
        flex-shrink: 0;
        font-size: 12px;
        color: $keylol-inertia-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    >.indirect-sources {
      margin-left: 35px;
      padding-bottom: 5px;
      display: flex;
      flex-direction: column;

      >.indirect-source {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        >.picture {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }

        >.desc {
          color: $keylol-main-text;
        }

        &:hover>.desc {
            text-decoration: underline;
        }
      }
    }
  }

  .communicate-card>.operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 50px;
  }

  >.communicate-card>.review-area {
    transition: max-height 1000ms;//待处理-曲线
    max-height: 0;
    overflow: hidden;

    &.open {
      max-height: 1000px; //尽量大
    }

    >.hr {
      height: 1px;
      background-color: $keylol-inertia-shape;
    }

    >.review-count {
      padding: 20px 15px 10px;
      color: $keylol-inertia-text;
    }

    >.review-sender {
      display: flex;
      margin-top: 25px;
      margin-bottom: 10px;
      padding: 0 15px;

      .avatar {
        flex-grow: 0;
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }

      textarea {
        flex-grow: 1;
        padding: 0;
        outline: 0;
        resize: none;
      }
    }

    >.review-list {
      position: relative;
      &.scroller {
        height: 400px;
        overflow: auto;
      }

      >.review {
        @include hover-background();
        padding: 15px 15px;
        display: flex;

        &.blink {
          animation: review-blink 5s;
        }

        >.avatar {
          flex-grow: 0;
          width: 32px;
          height:32px;
          margin-right: 10px;
        }

        >.content {
          flex-grow: 1;
        }

        >.content>.info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 20px; //待处理 - info高度

          >.user {
            font-weight: bold;
            color: $keylol-main-text;
            >a {
              color: $keylol-inertia-text;
              font-weight: normal;
              margin-left: 6px;
            }
            >a:hover {
              text-decoration: underline;
            }
          }

          >.date {
            color: $keylol-inertia-text;
          }

          >.actions {
            display: none;
            >a {
              margin-left: 15px;
              color: $keylol-highlight;
            }
            >a:hover {
              text-decoration: underline;
            }
          }
        }

        >.content>.text {
          color: $keylol-main-text;
        }

        &:hover>.content>.info>.date {
          display: none;
        }
        &:hover>.content>.info>.actions {
          display: block;
        }
      }
    }
  }
}