<div class="background" webp-background="{{userCard.user.headerImage | uriRelocate: '/both/200x38'}}"></div>
<a href="" ng-href="user/{{userCard.user.idCode}}">
    <img-label ng-if="userCard.user.isFriend" type="friended"></img-label>
    <img class="avatar" webp-src="{{userCard.user.avatarImage | avatarUrl}}">
    <div class="bundle">
        <p class="nickname">{{userCard.user.userName}}</p>
        <p ng-if="userCard.user.role" class="remark">{{userCard.user.role}}</p>
        <p ng-if="false" class="remark">Steam 好友</p>
    </div>
</a>
<flat-button ng-if="userCard.stateTree.currentUser && userCard.user.idCode !== userCard.stateTree.currentUser.idCode" binary-set="userCard.subscribeSet" binary-value="userCard.user.subscribed"
             click="userCard.subscribe(userCard.user.id, userCard.user.subscribed, userCard.user, 'User')"></flat-button>
<flat-button ng-if="!userCard.stateTree.currentUser" text="关注" type="userCard.type"
             click="userCard.openRegistration(event)"></flat-button>