<div class="section-article-comments box-shadowed" ng-class="{archive: articleComments.article.TypeName === '封'}">
    <h1 class="labeled-heading">{{articleComments.article.TypeName !== '封'?"共" + articleComments.article.totalComments + "则讨论":"封存文章的评论会被自动隐藏"}}</h1>
    <comment-block comment="comment" is-hot="true" on-reply="articleComments.reply(comment)"  on-acknowledge="articleComments.acknowledge(comment)"  on-cancel-acknowledge="articleComments.cancelAcknowledge(comment)" ng-if="articleComments.pageElements.currPage == 1 && articleComments.hotComments.length > 0 && articleComments.article.TypeName !== '封'" ng-repeat="comment in articleComments.hotComments track by comment.Id"></comment-block>
    <div class="cut-off" ng-if="articleComments.pageElements.currPage == 1 && articleComments.hotComments.length > 0 && articleComments.article.TypeName !== '封'"></div>
    <comment-block comment="comment" is-hot="false" on-reply="articleComments.reply(comment)"  on-acknowledge="articleComments.acknowledge(comment)"  on-cancel-acknowledge="articleComments.cancelAcknowledge(comment)" ng-if="articleComments.article.TypeName !== '封'" ng-repeat="comment in articleComments.comments track by comment.Id"></comment-block>
    <pagination ng-if="articleComments.article.TypeName !== '封'" total="articleComments.pageElements.totalPages" current="articleComments.pageElements.currPage" on-page-changed="articleComments.pageElements.changePage(oldPage, newPage)" page-href=""></pagination>
    <form ng-if="articleComments.union.$localStorage.user && articleComments.article.TypeName !== '封'" ng-submit="articleComments.doComment()">
        <point-link type="'user'" avatar-url="articleComments.union.$localStorage.user.AvatarImage" id-code="articleComments.union.$localStorage.user.IdCode"></point-link>
        <button type="submit" class="border-button right-border" ng-disabled="articleComments.submitLock">发表评论</button>
        <div class="textarea-container"><textarea placeholder="对作者的见解有什么见解？" ng-model="articleComments.comment.currentComment" focus-me="textFocus"></textarea></div>
    </form>
    <div class="for-visitor" ng-if="!articleComments.union.$localStorage.user && articleComments.article.TypeName !== '封'">
        <div class="avatar-anchor">
            <img class="avatar-small" webp-src="{{articleComments.avatarUrl|avatarUrl}}" alt="头像">
        </div>
        <div class="textarea-container">
            <div class="fake-textarea">
                <div class="action-container">
                    <a class="log-up" href="" ng-click="articleComments.showRegistrationWindow()">
                        <img src="assets/images/steam-logo.png">
                        <h4>通过 Steam 账户</h4>
                        <h3 class="font-myriad-keylol">加入其乐社区</h3>
                    </a>
                    <a href="" class="log-in" ng-click="articleComments.showLoginSteamWindow()">已注册用户登录</a>
                </div>
            </div>
        </div>
    </div>
</div>