<div class="fake-left" style="{{articleHeader.theme.main ? 'background-color:' + articleHeader.theme.main + ';': ''}}"></div>
<div class="fake-right" style="{{articleHeader.theme.main ? 'background-color:' + articleHeader.theme.main + ';': ''}}"></div>
<div class="title">
    <div class="name-group">
        <p>{{articleHeader.article.title}}</p>
        <p>{{articleHeader.article.subtitle}}</p>
    </div>
    <div class="action" popup="articleHeader.showModerationPopup">
        <icon-button type="half-invert" icon="dots-vertical" click="::articleHeader.showModeration(event)"></icon-button>
        <p am-time-ago="articleHeader.article.publishTime"></p>
    </div>
</div>
<div class="moderation" ng-if="articleHeader.article.spotlighted" style="{{articleHeader.theme.light ? 'background-color:' + articleHeader.theme.light + ';': ''}}">
    <div class="name-group">
        <p class="font-myriad-keylol">萃选文章</p>
        <p>由站务职员推荐的文章</p>
    </div>
    <img webp-src="assets/images/pss-logo.png">
</div>
<div class="moderation" ng-if="articleHeader.article.archived" style="{{articleHeader.theme.light ? 'background-color:' + articleHeader.theme.light + ';': ''}}">
    <div class="name-group">
        <p class="font-myriad-keylol">这篇文章已被封存</p>
        <p>封存后只有作者和站务职员可以看到文章内容</p>
    </div>
    <img webp-src="assets/images/css_logo.png">
</div>
<div class="moderation" ng-if="articleHeader.article.rejected" style="{{articleHeader.theme.light ? 'background-color:' + articleHeader.theme.light + ';': ''}}">
    <div class="name-group">
        <p class="font-myriad-keylol">这篇文章已被退稿</p>
        <p>退稿后只能通过链接或者作者的个人页面访问文章</p>
    </div>
    <img webp-src="assets/images/css_logo.png">
</div>