<div class="display">
    <div class="header">
        <div class="count">
            <p>共 {{articleComments.article.commentCount}} 则讨论</p>
            <p>最后回复于 <span am-time-ago="articleComments.article.latestCommentTime"></span></p>
        </div>
        <pagination on-page-changed="::articleComments.changePage(newPage, oldPage)" total="articleComments.article.commentPageCount" current="articleComments.currentPage"></pagination>
    </div>
    <div class="comments" ng-style="{height: articleComments.commentsHeight}" ng-class="{
    'to-next' : articleComments.isToNext,
    'to-previous' : !articleComments.isToNext
    }">
        <ul ng-animate-swap="articleComments.currentPage">
            <li class="comment" ng-repeat="comment in articleComments.article.comments">
                <div class="basic-info">
                    <img class="avatar" webp-src="{{comment.authorAvatarImage | avatarUrl}}">
                    <div class="name-group">
                        <p>{{comment.authorUserName}}</p>
                        <p ng-if="articleComments.article.pointBasicInfo.type === 'game'">
                            <span ng-if="comment.authorPlayedTime">在档时间 {{comment.authorPlayedTime}} 小时</span>
                            <span ng-if="!comment.authorPlayedTime">无在档记录</span>
                        </p>
                    </div>
                    <div class="action-date">
                        <p class="action"><a href="">认可</a><a href="">回复</a><a href="">封存</a><a href="">警告</a></p>
                        <p><span am-time-ago="comment.publishTime"></span> / #{{comment.sidForArticle}}</p>
                    </div>
                </div>
                <article class="editor-style" bind-html-compile="comment.content"></article>
            </li>
        </ul>
    </div>
    <div class="footer clearfix"><pagination on-page-changed="::articleComments.changePage(newPage, oldPage)" total="articleComments.article.commentPageCount" current="articleComments.currentPage"></pagination></div>
</div>
<div class="sender">
    <div class="basic-info">
        <img class="avatar" webp-src="{{articleComments.stateTree.currentUser.avatarImage | avatarUrl}}">
        <div class="name-group">
            <p>{{articleComments.stateTree.currentUser.userName}}</p>
            <p ng-if="articleComments.article.pointBasicInfo.type === 'game'">
                <span ng-if="articleComments.article.pointBasicInfo.totalPlayedTime">在档时间 {{articleComments.article.pointBasicInfo.totalPlayedTime}} 小时</span>
                <span ng-if="!articleComments.article.pointBasicInfo.totalPlayedTime">无在档记录</span>
            </p>
        </div>
        <div class="action-date">
            <p>&nbsp</p>
            <p>#{{articleComments.article.commentCount + 1}}+</p>
        </div>
    </div>
    <div simditor ng-model="articleComments.vm.content"></div>
    <div class="clearfix">
        <raised-button text="回复" type="theme"></raised-button>
    </div>
</div>