article-content {
  @include keylol-shadow-1();
  background-color: $keylol-inverted-text;
  display: block;

  .other {
    padding: 30px 15px;
    .repost-declaration {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 25px;
      border-bottom: 1px solid $keylol-inertia-shape;

      .bundle {
        p {
          margin: 0;
        }
        p:first-of-type {
          font-weight: bold;
          color: $keylol-light-theme;
        }
        p:last-of-type {
          color: $keylol-main-text;
        }
      }

      .links {
        display: flex;

        a {
          display: block;
          margin-left: 25px;
          width: 20px;
          height: 20px;
          svg {
            width: 100%;
            height: 100%;
            fill:$keylol-inertia-shape;
          }
        }
      }
    }

    .agree {
      .action {
        padding-top: 20px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
      }
      .agree-list {
        display: flex;
        justify-content: center;
        img {
          border-radius: 0;
          width: 16px;
          height: 16px;
          margin: 0 5px;
        }
      }
    }
  }

  article {
    @include keylol-shadow-1();
    padding: 15px;
    background-color: $keylol-card;

    h1 {
      margin: 25px 0 10px;
      font-size: 20px;
      font-weight: bold;
      color: $keylol-theme;
      &::before {
        content: ">";
        font-family: "Keylol Rail Sung", serif;
        margin-right: 6px;
        font-size: 20px;
      }
    }

    p {
      margin:0 0 16px;
      word-wrap: break-word;
      line-height: 1.6em;
      font-size: 16px;
      color: $keylol-main-text;
    }

    img {
      vertical-align: middle;
      margin-left:-15px;
      width: calc(100% + 30px);
    }

    i {
      color: $keylol-inertia-text;
      font-size: 14px;
      font-style: italic;
    }

    blockquote {
      @include keylol-shadow-1();
      background-color: $keylol-inverted-text;
      padding: 20px 15px;
      margin: 0 0 16px;
      &>:last-child {
        margin-bottom: 0 !important;
      }
    }

    spoiler {
      margin-bottom: 16px;
    }
  }
}