.section-coupon-header {
    background: white;
    padding: 15px 0;
    width: 100%;
    min-width: 870px;
}

.section-coupon-header h1 {
    margin: 0;
    padding-right: 13px;
}

.section-coupon-header p {
    margin: 15px 20px;
    text-indent: 2em;
}

.section-coupon-header .coupon-rule {
    display: flex;
    margin: 12px 5px;
}

.section-coupon-header .coupon-rule ul {
    flex: 1;
    margin: 0;
    padding: 8px 20px;
    height: 100px;
    border-right: 1px #ccc solid;
    list-style: none;
}

.section-coupon-header .coupon-rule ul:last-of-type {
    border-right: none;
}

.section-coupon-header .coupon-rule ul li {
    padding: 5px 0;
}

.section-coupon-header .coupon-rule ul li.quote {
    color: #bbb;
}

.section-coupon-header .coupon-rule ul li .rule-content a {
    color: $keylol-highlight;
}

.section-coupon-header .coupon-rule ul li .rule-result {
    float: right;
}

.section-coupon-header .coupon-rule .registration-rule li .rule-result {
    color: $keylol-theme;
}

.section-coupon-header .coupon-rule .minus-rule li .rule-result {
    color: #e30613;
}

.section-coupon-header .coupon-rule .add-rule li .rule-result {
    color: #00ab4e;
}