<div class="header">
    <div class="text">
        <p>2016 秋季认可排行</p>
        <p>9月11日 - 11月30日</p>
    </div>
    <img src="assets/images/Trophy.png">
</div>
<div class="list">
    <div class="title">
        <div class="cell">#</div>
        <div class="cell">用户</div>
        <div class="cell">当季文章认可</div>
        <div class="cell">文券</div>
    </div>
    <div class="item-list" ng-style="{height: couponRankingList.list.length * 72 - 10}" ng-class="{
    'to-next' : couponRankingList.isToNext,
    'to-previous' : !couponRankingList.isToNext
    }">
        <div class="wrapper" ng-animate-swap="couponRankingList.currentPage">
            <div class="item" ng-repeat="item in couponRankingList.list">
                <div class="cell" ng-class="{'best-ranking':item.ranking <= 2}">{{item.ranking + 1}}</div>
                <div class="cell user-info">
                    <a href="user/{{item.userBasicInfo.idCode}}">
                        <img-label ng-if="item.userBasicInfo.isFriend" type="friended"></img-label>
                        <img class="avatar" webp-src="{{ item.userBasicInfo.avatarImage | avatarUrl}}" alt="">
                    </a>
                    <div class="name-group">
                        <p><a href="user/{{item.userBasicInfo.idCode}}">{{item.userBasicInfo.userName}}</a></p>
                        <p>{{item.userBasicInfo.gamerTag}}</p>
                    </div>
                </div>
                <div class="cell">{{item.seasonLikeCount}}</div>
                <div class="cell">{{item.coupon}} ◆</div>
            </div>
        </div>
    </div>
</div>
<div class="footer clearfix">
    <pagination on-page-changed="couponRankingList.changePage(newPage, oldPage)" total="10" current="couponRankingList.currentPage"></pagination>
</div>
