<div class="header" webp-background="{{::latestArticles.headerImage | uriRelocate}}">
    <div class="header-text">
        <p class="title">{{::latestArticles.headers[latestArticles.type].title}}</p>
        <p class="sub-title">{{::latestArticles.headers[latestArticles.type].subTitle}}</p>
    </div>
    <fab icon="New_Article" type="accent" theme-color="latestArticles.theme.main"></fab>
</div>
<div class="latest-wrapper" ng-style="{height: (latestArticles.articles.length > 5 && !latestArticles.hasBeenExpanded) ? 434 : latestArticles.articles.length * 87}" ng-class="{
    'to-next' : latestArticles.isToNext,
    'to-previous' : !latestArticles.isToNext
    }">
    <ul class="latest-list" ng-animate-swap="latestArticles.currentPage">
        <li ng-repeat="article in ::latestArticles.articles track by $index">
            <div class="count" style="{{::(latestArticles.theme.light ? 'background-color: ' + latestArticles.theme.light + ';' : '')}}">
                <span>+{{::article.likeCount}}</span><span>···{{::article.commentCount}}</span>
            </div>
            <div class="article">
                <p><a ng-href="article/{{::article.authorIdCode}}/{{::article.sidForAuthor}}">{{::article.title}}</a></p>
                <p>
                    <span class="datetime" am-time-ago="article.publishTime"></span>
                    <a href="" ng-href="user/{{::article.authorIdCode}}">
                        <img class="avatar" src="" webp-src="{{::article.authorAvatarImage | avatarUrl}}" alt="{{::article.authorUserName}}">
                        <span>{{::article.authorUserName}}</span>
                    </a>
                    <a href="" ng-href="point/{{::article.pointIdCode}}">
                        <img class="avatar" src="" webp-src="{{::article.pointAvatarImage | avatarUrl}}" alt="{{::article.pointChineseName}}">
                        <span>{{::article.pointChineseName}}</span>
                    </a>
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="footer clearfix">
    <flat-button ng-if="latestArticles.articles.length > 5 && !latestArticles.hasBeenExpanded" text="展开更多" type="light-text" click="latestArticles.expandMore()"></flat-button>
    <pagination ng-if="latestArticles.hasBeenExpanded" on-page-changed="::latestArticles.changePage(newPage, oldPage)" total="::latestArticles.totalPage" current="latestArticles.currentPage"></pagination>
</div>