<div class="header" webp-background="{{::latestArticles.headerImage | defaultFallback: 'latest-articles' | listHeaderUrl}}">
    <div class="header-text">
        <p class="title">{{::latestArticles.headers[latestArticles.type].title}}</p>
        <p class="sub-title">{{::latestArticles.headers[latestArticles.type].subTitle}}</p>
    </div>
    <fab ng-if="latestArticles.stateTree.currentUser" click="latestArticles.newArticle()" icon="new-article" type="accent" theme-color="latestArticles.theme.main"></fab>
    <fab ng-if="!latestArticles.stateTree.currentUser" click="latestArticles.utils.openRegistration(event)" icon="new-article" type="accent" theme-color="latestArticles.theme.main"></fab>
</div>
<div ng-if="latestArticles.isEmpty" class="empty">
    <img src="assets/images/portal-cake.png" alt="">
    <div class="bundle">
        <p class="font-myriad-keylol">这里空空如也，连块蛋糕都没有。</p>
        <p>来一发投稿如何？</p>
    </div>
</div>
<div ng-if="!latestArticles.isEmpty" class="latest-wrapper" ng-style="{height: (latestArticles.articles.length > 5 && !latestArticles.hasBeenExpanded) ? 434 : latestArticles.articles.length * 87}" ng-class="{
    'to-next' : latestArticles.isToNext,
    'to-previous' : !latestArticles.isToNext
    }">
    <ul class="latest-list" ng-animate-swap="latestArticles.currentPage">
        <li ng-repeat="article in ::latestArticles.articles track by $index">
            <div class="count" ng-style="{color: latestArticles.theme.light}">
                <span>+{{::article.likeCount}}</span><span>···{{::article.commentCount}}</span>
            </div>
            <div class="article">
                <p><a ng-href="article/{{::article.authorIdCode}}/{{::article.sidForAuthor}}">{{::article.title}}</a></p>
                <p>
                    <span class="datetime" am-time-ago="article.publishTime"></span>
                    <a href="" ng-href="user/{{::article.authorIdCode}}">
                        <img class="avatar" src="" webp-src="{{::article.authorAvatarImage | avatarUrl: 'small'}}" alt="{{::article.authorUserName}}">
                        <span>{{::article.authorUserName}}</span>
                    </a>
                    <a ng-if="::article.pointIdCode" href="" ng-href="point/{{::article.pointIdCode}}">
                        <img class="avatar" src="" webp-src="{{::article.pointAvatarImage | avatarUrl: 'small'}}" alt="{{::latestArticles.utils.getPreferredPointNamePrefixPoint(article, latestArticles.stateTree.currentUser)[0]}}">
                        <span>{{::latestArticles.utils.getPreferredPointNamePrefixPoint(article, latestArticles.stateTree.currentUser)[0]}}</span>
                    </a>
                </p>
            </div>
        </li>
    </ul>
</div>
<div ng-if="!latestArticles.isEmpty" class="footer clearfix">
    <flat-button ng-if="latestArticles.articles.length > 5 && !latestArticles.hasBeenExpanded" text="展开更多" type="light-text" click="latestArticles.expandMore()"></flat-button>
    <pagination ng-if="latestArticles.hasBeenExpanded" on-page-changed="::latestArticles.changePage(newPage, oldPage)" total="::latestArticles.totalPage" current="latestArticles.currentPage"></pagination>
</div>
