login-passcode {
  display: block;

  .passcode-wrapper {
    overflow: hidden;
    display: block;
    position: relative;

    &.left {
      >.swap-helper.swap-animation.ng-enter,
      >.swap-helper.swap-animation.ng-leave {
        transition: transform 200ms, opacity 180ms;
      }
      >.swap-helper.swap-animation.ng-enter {
        transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        transition-delay: 300ms;
        position: relative;
        opacity: 0;
        transform: translateX(100%);
      }
      >.swap-helper.swap-animation.ng-enter-active {
        opacity: 1;
        transform: translateX(0);
      }
      >.swap-helper.swap-animation.ng-leave {
        transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
        position: absolute;
        top: 0;
        opacity: 1;
        transform: translateX(0);
      }
      >.swap-helper.swap-animation.ng-leave-active {
        opacity: 0;
        transform: translateX(-100%);
      }
    }

    &.right {
      >.swap-helper.swap-animation.ng-enter,
      >.swap-helper.swap-animation.ng-leave {
        transition: transform 200ms, opacity 180ms;
      }

      >.swap-helper.swap-animation.ng-enter {
        transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        transition-delay: 300ms;
        position: relative;
        opacity: 0;
        transform: translateX(-100%);
      }
      >.swap-helper.swap-animation.ng-enter-active {
        opacity: 1;
        transform: translateX(0);
      }
      >.swap-helper.swap-animation.ng-leave {
        transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
        position: absolute;
        top: 0;
        opacity: 1;
        transform: translateX(0);
      }
      >.swap-helper.swap-animation.ng-leave-active {
        opacity: 0;
        transform: translateX(100%);
      }
    }

    >.swap-helper {
      flex-shrink: 0;
      width: 100%;

      .inputs {
        padding-left: 15px;
        padding-top: 20px;
        display: flex;
      }


      .action {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 75px;
        margin-right: 20px;

        raised-button {
          margin-left: 20px;
        }
      }
    }
  }
}