mails {
  @include keylol-shadow-1();
  display: block;
  background-color: $keylol-card;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 40px;
  margin-top: 30px;

  .mail {
    border-top: 1px solid $keylol-inertia-shape;
    padding: 0 15px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .fake-background {
      position: absolute;
      left: 15px;

      width: 200px;
      height: 125px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.1;
    }

    .left-part {
      padding: 15px 0;
      width: 200px;

      .mail-source {
        display: flex;
        align-items: center;

        .avatar {
          margin-right: 10px;
          width: 32px;
          height: 32px;
        }

        .name-group {
          max-width: calc(100% - 42px);
          p {
            @include ellipsis;
            margin: 0;

            &:first-of-type {
              color: $keylol-main-text;
              font-weight: bold;
            }

            &:nth-of-type(2) {
              color: $keylol-inertia-text;
              font-size: 12px;
            }
          }
        }
      }
    }

    .right-part {
      width: 670px;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .brief {
        @include ellipsis();
        color: $keylol-main-text;
        line-height: 25px;

        a {
          color: $keylol-inertia-text;
          &:hover { text-decoration: underline; }
        }
      }

      .detail {
        @include keylol-shadow-1();
        @include ellipsis();
        padding: 15px;
        margin-bottom: 5px;
        background-color: $keylol-inverted-text;
        color: $keylol-main-text;
      }
    }

    &:first-of-type { border-top: 0; }
  }

  pagination {
    margin: 20px 0;
    float: right;
  }
}