<div>
    <div class="mail" ng-repeat="mail in [1,2,3,4,5]">
        <div class="fake-background" webp-background="assets/images/css_logo-theme.png"></div>
        <div ng-if="false" class="fake-background" webp-background="assets/images/pss-logo-theme.png"></div>
        <div class="left-part">
            <div ng-if="false" class="mail-source">
                <img class="avatar" webp-src="//storage.keylol.com/e81748fb2d4357b8f019368b429dfb61.png">
                <div class="name-group">
                    <p>ETred</p>
                    <p>回复 / 昨天 6:00</p>
                </div>
            </div>
            <div class="mail-source">
                <div class="name-group">
                    <p>萃选科</p>
                    <p>刚刚</p>
                </div>
            </div>
        </div>
        <div class="right-part">
            <div class="brief">
                萃选录入函<a href="">欢迎来到其乐</a>
            </div>
            <div class="detail">
                感谢你对其乐社区质量的认可和贡献!
            </div>
        </div>
    </div>
    <div class="clearfix">
        <pagination total="5" current="1"></pagination>
    </div>
</div>