<div class="header" webp-background="{{mediaCenter.headerImage | uriRelocate: '/both/700x180'}}">
    <div class="header-things">
        <div class="header-text">
            <p class="title">媒体中心</p>
            <p class="sub-title">宣传片、截图、原画、粉丝艺术</p>
        </div>
        <div popup="mediaCenter.uploadImagePopup">
            <raised-button ngf-select="mediaCenter.uploadImage($file, $event)" ngf-fix-orientation="true" accept="image/*" text="上传媒体" theme-color="mediaCenter.theme.main"></raised-button>
        </div>
    </div>
</div>
<div class="wrapper" ng-if="mediaCenter.list.length > 0">
    <ul>
        <li ng-repeat="item in mediaCenter.list track by $index" ng-if="$index < 6" ng-click="mediaCenter.showMediaOverlayWindow($index+1)">
            <a href="" ng-href="" webp-background="{{item.link | uriRelocate}}">
                <p class="text" ng-if="item.isVideo">
                    <span>{{$index === 0? item.text : ''}}</span>
                    <svg aria-hidden="true">
                        <use ng-href="{{'video-play' | iconSvgUrl }}" xlink:href=""></use>
                    </svg>
                </p>
            </a>
        </li>
    </ul>
    <div class="more">
        <p>{{mediaCenter.artworkCount}} 张截图 / {{mediaCenter.screenshotCount}} 幅原画</p>
        <p><a href="" ng-click="mediaCenter.showMediaOverlayWindow(1)">查看更多</a></p>
    </div>
</div>