nav {
  width: 100%;
  min-width: 1060px;
  position: fixed;
  top: 0;
  z-index: 999;

  tabs {
    &.shadowed-add, &.shadowed-remove {
      transition: .5s;
    }

    &.shadowed {
      @include keylol-shadow-1;
    }
  }
}