nav {
  width: 100%;
  min-width: 1060px;
  padding-top: 64px;

  nav-bar {
    position: fixed;
    top: 0;
    z-index: 999;

    &.shadowed-add, &.shadowed-remove {
      transition: .5s;
    }

    &.shadowed {
      @include keylol-shadow-1;
    }
  }
}