<section-header header="outpostPoints.type"></section-header>
<div class="moderation-wrapper" popup="outpostPoints.showModerationPopup">
    <icon-button icon="dots-vertical" click="::outpostPoints.showModeration(event)"></icon-button>
</div>
<div class="wrapper">
    <div class="pages-wrapper">
        <div class="cards-wrapper" ng-class="{
        'left-hidden': $index + 1 < outpostPoints.activePage,
        active: $index + 1 === outpostPoints.activePage,
        'right-hidden': $index + 1 > outpostPoints.activePage,
        }" ng-repeat="page in outpostPoints.pages track by $index">
            <game-guide-card ng-repeat="card in page track by $index" card="card"></game-guide-card>
        </div>
    </div>
    <switch-pagination next="outpostPoints.nextPage()" previous="outpostPoints.previousPage()" current="outpostPoints.activePage" total="outpostPoints.pages.length"></switch-pagination>
</div>
