point-edit-section {
  display: block;

  .flex-row {
    align-items: flex-start;
  }

  section-header {
    max-width: 300px;
  }

  .edit-card {
    @include keylol-shadow-1;
    width: 640px;
    background-color: $keylol-card;
    padding: 10px 0;

    .extra {
      height: 0;
      overflow: hidden;
      transition: height .5s cubic-bezier(0.35, 0, 0.25, 1);

      ul {
        border-top: 1px solid $keylol-inertia-shape;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      p {
        margin: 0;
      }

      li {
        border-bottom: 1px solid $keylol-inertia-shape;
        padding: 30px 15px;
        display: flex;
        position: relative;

        &:last-of-type {
          border-bottom: none;
        }

        .title {
          width: 205px;
          padding-right: 20px;

          p {
            &:first-of-type {
              font-size: 16px;
              font-weight: bold;
            }

            &:nth-of-type(2) {
              font-size: 12px;
              color: $keylol-inertia-text;
            }
          }
        }

        .content {
          width: 360px;

          &.disabled {
            color: $keylol-inertia-text;
          }
        }

        icon-button {
          position: absolute;
          right: 15px;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: center;
    }
  }
}