<div class="background" ng-style="{transform: pointHeader.transform}" webp-background="{{pointHeader.object.headerImage | backgroundUrl}}"></div>
<div class="info" ng-switch="pointHeader.object.type">
    <point-basic-info point="pointHeader.point"></point-basic-info>
    <div class="attributes" ng-switch-when="game">
        <div class="related"><div class="point" ng-repeat="category in pointHeader.categories"><a href="point/{{category.idCode}}" ng-mouseenter="pointHeader.showCategoryPreview($event,$index)" popup="pointHeader.categoryPopup[$index]">{{category.chineseName}}</a></div></div>
        <div class="related"><div class="point" ng-repeat="vendor in pointHeader.vendors"><a href="point/{{vendor.idCode}}" ng-mouseenter="pointHeader.showVendorPreview($event,$index)" popup="pointHeader.vendorPopup[$index]">{{vendor.name}}</a></div></div>
    </div>
    <div class="count" ng-switch-default>
        <p>{{pointHeader.gameCount}}</p>
    </div>
    <div class="actions">
        <icon-button icon="dots-vertical" type="invert"></icon-button>
        <raised-button theme-color="pointHeader.theme.main"  binary-set="pointHeader.subscribeSet" binary-value="pointHeader.object.subscribed"
                     click="pointHeader.subscribe(pointHeader.object.id, pointHeader.object.subscribed, pointHeader.object)"></raised-button>
    </div>
</div>