<div class="flex-row">
    <section-header header="pointEditSection.object.header" theme="::pointEditSection.theme"></section-header>
    <div class="edit-card">
        <ul>
            <li ng-repeat="item in pointEditSection.object.list track by $index" ng-switch="item.type">
                <div class="title">
                    <p>{{item.title}}</p>
                    <p>{{item.subTitle}}</p>
                </div>
                <img class="content-cover" webp-src="{{item.value | uriRelocate}}" alt="" ng-switch-when="cover">
                <img class="content-thumbnail" webp-src="{{item.value | uriRelocate}}" alt="" ng-switch-when="thumbnail">
                <div class="content-avatar" ng-switch-when="avatar">
                    <img webp-src="{{item.value | uriRelocate}}" alt="">
                    <img webp-src="{{item.value | uriRelocate}}" alt="">
                    <img webp-src="{{item.value | uriRelocate}}" alt="">
                    <img webp-src="{{item.value | uriRelocate}}" alt="">
                </div>
                <div class="content-logo" ng-switch-when="logo">
                    <img webp-src="{{item.value | uriRelocate}}" alt="">
                </div>
                <div class="content-color" ng-switch-when="color" ng-style="{backgroundColor:item.value}">
                    <div class="sample">
                        样本
                    </div>
                    <div class="left-part">
                        {{item.value}}
                    </div>
                    <div class="right-part">
                        这段文字应当比样本更清晰
                    </div>
                </div>
                <p ng-switch-default="" class="content" ng-class="{disabled: item.editDisabled}">{{item.value}}</p>
                <input-switch ng-if="item.type==='switch'" model="true" theme="::pointEditSection.theme"></input-switch>
                <icon-button ng-if="!item.editDisabled && item.type !== 'switch'" click="pointEditSection.showEditPopup(event, $index)" show-popup="pointEditSection.showPopups[$index]" icon="new-article"></icon-button>
            </li>
        </ul>
        <div ng-if="pointEditSection.object.extraList && pointEditSection.object.extraList.length > 0" class="extra" ng-style="{height: pointEditSection.extraHeight}">
            <ul>
                <li ng-repeat="item in pointEditSection.object.extraList track by $index">
                    <div class="title">
                        <p>{{item.title}}</p>
                        <p>{{item.subTitle}}</p>
                    </div>
                    <p class="content" ng-class="{disabled: item.editDisabled}">{{item.value}}</p>
                    <input-switch ng-if="item.type==='switch'" model="true" theme="::pointEditSection.theme"></input-switch>
                    <icon-button ng-if="!item.editDisabled && item.type !== 'switch'" click="pointEditSection.showEditPopup(event, $index + pointEditSection.object.list.length)" show-popup="pointEditSection.showPopups[$index + pointEditSection.object.list.length]" icon="new-article"></icon-button>
                </li>
            </ul>
        </div>
        <div class="actions" popup="pointEditSection.showExtraPopup">
            <flat-button ng-if="pointEditSection.object.extraList && pointEditSection.object.extraList.length > 0 && !pointEditSection.extraHeight" click="pointEditSection.expand()" type="light" theme-color="pointEditSection.theme.light" text="展开更多"></flat-button>
            <flat-button ng-if="pointEditSection.object.addAttribute" click="pointEditSection.showAddPopup(event)" type="light" theme-color="pointEditSection.theme.light" text="{{pointEditSection.object.addAttribute.text}}"></flat-button>
        </div>
    </div>
</div>