<div class="flex-row">
    <section-header header="pointEditSection.object.header" theme="::pointEditSection.theme"></section-header>
    <div class="edit-card">
        <ul>
            <li ng-repeat="item in pointEditSection.object.list track by $index" ng-switch="item.type">
                <div class="title">
                    <p ng-style="{color: item.editActive && pointEditSection.theme.main ? pointEditSection.theme.main : null}">{{item.title}}</p>
                    <p>{{item.subTitle}}</p>
                </div>
                <div class="content" ng-if="item.type !== 'switch' && item.type !== 'password' && item.type !== 'logout'">
                    <img class="content-cover" webp-src="{{item.value | uriRelocate: '/both/425x175'}}" alt="" ng-switch-when="cover">
                    <img class="content-thumbnail" webp-src="{{item.value | thumbnailUrl}}" alt="" ng-switch-when="thumbnail">
                    <div class="content-avatar" ng-switch-when="avatar">
                        <img webp-src="{{item.value | avatarUrl: 'large'}}" alt="">
                        <img webp-src="{{item.value | avatarUrl: 'big'}}" alt="">
                        <img webp-src="{{item.value | avatarUrl}}" alt="">
                        <img webp-src="{{item.value | avatarUrl: 'small'}}" alt="">
                    </div>
                    <div class="content-logo" ng-switch-when="logo">
                        <img webp-src="{{item.value | themeLogoUrl}}" alt="">
                    </div>
                    <div class="content-color color-{{item.colorType}}" ng-switch-when="color" ng-style="{backgroundColor:item.value}">
                        <div class="sample">
                            样本 {{item.colorType}}
                        </div>
                        <div class="left-part">
                            {{item.value}}
                        </div>
                        <div class="right-part">
                            这段文字应当比样本更清晰
                        </div>
                    </div>
                    <p ng-switch-when="link"><a ng-href="{{item.link}}">{{item.value}}</a></p>
                    <p ng-switch-when="steamcn" ng-class="{disabled: !item.value}">
                        <a ng-if="item.value" ng-href="{{item.link}}">{{item.value}}</a>
                        <span ng-if="!item.value">{{item.value || '尚未绑定蒸汽动力'}}</span>
                    </p>
                    <p ng-switch-when="lostBot" ng-class="{disabled: item.editDisabled}">{{item.value}}&nbsp;&nbsp;&nbsp;<a ng-href="{{item.addLink}}">点击这里快速添加</a>&nbsp;&nbsp;&nbsp;<a ng-href="{{item.link}}">前往资料页添加</a></p>
                    <p ng-switch-default="" ng-class="{disabled: item.editDisabled}">{{item.value}}</p>
                </div>
                <div ng-if="item.type==='cover'||item.type==='thumbnail'||item.type==='avatar'||item.type==='logo'" id="upload-{{$index}}" ng-show="false" ngf-select="pointEditSection.uploadImage($index, $file, $event)" ngf-fix-orientation="true" accept="image/*"></div>
                <input-switch ng-if="item.type==='switch'" model="item.value" theme="::pointEditSection.theme" toggle="pointEditSection.toggle($index)"></input-switch>
                <raised-button ng-if="item.type==='logout'" theme-color="::pointEditSection.theme.main" text="退出登录" click="pointEditSection.logout()"></raised-button>
                <icon-button ng-if="!item.editDisabled && item.type !== 'switch' && item.type !== 'logout'" click="pointEditSection.showEditPopup(event, $index)" show-popup="pointEditSection.showPopups[$index]" icon="new-article"></icon-button>
            </li>
        </ul>
        <div ng-if="pointEditSection.object.extraList && pointEditSection.object.extraList.length > 0" class="extra" ng-style="{height: pointEditSection.extraHeight}">
            <ul>
                <li ng-repeat="item in pointEditSection.object.extraList track by $index">
                    <div class="title">
                        <p ng-style="{color: item.editActive && pointEditSection.theme.main ? pointEditSection.theme.main : null}">{{item.title}}</p>
                        <p>{{item.subTitle}}</p>
                    </div>
                    <p class="content" ng-class="{disabled: item.editDisabled}">{{item.value}}</p>
                    <input-switch ng-if="item.type==='switch'" model="item.value" theme="::pointEditSection.theme" toggle="pointEditSection.toggle($index)"></input-switch>
                    <icon-button ng-if="!item.editDisabled && item.type !== 'switch'" click="pointEditSection.showEditPopup(event, $index + pointEditSection.object.list.length)" show-popup="pointEditSection.showPopups[$index + pointEditSection.object.list.length]" icon="new-article"></icon-button>
                </li>
            </ul>
        </div>
        <div class="actions" popup="pointEditSection.showExtraPopup">
            <flat-button ng-if="pointEditSection.object.extraList && pointEditSection.object.extraList.length > 0 && !pointEditSection.extraHeight" click="pointEditSection.expand()" type="light" theme-color="pointEditSection.theme.light" text="展开更多"></flat-button>
            <flat-button ng-if="pointEditSection.object.addAttribute" click="pointEditSection.showAddPopup(event)" type="light" theme-color="pointEditSection.theme.light" text="{{pointEditSection.object.addAttribute.text}}"></flat-button>
        </div>
    </div>
</div>
