<div class="header" webp-background="{{recentPlayed.headerImage | uriRelocate}}">
    <raised-button text="全部订阅" disabled="recentPlayed.subscribeAllDisable" type="theme" click="recentPlayed.subscribeAll()"></raised-button>
    <div class="header-text">
        <p class="title">订阅</p>
        <p class="sub-title">最近接触的游戏</p>
    </div>
</div>
<ul class="subscribe-list">
    <li ng-repeat="game in recentPlayed.list">
        <div class="wrapper">
            <a href="" ng-href="point/{{game.idCode}}"><img class="thumbnail" webp-src="{{game.thumbnailImage | thumbnailUrl}}"></a>
            <div class="point">
                <a href="" ng-href="point/{{game.idCode}}" class="name">
                    <p>{{recentPlayed.utils.getPreferredPointName(game, recentPlayed.stateTree.currentUser)[0]}}</p>
                    <p>{{recentPlayed.utils.getPreferredPointName(game, recentPlayed.stateTree.currentUser)[1]}}</p>
                </a>
                <div class="info">
                    <review-with-text review="game.averageRating"></review-with-text>
                    <div ng-if="game.twoWeekPlayedTime" class="game-time">
                        <p>{{game.twoWeekPlayedTime}} 小时</p>
                        <p>二周在档记录</p>
                    </div>
                    <flat-button binary-set="recentPlayed.subscribeSet" binary-value="game.subscribed"
                                 click="recentPlayed.utils.subscribe(game.id, game.subscribed, game)"></flat-button>
                </div>
                <span class="horizon"></span>
            </div>
        </div>
    </li>
</ul>