recent-played {
  @include keylol-shadow-1;
  display: block;
  background-color: $keylol-card;
  border-radius: 2px;

  .header {
    background: center no-repeat;
    background-size: cover;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    raised-button {
      position: absolute;
      right: 15px;
      bottom: 20px;
      .subscribe-all {
        background-color: $keylol-theme;
      }
    }

    .header-text {
      @include text-protection();

      p {
        margin: 0;
        color: $keylol-inverted-text;

        &:first-of-type {
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 4px;
        }
      }
    }
  }


  .subscribe-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      .wrapper {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .cover {
        width: 120px;
        height: 45px;
      }

      .point {
        position: relative;
        width: 530px;
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
          flex-grow: 1;
          max-width: calc(100% - 268px);

          &:hover {
            p:first-of-type {
              text-decoration: underline;
            }
          }

          p {
            @include ellipsis;
            margin: 0;

            &:first-of-type {
              color: $keylol-main-text;
              font-weight: bold;
            }

            &:last-of-type {
              color: $keylol-inertia-text;
              font-size: 12px;
            }
          }
        }

        .info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 290px;

          .game-time {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
              margin: 0;
            }
            p:first-of-type {
              color: $keylol-main-text;
            }
            p:last-of-type {
              color: $keylol-inertia-text;
              font-size: 12px;
            }
          }
        }

        .horizon {
          position: absolute;
          bottom: 0;
          left: -5px;
          height: 1px;
          width: 100%;
          background-color: $keylol-inertia-shape;
        }
      }

      &:last-of-type {
        .point {
          .horizon {
            display: none;
          }
        }
      }
    }
  }
}