right-menus {
  position: relative;

  .wrapper {
    width: 100%;

    &.fixed-top {
      width: 220px;
      position: fixed;
      top: 94px;
      z-index: 999;
    }

    &.absolute-bottom {
      width: 220px;
      position: absolute;
      bottom: 50px;
    }
  }
}