<div class="header" webp-background="{{::salesToday.headerImage | uriRelocate}}">
    <div class="header-text">
        <p class="title">是日优惠</p>
        <p class="sub-title">理性加一，入坑前先摸好评价和口碑</p>
    </div>
</div>
<div class="sales-wrapper" ng-style="{height: (salesToday.list.length > 5 && !salesToday.hasBeenExpanded) ? 424 : salesToday.list.length * 85}" ng-class="{
    'to-next' : salesToday.isToNext,
    'to-previous' : !salesToday.isToNext
    }">
    <ul class="sales-list" ng-animate-swap="salesToday.currentPage">
        <li ng-repeat="point in ::salesToday.list track by $index">
            <a ng-href="point/{{point.idCode}}" ripple>
                <img class="cover" webp-src="{{point.thumbnailImage | uriRelocate}}">
                <div class="point">
                    <div class="name">
                        <p>{{point.chineseName}}</p>
                        <p>{{point.englishName}}</p>
                    </div>
                    <div class="info">
                        <review-with-text review="point.averageRating"></review-with-text>
                        <div class="price">
                            <span ng-if="point.steamPrice" class="old">¥ {{point.steamPrice}}</span>
                            <span>¥ {{point.steamDiscountedPrice}}</span>
                            <span class="discount">-{{(point.steamPrice - point.steamDiscountedPrice) / point.steamPrice | calculatePercentage}}</span>
                        </div>
                    </div>
                    <span class="horizon"></span>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="footer clearfix">
    <flat-button ng-if="salesToday.list.length > 5 && !salesToday.hasBeenExpanded" text="展开更多" type="light-text" click="salesToday.expandMore()"></flat-button>
    <pagination ng-if="salesToday.hasBeenExpanded" on-page-changed="::salesToday.changePage(newPage, oldPage)" total="::salesToday.totalPage" current="salesToday.currentPage"></pagination>
</div>