<div class="section-secret-tests box-shadowed">
    <h1 class="labeled-heading">神秘测试</h1>
    <div class="tests">
        <text-area class="short" type="text" label="游戏名称" tip="'必填'" model="secretTests.vm.name"></text-area>
        <text-area class="short" type="text" label="游戏价格" tip="'必填'" model="secretTests.vm.price"></text-area>
        <text-area class="short" type="text" label="余量" tip="'必填'" model="secretTests.vm.rest"></text-area>
        <text-area class="short" type="text" label="游戏编号" tip="'必填'" model="secretTests.vm.index"></text-area>
        <text-area type="text" label="游戏简介" tip="'必填'" model="secretTests.vm.description"></text-area>
        <text-area type="point" label="选择类别标签" model="secretTests.vm.label"></text-area>
        <text-area type="point" label="选择厂商" model="secretTests.vm.label"></text-area>
        <input-checkbox names="secretTests.operatenames" ng-model="secretTests.vm.operate"></input-checkbox>
        <input-checkbox names="secretTests.platformnames" ng-model="secretTests.vm.platform"></input-checkbox>
        <text-area type="text" label="配置信息" tip="'必填'" model="secretTests.vm.set"></text-area>
        <text-area type="text" label="游戏介绍视频" tip="'必填'" model="secretTests.vm.video"></text-area>
        <media-center></media-center>
        <text-area class="short" type="text" label="新增类别标签" tip="'必填'" model="secretTests.vm.name"></text-area>
        <text-area class="short" type="text" label="新增厂商" tip="'必填'" model="secretTests.vm.price"></text-area>
        <div class="clearfix">
            <raised-button type="theme" text="新增"></raised-button>
        </div>
    </div>
</div>