.section-secret-tests {
    background: white;
    padding: 6px 0 9px;
}

.section-secret-tests .tests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 10px;

  >* {
    width: 100%;
    margin-bottom: 20px;
  }

  .short {
    width: 40%;
  }

  input-checkbox {
    flex-direction: row;

    a {
      margin-right: 20px;
    }
  }
}