section-timeline {
  width: 700px;
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;
    justify-content: space-between;

    timeline-card {
      margin-bottom: 20px;

      &.ng-enter {
        transition: all 1000ms;
        transform: translateY(20px);
        opacity: .1;
      }

      &.ng-enter-active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  raised-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  raised-button {
    .theme {
      background-color: $keylol-theme;
    }
  }
}