<section-header header="shortReview.type" theme="shortReview.theme"></section-header>
<div class="main-card">
    <form>
        <div class="header">
            <div class="info">
                <img webp-src="{{shortReview.stateTree.currentUser.avatarImage | avatarUrl: 'small'}}">
                <p><span>{{shortReview.stateTree.currentUser.userName}}</span> / <span>在档 {{shortReview.getPlayedTime(shortReview.playedTime)}} 小时</span></p>
                <point-review bind-review="shortReview.vm.rating" no-string="true" is-hollow="true"></point-review>
            </div>
        </div>
        <textarea elastic placeholder="添加一则简评" ng-model="shortReview.vm.content"></textarea>
        <div class="actions">
            <flat-button click="shortReview.submit()" disabled="!shortReview.vm.rating || !shortReview.vm.content || shortReview.submitLock" text="发布" type="inertia"></flat-button>
        </div>
    </form>
    <ul ng-if="shortReview.list.length > 0">
        <li ng-repeat="item in shortReview.list">
            <div class="header">
                <div class="info">
                    <img webp-src="{{item.authorAvatarImage | avatarUrl: 'small'}}">
                    <p>{{item.authorUserName}} / 在档 {{shortReview.getPlayedTime(item.totalPlayedTime, item.authorIdCode)}} 小时</p>
                    <vote-circle review="item.rating * 2 - 1"></vote-circle>
                </div>
                <a ng-style="{color: item.liked ? shortReview.theme.light : ''}" ng-click="shortReview.utils.like(item.id, item, 'Activity')" ng-disabled="item.liked || item.authorIdCode === shortReview.stateTree.currentUser.idCode" href="" class="like">+{{item.likeCount}}</a>
            </div>
            <p>{{item.content}}<a href="" ng-href="activity/{{item.authorIdCode}}/{{item.sidForAuthor}}">查看</a></p>
        </li>
    </ul>
</div>