<section-header header="spotlightGames.type"></section-header>
<div class="pages-wrapper">
    <div class="cards-wrapper" ng-class="{
    'left-hidden': $index + 1 < spotlightGames.activePage,
    active: $index + 1 === spotlightGames.activePage,
    'right-hidden': $index + 1 > spotlightGames.activePage,
    }" ng-repeat="page in spotlightGames.pages track by $index">
        <game-card ng-repeat="card in page track by $index"></game-card>
    </div>
</div>
<pagination total="spotlightGames.pages.length" current="spotlightGames.activePage" on-page-changed="spotlightGames.changePage"></pagination>