<section-header header="spotlightGuides.type"></section-header>
<div class="wrapper">
    <div class="pages-wrapper">
        <div class="cards-wrapper" ng-class="{
        'left-hidden': $index + 1 < spotlightGuides.activePage,
        active: $index + 1 === spotlightGuides.activePage,
        'right-hidden': $index + 1 > spotlightGuides.activePage,
        }" ng-repeat="page in spotlightGuides.pages track by $index">
            <game-guide-card ng-repeat="card in page track by $index"></game-guide-card>
        </div>
    </div>
    <switch-pagination next="spotlightGuides.nextPage()" previous="spotlightGuides.previousPage()" current="spotlightGuides.activePage" total="spotlightGuides.pages.length"></switch-pagination>
</div>
