spotlight-guides {
  display: block;

  .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    .pages-wrapper {
      overflow: hidden;
      position: relative;
      width: 900px;
      height: 360px;

      .cards-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 900px;
        margin-right: 20px;
        visibility: hidden;
        transition: 300ms;

        &.active {
          visibility: visible;
        }

        &.left-hidden-add, &.right-hidden-add {
          transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        }

        &.left-hidden-remove, &.right-hidden-remove {
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-delay: 300ms;
        }

        &.left-hidden {
          transform: translateX(-100%);
          opacity: 0;
        }

        &.right-hidden {
          transform: translateX(100%);
          opacity: 0;
        }

        game-guide-card {
          margin-right: 20px;
        }
      }
    }

    switch-pagination {
      height: 350px;
    }
  }
}