spotlight-users {
  display: block;
  overflow-x: hidden;
  
  .stretch-background {
    background-color: $keylol-user-theme;
  }

  section-header {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper {
    padding: 30px 0;
    width: 700px;
    padding-right: 240px;
    margin: auto;

    .first-line {
      display: flex;

      .part1 {
        display: flex;
        width: 50%;
        flex-direction: row-reverse;
        user-card {
          flex-shrink: 0;
          margin: 0 10px;
        }
      }
      .part2 {
        display: flex;
        width: 50%;

        user-card {
          flex-shrink: 0;
          margin: 0 10px;

          &:nth-of-type(3) {
            margin-left: 250px;
          }
        }
      }
    }
    .second-line {
      display: flex;
      user-card {
        flex-shrink: 0;
        margin-top: 20px;
        margin-right: 20px;
      }
    }
  }
}