spotlight-topics {
  display: block;

  p {
    margin: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    height: 65px;

    .topic-selector {
      @include keylol-shadow-1();
      position: relative;
      width: 420px;
      height: 100%;
      background-color: $keylol-card;

      .moveBackground {
        position: absolute;
        background-color: $keylol-topic;
        height: 100%;
        left: 0;
        right: 280px;
        z-index: 1;

        &.move-up {
          transition: left 300ms, right 450ms;
        }

        &.move-down {
          transition: left 450ms, right 300ms;
        }

        &.active-0 {
          left: 0;
          right: 280px;
        }

        &.active-1 {
          left: 140px;
          right: 140px;
        }

        &.active-2 {
          left: 280px;
          right: 0;
        }
      }
      .moveBackground-triangle {
        position: absolute;
        bottom: -10px;
        left: 60px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-top: 10px solid $keylol-topic;
        border-right: 10px solid transparent;
        transition: transform 300ms;

        &.active-0 {
          transform: translateX(0);
        }

        &.active-1 {
          transform: translateX(140px);
        }

        &.active-2 {
          transform: translateX(280px);
        }
      }

      .shortcuts-wrapper {
        display: flex;

        .shortcut {
          position: relative;
          z-index: 2;
          width: 140px;
          height: 65px;
          padding: 0 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .main-title,
          .sub-title {
            transition: color 450ms;
          }

          .main-title {
            @include ellipsis();
            color: $keylol-main-text;
            font-weight: bold;
            margin-bottom: 2px;

            &.active {
              color: $keylol-inverted-text;
            }
          }

          .sub-title {
            @include ellipsis();
            color: $keylol-inertia-text;
            font-size: 12px;

            &.active {
              color: rgba($keylol-inverted-text, .6);
            }
          }
        }
      }
    }

    .right-header {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      &:hover {
        .main-title {
          text-decoration: underline;
        }
      }

      .main-title {
        text-align: right;
        color: $keylol-topic;
        font-size: 20px;
        margin-bottom: 2px;
      }

      .sub-title {
        color: $keylol-inertia-text;
      }
    }
  }

  .topic-list {
    @include keylol-shadow-1();
    position: relative;
    width: 700px;
    height: 240px;
    overflow: hidden;
    margin-top: 20px;
    background-color: $keylol-card;

    .topic {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &.to-up {
      .swap-animation.ng-enter, .swap-animation.ng-leave {
        transition: transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      .swap-animation.ng-enter {
        transform: translateX(100%);
      }
      .swap-animation.ng-enter-active {
        transform: translateX(0);
      }
      .swap-animation.ng-leave {
        transform: translateX(0);
      }
      .swap-animation.ng-leave-active {
        transform: translateX(-100%);
      }
    }

    &.to-down {
      .swap-animation.ng-enter, .swap-animation.ng-leave {
        transition: transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      .swap-animation.ng-enter {
        transform: translateX(-100%);
      }
      .swap-animation.ng-enter-active {
        transform: translateX(0);
      }
      .swap-animation.ng-leave {
        transform: translateX(0);
      }
      .swap-animation.ng-leave-active {
        transform: translateX(100%);
      }
    }
  }
}
