<div class="section-summary box-shadowed" >
    <div class="background" webp-background="{{summary.data.background|backgroundUrl}}"></div>
    <div class="content">
        <a href="{{summary.data.url}}" class="avatar-anchor" ng-if="summary.data.url">
            <img class="avatar-big" webp-src="{{summary.data.avatar|avatarUrl}}">
        </a>
        <h1 class="labeled-heading main-heading">
            <span class="text-block"><a href="{{summary.data.url}}">{{summary.data.head.mainHead}}</a><span class="subheading">{{summary.data.head.subHead}}</span></span>
        </h1>
        <p class="summary" ng-if="summary.data.pointSum">{{summary.data.pointSum.type}}据点 : {{summary.data.pointSum.readerNum}} 名读者 / {{summary.data.pointSum.articleNum}} 篇文章</p>
        <p class="summary" ng-if="summary.data.defaultSum">{{summary.data.defaultSum.text}}</p>
        <div ng-if="summary.union.$localStorage.user" class="actions" ng-switch="summary.data.subscribed">
            <button type="button" ng-switch-when="false" ng-disabled="summary.subscribeDisabled" class="border-button bottom-border" ng-click="summary.subscribe(summary.data.id)">订阅</button>
            <button type="button" ng-switch-when="true" ng-disabled="summary.subscribeDisabled" class="border-button bottom-border subscribed" ng-click="summary.unsubscribe(summary.data.id)">
                <span class="is-subscribed">已订阅</span>
                <span class="cancel-subscribed">退订</span>
            </button>
        </div>
    </div>
</div>