<div class="bundle">
    <div class="stations">
        <a href="" class="link-black" ng-repeat="i in [1,2,3]">
            <svg aria-hidden="true">
                <use ng-href="{{'Search' | iconSvgUrl }}" xlink:href=""></use>
            </svg>
            <span>Steam</span>
        </a>
    </div>
    <a href="" class="chinese-support">华语支持</a>
</div>
<div class="characteristics">
    <a href="" class="link-white" ng-repeat="i in [1,2,3]">
        <svg aria-hidden="true">
            <use ng-href="{{'Search' | iconSvgUrl }}" xlink:href=""></use>
        </svg>
        <span>多人游戏</span>
    </a>
</div>