<window position="center" class="window-editor">
    <div class="editor">
        <div class="poster">
            <div class="close">
                <icon-button icon="chevron-left" ng-click="editor.exit()"></icon-button>
                <flat-button text="退出写作" ng-click="editor.exit()"></flat-button>
            </div>
            <raised-button text="设置封面" type="theme"></raised-button>
            <div class="titles">
                <text-area class="main-title"
                           label="主标题"
                           type="text"
                           model="''"
                ></text-area>
                <text-area class="sub-title"
                           label="副标题"
                           type="text"
                           model="''"
                ></text-area>
            </div>
        </div>
        <div class="related-points">
            <div class="fake"></div>
            <div class="main-points">
                <text-area label="主要投稿"
                           type="point"
                           model="[]"
                           limit="1"
                ></text-area>
                <flat-button type="theme" text="填充关联投稿"></flat-button>
            </div>
            <div class="sub-points">
                <text-area label="关联投稿"
                           type="point"
                           model="[]"
                           limit="10"
                ></text-area>
            </div>
        </div>
        <div class="edit-tools">
            <div class="main"></div>
            <div class="other">
                <div class="card">
                    <a href="" class="toggle" ng-click="editor.toggleSummary()">
                        <p>总结优缺点</p>
                        <svg ng-class="{opened:editor.isSummaryOpened}" aria-hidden="true">
                            <use ng-href="{{ 'chevron-left' | iconSvgUrl }}" xlink:href=""></use>
                        </svg>
                    </a>
                    <div class="good-bads" ng-class="{opened:editor.isSummaryOpened}">
                        <text-area class="good-bad"
                                   label="+"
                                   type="text"
                                   model="''"
                        ></text-area>
                        <text-area class="good-bad"
                                   label="+"
                                   type="text"
                                   model="''"
                        ></text-area>
                        <text-area class="good-bad"
                                   label="+"
                                   type="text"
                                   model="''"
                        ></text-area>
                        <text-area class="good-bad"
                                   label="-"
                                   type="text"
                                   model="''"
                        ></text-area>
                        <text-area class="good-bad"
                                   label="-"
                                   type="text"
                                   model="''"
                        ></text-area>
                        <text-area class="good-bad"
                                   label="-"
                                   type="text"
                                   model="''"
                        ></text-area>
                    </div>
                </div>
                <div class="card">
                    <a href="" class="toggle" ng-click="editor.toggleRepost()">
                        <p>转载要求</p>
                        <svg ng-class="{opened:editor.isRepostOpened}" aria-hidden="true">
                            <use ng-href="{{ 'chevron-left' | iconSvgUrl }}" xlink:href=""></use>
                        </svg>
                    </a>
                    <div class="repost-options" ng-class="{opened:editor.isRepostOpened}">
                        <div class="repost-option">
                            <p>允许转载</p>
                            <input-switch model="false"></input-switch>
                        </div>
                        <div class="hr"></div>
                        <div class="repost-option">
                            <p>要求署名并标明出处</p>
                            <input-switch model="false"></input-switch>
                        </div>
                        <div class="repost-option">
                            <p>禁止商业性使用</p>
                            <input-switch model="false"></input-switch>
                        </div>
                        <div class="repost-option">
                            <p>禁止变造改动和衍生创作</p>
                            <input-switch model="false"></input-switch>
                        </div>
                    </div>
                </div>
                <div class="card send-card clearfix">
                    <p>每发布一片文章消耗 1 ◆ 文券<a href="">（这是为什么呢？）</a></p>
                    <p>当前有 <span class="theme">29 ◆</span> 文券</p>
                    <raised-button text="发布文章" type="theme"></raised-button>
                </div>
            </div>
        </div>
    </div>
</window>
