.window-editor .window {
    padding: 20px 0 30px;
    width: 884px;
}

.window-editor div[simditor] {
    margin: 19px 14px 11px;
}

.window-editor input[type=text],
.window-editor input-point {
    width: calc(100% - 28px);
    box-sizing: border-box;
    margin-left: 14px;
}

.window-editor .type-title {
    position: relative;
}

.window-editor .article-type {
    font-size: 19px;
    background: $keylol-highlight no-repeat;
    color: white;
    position: absolute;
    height: 100%;
    width: 70px;
    left: -5px;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.window-editor .article-type:hover {
    background-color: #9AA8B7;
}

.window-editor .article-type.expanded, .window-editor .article-type.expanded:hover {
    background-color: $keylol-theme;
}

.window-editor .article-type::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 4px;
    z-index: -1;
    box-shadow: 0 0 2px #B8BABB;
    transform: rotate(45deg);
    transform-origin: bottom left;
    background-color: #d9d9d9;
}

.window-editor .article-type .expand-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window-editor .article-type .expand-button a {
    color: white;
}

.window-editor .article-type + span {
    display: block;
    overflow: hidden;
    padding: 2px 28px 2px 65px;
}

.window-editor .article-type + span input {
    width: 100%;
}

.window-editor form h3 {
    margin: 19px 0 11px 14px;
    font-weight: normal;
}

.window-editor .pad-right .left-content {
    float: left;
    width: calc(100% - 129px);
}

.window-editor .pad-right .right-content {
    float: right;
    width: 129px;
}

.window-editor .pad-right .right-content point-review {
    margin-left: 14px;
    height: 31px;
    position: relative;
}

.window-editor .pad-right .right-content point-review div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.window-editor .centre-parting .left-content {
    float: left;
    width: 50%;
}

.window-editor .centre-parting .right-content {
    float: right;
    width: 50%;
}

.window-editor .summary {
    position: relative;
}

.window-editor .summary span {
    position: absolute;
    top: 15px;
    right: 14px;
    color: #BBB;
}

.window-editor .window-confirm-button {
    margin-top: 40px;
}

.window-editor .save-draft {
    max-width: 570px;
    padding-top: 44px;
}

.window-editor .save-draft button {
    margin-left: -5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAIVBMVEUAAAD////////////////+/v7+/v7+/v7+/v7+/v7///92EJ5ZAAAACnRSTlMAFCBAgI+fq7ffnxGb6AAAAEpJREFUeNrt0rEKACAIRdGyeqX//8G1BTZITQ3vDELCXaREFFMzq0nWlL2s66kMfJAB5JvAiYITAwZvQRenBQFuf+soDn69ElFoAjToFA1LQoTVAAAAAElFTkSuQmCC);
    padding-left: 22px;
}

.window-editor .save-draft span {
    color: #bbb;
    margin-left: 6px;
}

.window-editor .save-draft p {
    margin: 14px 14px 0;
}

.window-editor .save-draft p a {
    color: #8899aa;
}