.window-good-detail {
  .window {
    @include keylol-shadow-3();
    background-color: $keylol-card;
    width: 700px;

    .header {
      height: 105px;
      background-color: $keylol-light-theme;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      .text {
        margin-left: 15px;
        p {
          margin: 0;
          padding: 0;
          &:first-of-type {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 2px;
            color: $keylol-inverted-text;
          }

          &:last-of-type {
            color: rgba($keylol-inverted-text, 0.6);
          }
        }
      }
      img {
        width: 140px;
        margin-right: 50px;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px 20px 0 0;

      p {
        white-space: normal;
      }

      a:hover {
        text-decoration: underline;
      }

      >img {
        width: 220px;
        height: 220px;
      }

      > * {
        margin: 0 0 20px;
      }

      .inertia {
        color: $keylol-inertia-text;
        font-size: 12px;
      }

      .detail {
        width: 440px;
        height: 220px;

        p {
          margin: 0;
        }

        > p {
          text-indent: 2em;
        }

        .item {
          margin-top: 15px;

          span {
            font-weight: bold;

            &.not-enough {
              color: $keylol-review-bad;
            }
          }
        }
      }

      > p {
        margin-left: 15px;
      }

      .actions {
        display: flex;
        justify-content: flex-end;

        flat-button {
          margin-right: 20px;
        }
      }
    }
  }
}