.window-login-password .window {
    padding: 14px;
    width: 900px;
}

.window-login-password .error {
    color: red;
}

.window-login-password .heading {
    margin: 16px 0 28px;
}

.window-login-password .heading a {
    float: right;
    margin-top: 15px;
    color: $keylol-highlight;
}

.window-login-password table {
    margin: 28px auto;
    width: 100%;
}

.window-login-password [id^=geetest-] {
    margin: 14px 0;
}

.window-login-password .window .window-confirm-button {
    margin-right: -24px;
}

.window-login-password .change-login-method {
    max-width: 570px;
    padding-top: 6px;
}

.window-login-password .change-login-method button {
    margin-left: -19px;
}

.window-login-password .change-login-method p {
    margin: 14px 0 0;
}