<window position="center" class="window-login">
    <div class="window">
        <div class="header">
            <div class="text">
                <p>回到社区</p>
                <p>在下方选择一种登录方式</p>
            </div>
            <img src="assets/images/key-and-locker.png">
        </div>

        <tabs tab-array="::login.tabArray" cur-tab="0" click-handler="login.changeWay(index)"></tabs>
        <div class="login-wrapper {{login.swapDirection}}" ng-class="{'low':login.currentWay == 2,'high':login.currentWay<2}">
            <div class="swap-helper swap-animation" ng-animate-swap="login.currentWay">
                <login-steam-robot ng-if="login.currentWay == 0"></login-steam-robot>
                <login-api ng-if="login.currentWay == 1"></login-api>
                <!-- 口令方式 -->
                <div class="login-passcode" ng-if="login.currentWay == 2">
                    <tabs class="invert" invert="true" tab-array="login.passcodeWayManager.tabArray" cur-tab="0" click-handler="login.changePasscodeWay(index)"></tabs>
                    <!--<div class="error">{{login.passcodeWayManager.error['vm.id_code']}}{{login.passcodeWayManager.error['vm.password']}}</div>-->
                    <div class="passcode-wrapper {{login.passcodeWayManager.swapDirection}}">
                        <div class="swap-helper swap-animation" ng-animate-swap="login.passcodeWayManager.curPage">
                            <div class="inputs">
                                <text-area type="{{login.passcodeWayManager.forms[login.passcodeWayManager.curPage][0].type}}"
                                           label="{{login.passcodeWayManager.forms[login.passcodeWayManager.curPage][0].label}}"
                                           model="login.passcodeWayManager.vm.id_code" style="margin-right: 30px;"
                                           state="login.passcodeWayManager.state['id_code']"
                                           tip="login.passcodeWayManager.tip['id_code']"
                                           ng-style="{'width':(login.passcodeWayManager.curPage === 0)?'auto':'300px'}"
                                ></text-area>
                                <text-area type="{{login.passcodeWayManager.forms[login.passcodeWayManager.curPage][1].type}}"
                                           label="{{login.passcodeWayManager.forms[login.passcodeWayManager.curPage][1].label}}"
                                           model="login.passcodeWayManager.vm.password" style="width: 240px;"
                                           state="login.passcodeWayManager.state['password']"
                                           tip="login.passcodeWayManager.tip['password']"
                                ></text-area>
                            </div>
                            <div class="action">
                                <flat-button text="放弃" type="inertia" ng-click="login.close()"></flat-button>
                                <raised-button text="登录" type="theme" id="popup-geetest-{{login.passcodeWayManager.geetestId}}" disabled="false"></raised-button>
                            </div>
                        </div>
                    </div>
                    <div id="geetest-{{login.passcodeWayManager.geetestId}}" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
</window>