.window-login {
  .window {
    width: 700px;

    .header {
      height: 105px;
      background-color: $keylol-theme;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      .text {
        margin-left: 15px;

        p {
          margin: 0;
          padding: 0;

          &:first-of-type {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 2px;
            color: $keylol-inverted-text;
          }

          &:last-of-type {
            color: rgba($keylol-inverted-text, 0.6);
          }
        }
      }

      img {
        align-self: flex-end;
        height: 115px;
        margin-right: 65px;
      }
    }

    .login-wrapper {
      overflow: hidden;
      display: block;
      position: relative;
      transition: height 300ms;

      &.low {
        height: 198px;
      }
      &.high {
        height: 245px;
      }
      &.left {
        > .swap-helper.swap-animation.ng-enter,
        > .swap-helper.swap-animation.ng-leave {
          transition: transform 200ms, opacity 180ms;
        }
        > .swap-helper.swap-animation.ng-enter {
          transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
          transition-delay: 300ms;
          position: relative;
          opacity: 0;
          transform: translateX(100%);
        }
        > .swap-helper.swap-animation.ng-enter-active {
          opacity: 1;
          transform: translateX(0);
        }
        > .swap-helper.swap-animation.ng-leave {
          transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
          position: absolute;
          top: 0;
          opacity: 1;
          transform: translateX(0);
        }
        > .swap-helper.swap-animation.ng-leave-active {
          opacity: 0;
          transform: translateX(-100%);
        }
      }

      &.right {
        > .swap-helper.swap-animation.ng-enter,
        > .swap-helper.swap-animation.ng-leave {
          transition: transform 200ms, opacity 180ms;
        }

        > .swap-helper.swap-animation.ng-enter {
          transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
          transition-delay: 300ms;
          position: relative;
          opacity: 0;
          transform: translateX(-100%);
        }
        > .swap-helper.swap-animation.ng-enter-active {
          opacity: 1;
          transform: translateX(0);
        }
        > .swap-helper.swap-animation.ng-leave {
          transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
          position: absolute;
          top: 0;
          opacity: 1;
          transform: translateX(0);
        }
        > .swap-helper.swap-animation.ng-leave-active {
          opacity: 0;
          transform: translateX(100%);
        }
      }

      > .swap-helper {
        flex-shrink: 0;
        width: 100%;

      }
    }
  }
}