.window-login {
  .window {
    width: 700px;

    .header {
      height: 105px;
      background-color: $keylol-theme;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      .text {
        margin-left: 15px;

        p {
          margin: 0;
          padding: 0;

          &:first-of-type {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 2px;
            color: $keylol-inverted-text;
          }

          &:last-of-type {
            color: rgba($keylol-inverted-text, 0.6);
          }
        }
      }

      img {
        align-self: flex-end;
        height: 115px;
        margin-right: 65px;
      }
    }
  }
}