.window-missive .window {
    padding: 0 0;
    width: 800px;
}

.window-missive .missive-header {
    text-align: center;
    background-color: $keylol-theme;
    padding: 10px 0;
}

.window-missive .missive-header h1,
.window-missive .missive-footer h1,
.window-missive .missive-header h3,
.window-missive .missive-footer h3 {
    font-weight: normal;
    color: #fff;
    margin: 0;
}

.window-missive .missive-header h1 {
    font-size: 32px;
}

.window-missive .missive-footer h1 {
    font-size: 24px;
}

.window-missive .missive-header h3 {
    font-size: 18px;
}

.window-missive .content {
    background-color: white;
    padding: 30px 20px 20px;
}

.window-missive .content .editor-style > p {
    text-indent: 2em;
}

.window-missive .content .editor-style missive-quote blockquote > div > p:not(:first-of-type) {
    text-indent: 2em;
    margin: 0;
    padding: 0;
}

.window-missive .content .editor-style missive-quote blockquote > div > ul {
    margin: 0 0 16px 0;
    padding: 0;
    list-style: none;
}

.window-missive .content .editor-style missive-quote blockquote > div > ul > li {
    text-indent: 4em;
}

.window-missive .content .content-footer {
    margin-top: 20px;
    color: #bbb;
}

.window-missive .content .content-footer span:first-of-type {
    float: right;
}

.window-missive .missive-footer {
    margin-bottom: 30px;
    background-color: $keylol-theme;
    padding: 10px 40px;
}

.window-missive .missive-footer img {
    width: 64px;
    float: right;
}

.window-missive .missive-footer .administration {
    margin-left: 15px;
    width: 200px;
    float: right;
    padding: 7px 0;
}

.window-missive .missive-footer h3 {
    font-size: 16px;
}