<window position="center" class="window-point-pusher">
    <div class="window">
        <div class="header">
            <div class="text">
                <p>推送据点</p>
                <p>汤姆克兰西之鹰击长空</p>
            </div>
            <img src="assets/images/pss-logo-accent.png">
        </div>
        <div class="content">
            <text-area
                    model="pointPusher.vm.place"
                    object="{
                        title:'选择推送栏目',
                        items:[
                            '广场 - 六格滚轴',
                            '据点 - 哨所',
                        ],
                    }"
                    type="dropdown"
                    label="选择推送栏目"
            ></text-area>
            <div class="actions">
                <flat-button text="放弃" type="inertia" ng-click="pointPusher.exit()"></flat-button>
                <raised-button ng-click="pointPusher.submit()" text="推送" type="theme" disabled="pointPusher.vm.place === undefined"></raised-button>
            </div>
        </div>
    </div>
</window>