.window-point-creator {
  .window {
    width: 700px;

    .header {
      height: 105px;
      background-color: $keylol-theme;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      .text {
        margin-left: 15px;

        p {
          margin: 0;
          padding: 0;

          &:first-of-type {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 2px;
            color: $keylol-inverted-text;
          }

          &:last-of-type {
            color: rgba($keylol-inverted-text, 0.6);
          }
        }
      }

      img {
        width: 125px;
        margin-right: 60px;
      }
    }

    .point-creator-wrapper {
      @include page-change('.swap-animation');
      position: relative;
      height: 200px;

      .swap-animation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;

        &.game-wrapper {
          top: 36px;
        }
      }

      form {
        padding: 20px;

        .steam-game {
          display: flex;
        }

        text-area {
          &[type=text] {
            width: 400px;

            &.app-id {
              width: 350px;
            }
          }
        }

        .actions {
          display: flex;
          justify-content: flex-end;

          raised-button {
            margin-left: 20px;
          }
        }
      }
    }
  }
}