<window position="center" class="window-registration">
    <div class="window">
        <div class="header">
            <div class="text">
                <p>加入其乐游戏社区</p>
                <p>连接游戏平台，获取量身订造的信息轨道</p>
            </div>
            <img src="assets/images/logo-arrow.png">
        </div>
        <div class="content">
            <div class="input-conn">
                <text-area type="dropdown"
                           label="选择游戏平台"
                           model="registration.platform"
                           object="registration.platformsToSelect"
                           state="registration.connected?'disabled':'normal'"
                ></text-area>
                <text-area ng-if="registration.connected"
                           type="text"
                           label="已连接 Steam 账户"
                           model="'steam nickname'"
                           state="'disabled'"
                           class="fixed-width"
                ></text-area>
                <img ng-if="registration.connected" class="avatar" webp-src="//storage.keylol.com/4ed8e4862422e8a584fb6bee9f32fedd.jpg!avatar.medium" alt="">
            </div>
            <div class="input-user" ng-if="registration.connected">
                <text-area style="width: 200px;"
                           type="text"
                           label="昵称"
                           model="''"
                           tip="'日常界面展示的社区名称'"
                ></text-area>
                <text-area class="fixed-width"
                           type="text"
                           label="登录口令"
                           model="''"
                ></text-area>
                <text-area type="uic"
                           label="用户识别码"
                           model="''"
                           tip="'自定义五位代码，作为个人链接和唯一身份凭证，设定后不可更改。'"
                ></text-area>
            </div>
            <phase ng-if="registration.conn" phases="registration.conn.phases" index="registration.conn.index"></phase>
        </div>
        <div class="conn" ng-if="registration.conn" ng-switch="registration.conn.index">
            <div class="left" ng-switch-when="0">
                <p>在 Steam 中将 <span class="blue">其乐机器人 #43</span> 加为好友</p>
                <p>
                    快速添加前需要启动 Steam，你也可以访问机器人的 <a>社区资料页</a>
                    <svg aria-hidden="true">
                        <use ng-href="{{'open-in-new' | iconSvgUrl }}" xlink:href=""></use>
                    </svg>
                    手动添加
                </p>
            </div>
            <div class="right" ng-switch-when="0">
                <raised-button type="light-theme" text="快速添加"></raised-button>
            </div>

            <div class="left" ng-switch-when="1">
                <p>向其乐机器人发送<span class="blue">验证码</span></p>
                <p>通过 Steam 对话发送右边的 8 位验证码</p>
            </div>
            <div class="right" ng-switch-when="1">
                <p class="code font-consolas">SDWD2378</p>
            </div>

            <div class="user" ng-switch-when="2">
                <img webp-src="//storage.keylol.com/4ed8e4862422e8a584fb6bee9f32fedd.jpg!avatar.medium" />
                <div>
                    <p>用户名</p>
                    <p>欢迎回来</p>
                </div>
            </div>
        </div>
        <div class="actions">
            <div>
                <a href="" ng-if="!registration.connected&&!registration.conn">已注册账号？在这里登录</a>
                <div class="protocol" ng-if="registration.connected">注册用户需阅读并同意 <a href="">《其乐游戏社区 用户协议》</a></div>
            </div>
            <div class="action">
                <flat-button text="放弃" type="inertia" ng-click="registration.close()"></flat-button>
                <raised-button text="注册" type="theme" disabled="false"></raised-button>
            </div>
        </div>
    </div>
</window>
