/* ------------------------------ */
/* Common Styles for Modal Window */
/* ------------------------------ */
.body-modal-open {
    overflow: hidden;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

kl-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    white-space: nowrap;
}

kl-modal:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}

kl-modal:last-of-type {
    background-color: rgba(0, 0, 0, 0.65);
}

[class^=modal-position-] {
    display: inline-block;
    text-align: left;
}

kl-modal[position=center] {
    text-align: center;
}

.modal-position-center,
kl-modal[position=center]:after {
    vertical-align: middle;
}

kl-modal[position=top] {
    text-align: center;
}

.modal-position-top,
kl-modal[position=top]:after {
    vertical-align: top;
}

kl-modal[position=bottom] {
    text-align: center;
}

.modal-position-bottom,
kl-modal[position=bottom]:after {
    vertical-align: bottom;
}

kl-modal[position=left] {
    text-align: left;
}

.modal-position-left,
kl-modal[position=left]:after {
    vertical-align: middle;
}

kl-modal[position=right] {
    text-align: right;
}

.modal-position-right,
kl-modal[position=right]:after {
    vertical-align: middle;
}

.modal-window {
    background-color: #eef1f3;
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
    position: relative;
    box-sizing: border-box;
}

/* Secret Barcode */
.modal-window .secret-barcode {
    width: 678px;
    height: 20px;
    margin: 0 auto;
    display: block;
}

/* Table */
.modal-window table td {
    border: 1px solid #11254a;
    padding: 1px 3px;
}

.modal-window table input[type=text],
.modal-window table input[type=password],
.modal-window table input[type=email] {
    background: none;
    height: 100%;
    width: 100%;
    font-size: 17px;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0;
    padding: 0 6px;
}

.modal-window table input[type=text]:disabled,
.modal-window table input[type=email]:disabled {
    cursor: text;
}

/* Confirm Button */
.modal-window .modal-confirm-button {
    float: right;
    background-color: #11254a;
    border: none;
    text-align: right;
    padding: 6px 19px;
    height: 66px;
    margin-right: -8px;
    position: relative;
    min-width: 305px;
}

.modal-window .modal-confirm-button:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 10px;
    z-index: -1;
    box-shadow: 0 0 2px #B8BABB;
    transform: rotate(315deg);
    transform-origin: bottom right;
    background-color: #adafb0;
}

.modal-window .modal-confirm-button img {
    float: right;
    margin-left: 18px;
    position: relative;
}

.modal-window .modal-confirm-button .arrow-right {
    width: 42px;
    height: 34px;
    top: 7px;
}

.modal-window .modal-confirm-button .signature-pen {
    width: 30px;
    height: 40px;
    top: 4px;
}

.modal-window .modal-confirm-button hgroup {
    float: right;
    margin-left: 30px;
}

.modal-window .modal-confirm-button hgroup h1 {
    color: white;
    font-size: 19px;
    margin: 4px 0;
    font-weight: normal;
}

.modal-window .modal-confirm-button hgroup h2 {
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 4px 0;
}

/* Exit Button */
.modal-window .modal-exit-button {
    display: block;
    position: absolute;
    top: 0;
    right: -58px;
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
    cursor: pointer;
}

.modal-window .modal-exit-button svg {
    width: 48px;
    height: 48px;
}

.modal-window .modal-exit-button.focused .background {
    animation: exit-background-flash 150ms ease-in-out 6 alternate;
}

.modal-window .modal-exit-button.focused .text {
    animation: exit-text-flash 150ms ease-in-out 6 alternate;
}

.modal-window .modal-exit-button:hover .background {
    fill: white;
}

.modal-window .modal-exit-button:hover .text {
    fill: #009e57;
}

/* Headings */
.modal-window h1 {
    font-size: 19px;
    color: #11254a;
    margin: 3px 0;
}

.modal-window h2 {
    font-size: 15px;
    font-weight: normal;
    margin: 3px 0;
}

.modal-window h3 {
    color: #11254a;
    font-size: 15px;
    margin: 3px 0;
}

.modal-window h3.single-line {
    float: left;
    margin-right: 8px;
}

.modal-window h3.single-line + h4 {
    position: relative;
    top: 1px;
}

.modal-window h4 {
    font-weight: normal;
    font-size: 13px;
    margin: 3px 0;
}

/* Pasted Card */
.modal-window .pasted-card {
    position: relative;
    background-color: #fdfeeb;
    border: 4px solid transparent;
    border-image: url(../images/border-slash.png) 30 round;
    transform: rotate(-1deg);
    text-align: center;
    min-width: 182px;
    box-sizing: border-box;
}

.modal-window .pasted-card .needle {
    position: absolute;
    top: -3px;
    left: 4px;
}

.modal-window .pasted-card > div {
    display: inline-block;
    margin: 6px 0 4px;
}

.modal-window .pasted-card div img {
    float: left;
    width: 35px;
    height: 35px;
    margin: 1px 8px 0 0;
}

.modal-window .pasted-card div h5 {
    font-size: 13px;
    font-weight: normal;
    margin: 2px 0;
}

.modal-window .pasted-card div a {
    font-weight: bold;
}

.modal-window .pasted-card div div {
    float: left;
    text-align: left;
    max-width: 192px;
}