/*#region Font Face */

@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/myriadpro-regular.woff) format("woff");
}

@font-face {
    font-family: "Keylol Rail Sung";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/keylol-rail-sung-f64293596a95078abc8673b55ba4131b.woff) format("woff");
}

@font-face {
    font-family: "LiSong";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/lisong-fdd0168d0a8b87a3de93bb498775e41d.woff) format("woff");
}

/*#endregion */

/*#region Keyframes */

@keyframes exit-background-flash {
    from {
        fill: #009e57;
    }

    to {
        fill: white;
    }
}

@keyframes exit-text-flash {
    from {
        fill: white;
    }

    to {
        fill: #009e57;
    }
}

/*#endregion */

/*#region Common HTML Elements */

body {
    color: #333;
    background-color: #eef1f3;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 13px;
    min-width: 1220px;
    box-sizing: border-box;
}

a {
    color: #11254a;
    text-decoration: none;
}

    a:hover,
    a:focus {
        text-decoration: underline;
    }

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type=radio] {
    bottom: 2px;
}

input[type=search],
input[type=text],
input[type=password],
input[type=email],
textarea,
.ql-container {
    border-radius: 4px;
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15), inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 8px;
    background: white;
}

/*#region Geetest Restyle */

[id^=geetest-] {
    height: 28px;
    position: relative;
    text-align: center;
}

    [id^=geetest-]:before {
        content: "加载中，若无响应请刷新";
        color: #c7cdd1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.gt_holder {
    display: inline-block;
}

/*#endregion */

/*#endregion */

/*#region Grid System */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

    .row.as-section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .row.as-section [class^=col-] {
            margin-top: -20px;
            margin-bottom: -20px;
        }

.col-left {
    width: 200px;
}

.col-middle {
    width: 640px;
}

.col-right {
    width: 300px;
}

.col-left-middle {
    width: 870px;
}

[class^=col-] {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

    [class^=col-] section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

[class^=section-] {
    box-sizing: border-box;
}

/*#endregion */

/*#region Font Family Presets */

.font-myriad-keylol {
    font-family: "Myriad Pro", "Keylol Rail Sung", serif;
}

.font-myriad-lisong {
    font-family: "Myriad Pro", LiSong, serif;
}

/*#endregion */

/*#region Utilities */

.box-shadowed {
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
}

.box-shadowed-inset {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.50);
}

.box-shadowed-glowed {
    box-shadow: 0 0 1px rgba(0,0,0,0.35), 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
}

.labeled-heading {
    position: relative;
    line-height: 22px;
    padding-left: 8px;
    font-size: 15px;
    color: #11254a;
    font-weight: normal;
}

    .labeled-heading:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        width: 8px;
        height: 22px;
        background-color: #11254a;
    }

    .labeled-heading:before {
        content: "";
        display: block;
        position: absolute;
        left: -13px;
        width: 8px;
        height: 22px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(135deg);
        transform-origin: bottom right;
        background-color: #adafb0;
    }

.row:after,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.list-inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .list-inline li {
        display: inline;
    }

.entry-type {
    font-size: 15px;
    color: white;
    background-color: #11254a;
    padding: 2px 3px 1px;
}

.avatar-small {
    border-radius: 50%;
    border: 2px solid #11254A;
    box-sizing: border-box;
    display: block;
}

.avatar-big {
    border-radius: 50%;
    border: 3px solid #11254A;
    box-sizing: border-box;
    display: block;
}

.border-button {
    border: none;
    padding: 3px 7px;
    color: white;
    position: relative;
    background: #748a97 no-repeat;
    background-size: contain;
}

    .border-button.left-border:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 8px;
        height: 4px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(45deg);
        transform-origin: bottom left;
        background-color: #adafb0;
    }

    .border-button.right-border:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 8px;
        height: 4px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(315deg);
        transform-origin: bottom right;
        background-color: #adafb0;
    }

    .border-button.bottom-border:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 4px;
        height: 8px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(45deg);
        transform-origin: bottom right;
        background-color: #adafb0;
    }

    .border-button.top-border:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 8px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(315deg);
        transform-origin: top right;
        background-color: #adafb0;
    }

/*#endregion */

/*#region Modal Window */

.body-modal-open {
    overflow: hidden;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

kl-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    white-space: nowrap;
}

    kl-modal:after {
        display: inline-block;
        height: 100%;
        margin-left: -0.05em;
        content: "";
    }

    kl-modal:last-of-type {
        background-color: rgba(0, 0, 0, 0.65);
    }

[class^=modal-position-] {
    display: inline-block;
    text-align: left;
}

kl-modal[position=center] {
    text-align: center;
}

    .modal-position-center,
    kl-modal[position=center]:after {
        vertical-align: middle;
    }

kl-modal[position=top] {
    text-align: center;
}

    .modal-position-top,
    kl-modal[position=top]:after {
        vertical-align: top;
    }

kl-modal[position=bottom] {
    text-align: center;
}

    .modal-position-bottom,
    kl-modal[position=bottom]:after {
        vertical-align: bottom;
    }

kl-modal[position=left] {
    text-align: left;
}

    .modal-position-left,
    kl-modal[position=left]:after {
        vertical-align: middle;
    }

kl-modal[position=right] {
    text-align: right;
}

    .modal-position-right,
    kl-modal[position=right]:after {
        vertical-align: middle;
    }

.modal-window {
    background-color: #eef1f3;
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
    position: relative;
    box-sizing: border-box;
}

    /*#region Secret Barcode */

    .modal-window .secret-barcode {
        width: 678px;
        height: 20px;
        margin: 0 auto;
        display: block;
    }

    /*#endregion */

    /*#region Table */

    .modal-window table td {
        border: 1px solid #11254a;
        padding: 1px 3px;
    }

    .modal-window table input[type=text],
    .modal-window table input[type=password],
    .modal-window table input[type=email] {
        background: none;
        height: 100%;
        width: 100%;
        font-size: 17px;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 0;
        padding: 0 6px;
    }

        .modal-window table input[type=text]:disabled,
        .modal-window table input[type=email]:disabled {
            cursor: text;
        }

    /*#endregion */

    /*#region Confirm Button */

    .modal-window .modal-confirm-button {
        float: right;
        background-color: #11254a;
        border: none;
        text-align: right;
        padding: 6px 19px;
        height: 66px;
        margin-right: -8px;
        position: relative;
        min-width: 305px;
    }

        .modal-window .modal-confirm-button:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 15px;
            height: 10px;
            z-index: -1;
            box-shadow: 0 0 2px #B8BABB;
            transform: rotate(315deg);
            transform-origin: bottom right;
            background-color: #adafb0;
        }

        .modal-window .modal-confirm-button img {
            float: right;
            margin-left: 18px;
            position: relative;
        }

        .modal-window .modal-confirm-button .arrow-right {
            width: 42px;
            height: 34px;
            top: 7px;
        }

        .modal-window .modal-confirm-button .signature-pen {
            width: 30px;
            height: 40px;
            top: 4px;
        }

        .modal-window .modal-confirm-button hgroup {
            float: right;
            margin-left: 30px;
        }

            .modal-window .modal-confirm-button hgroup h1 {
                color: white;
                font-size: 19px;
                margin: 4px 0;
                font-weight: normal;
            }

            .modal-window .modal-confirm-button hgroup h2 {
                color: white;
                font-size: 13px;
                font-weight: normal;
                margin: 4px 0;
            }

    /*#endregion */

    /*#region Exit Button */

    .modal-window .modal-exit-button {
        display: block;
        position: absolute;
        top: 0;
        right: -58px;
        box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
        cursor: pointer;
    }

        .modal-window .modal-exit-button svg {
            width: 48px;
            height: 48px;
        }

        .modal-window .modal-exit-button.focused .background {
            animation: exit-background-flash 150ms ease-in-out 6 alternate;
        }

        .modal-window .modal-exit-button.focused .text {
            animation: exit-text-flash 150ms ease-in-out 6 alternate;
        }

        .modal-window .modal-exit-button:hover .background {
            fill: white;
        }

        .modal-window .modal-exit-button:hover .text {
            fill: #009e57;
        }

    /*#endregion */

    /*#region Headings */

    .modal-window h1 {
        font-size: 19px;
        color: #11254a;
        margin: 3px 0;
    }

    .modal-window h2 {
        font-size: 15px;
        font-weight: normal;
        margin: 3px 0;
    }

    .modal-window h3 {
        color: #11254a;
        font-size: 15px;
        margin: 3px 0;
    }

        .modal-window h3.single-line {
            float: left;
            margin-right: 8px;
        }

            .modal-window h3.single-line + h4 {
                position: relative;
                top: 1px;
            }

    .modal-window h4 {
        font-weight: normal;
        font-size: 13px;
        margin: 3px 0;
    }

    /*#endregion */

    /*#region Pasted Card */

    .modal-window .pasted-card {
        position: relative;
        background-color: #fdfeeb;
        border-image: url(../images/border-slash.png) 30 round;
        border-width: 4px;
        border-style: solid;
        transform: rotate(-1deg);
        text-align: center;
        min-width: 182px;
        box-sizing: border-box;
    }

        .modal-window .pasted-card .needle {
            position: absolute;
            top: -3px;
            left: 4px;
        }

        .modal-window .pasted-card > div {
            display: inline-block;
            margin: 6px 0 4px;
        }

        .modal-window .pasted-card div img {
            float: left;
            width: 35px;
            height: 35px;
            margin: 1px 8px 0 0;
        }

        .modal-window .pasted-card div h5 {
            font-size: 13px;
            font-weight: normal;
            margin: 2px 0;
        }

        .modal-window .pasted-card div a {
            font-weight: bold;
        }

        .modal-window .pasted-card div div {
            float: left;
            text-align: left;
            max-width: 192px;
        }

/*#endregion */

/*#endregion */

/*#region Input Code Directive */

input-code span {
    display: inline-block;
    position: relative;
    padding-right: 1px;
    vertical-align: bottom;
}

    input-code span:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 33px;
        height: 10px;
        bottom: 0;
        box-sizing: border-box;
        border-right: 1px solid #11254a;
        border-bottom: 1px solid #11254a;
    }

    input-code span:first-of-type {
        padding-left: 1px;
    }

        input-code span:first-of-type:before {
            border-left: 1px solid #11254a;
            left: 0;
            width: 34px;
        }

input-code input[type=text].code-input-textbox {
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

/*#endregion */

/*#region Article Basic Styles */

.article-content {
    outline: none;
    tab-size: 4;
    white-space: pre-wrap;
    font-size: 15px;
    line-height: 1.6em;
}

    .article-content div {
        margin: 8px 0 16px;
    }

    .article-content h1 {
        font-size: 16px;
        font-weight: bold;
        color: #11254a;
        margin: 20px 0 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .article-content h1:before {
            content: ">";
            font-family: "Keylol Rail Sung", serif;
            margin-right: 6px;
            font-size: 16px;
        }

    .article-content blockquote {
        background: #EEF1F3;
        border-left: 5px solid #11254a;
        margin: 8px 0 16px;
        padding: 10px 13px;
    }

    .article-content img {
        max-width: 100%;
        display: block;
        margin: 8px auto 16px;
    }

    .article-content a {
        color: #748a97;
    }

    .article-content b {
        font-weight: bold;
    }

    .article-content i {
        font-style: italic;
    }

    .article-content s {
        text-decoration: line-through;
    }

    .article-content u {
        text-decoration: underline;
    }

    .article-content div:first-child,
    .article-content h1:first-child,
    .article-content img:first-child,
    .article-content blockquote:first-child {
        margin-top: 0;
    }

    .article-content div:last-child,
    .article-content h1:last-child,
    .article-content img:last-child,
    .article-content blockquote:last-child {
        margin-bottom: 0;
    }

/*#endregion */

/*#region Windows */

/*#region Registration Window */

.modal-registration .modal-window {
    padding: 14px;
    width: 900px;
}

.modal-registration .error {
    color: red;
}

.modal-registration .heading {
    margin: 28px 0;
}

    .modal-registration .heading img {
        float: right;
        width: 44px;
        height: 44px;
    }

.modal-registration table {
    margin: 28px 0;
    width: 100%;
}

.modal-registration .platform {
    float: left;
    width: 33%;
    margin: 10px 0 8px;
    text-align: center;
    position: relative;
}

    .modal-registration .platform .go-binding-anchor {
        display: inline-block;
        opacity: 0.25;
    }

        .modal-registration .platform .go-binding-anchor:hover {
            text-decoration: none;
            opacity: 1.0;
        }

        .modal-registration .platform .go-binding-anchor img {
            width: 35px;
            height: 35px;
            vertical-align: middle;
        }

        .modal-registration .platform .go-binding-anchor span {
            font-size: 15px;
            color: #333;
        }

    .modal-registration .platform .pasted-card {
        width: 270px;
        position: absolute;
        top: 0;
        left: 0;
    }

.modal-registration .generate-id-code {
    float: right;
    color: #748a97;
    margin: 5px 5px 0;
}

.modal-registration .id-code {
    text-align: center;
    margin: 10px 0 14px;
}

.modal-registration .avatar-box-left-spacing {
    border: none;
}

.modal-registration .upload-avatar {
    text-align: center;
}

    .modal-registration .upload-avatar button {
        margin: 6px 0;
    }

.modal-registration [id^=geetest-] {
    margin: 14px 0;
}

.modal-registration .declaration {
    max-width: 580px;
}

    .modal-registration .declaration h3.single-line + h4 {
        top: 6px;
    }

.modal-registration .modal-window .modal-confirm-button {
    margin-right: -24px;
}

/*#endregion */

/*#region Login Password Window */

.modal-login-password .modal-window {
    padding: 14px;
    width: 900px;
}

.modal-login-password .error {
    color: red;
}

.modal-login-password .heading {
    margin: 16px 0 28px;
}

    .modal-login-password .heading a {
        float: right;
        margin-top: 15px;
        color: #748a97;
    }

.modal-login-password table {
    margin: 28px auto;
    width: 100%;
}

.modal-login-password [id^=geetest-] {
    margin: 14px 0;
}

.modal-login-password .modal-window .modal-confirm-button {
    margin-right: -24px;
}

.modal-login-password .change-login-method {
    max-width: 570px;
    padding-top: 6px;
}

    .modal-login-password .change-login-method button {
        margin-left: -19px;
    }

    .modal-login-password .change-login-method p {
        margin: 14px 0 0;
    }

/*#endregion */

/*#region Editor Window */

.modal-editor .modal-window {
    padding: 20px 0 30px;
    width: 884px;
}

.modal-editor .ql-container {
    height: 300px;
    margin: 0 14px;
}

.modal-editor input[type=text] {
    width: calc(100% - 28px);
    box-sizing: border-box;
    margin-left: 14px;
}

.modal-editor .type-title {
    position: relative;
}

.modal-editor .article-type {
    font-size: 19px;
    background: #11254a;
    color: white;
    position: absolute;
    height: 100%;
    width: 70px;
    left: -5px;
}

    .modal-editor .article-type:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 8px;
        height: 4px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(45deg);
        transform-origin: bottom left;
        background-color: #d9d9d9;
    }

    .modal-editor .article-type span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .modal-editor .article-type + span {
        display: block;
        overflow: hidden;
        padding: 2px 28px 2px 65px;
    }

        .modal-editor .article-type + span input {
            width: 100%;
        }

.modal-editor form h3 {
    margin: 19px 0 11px;
}

    .modal-editor form h3:first-of-type {
        margin-top: 29px;
    }

.modal-editor .pad-right {
    position: relative;
}

    .modal-editor .pad-right input[type=text] {
        width: calc(100% - 296px);
    }

    .modal-editor .pad-right .right-content {
        position: absolute;
        right: 14px;
        top: 0;
        height: 100%;
        width: 254px;
    }

    .modal-editor .pad-right label {
        margin: 0 26px 0 4px;
        font-size: 15px;
    }

        .modal-editor .pad-right label:last-of-type {
            margin-right: 0;
        }

    .modal-editor .pad-right .right-content span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .modal-editor .pad-right .right-content span.left-align {
            left: 0;
            right: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            transform: translateY(-50%);
        }

.modal-editor .modal-confirm-button {
    margin-top: 40px;
}

.modal-editor .save-draft {
    max-width: 570px;
    padding-top: 44px;
}

    .modal-editor .save-draft button {
        margin-left: -5px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAIVBMVEUAAAD////////////////+/v7+/v7+/v7+/v7+/v7///92EJ5ZAAAACnRSTlMAFCBAgI+fq7ffnxGb6AAAAEpJREFUeNrt0rEKACAIRdGyeqX//8G1BTZITQ3vDELCXaREFFMzq0nWlL2s66kMfJAB5JvAiYITAwZvQRenBQFuf+soDn69ElFoAjToFA1LQoTVAAAAAElFTkSuQmCC);
        padding-left: 22px;
    }

    .modal-editor .save-draft span {
        color: #748a97;
        margin-left: 6px;
    }

    .modal-editor .save-draft p {
        margin: 14px 14px 0;
    }

/*#endregion */

/*#region Settings Window */

.modal-settings .modal-window {
    padding: 14px;
    width: 900px;
}

.modal-settings .error {
    color: red;
}

.modal-settings .tab-changed {
    position: relative;
}

    .modal-settings .tab-changed:after {
        content: "*";
        position: absolute;
        top: 0;
    }

    .modal-settings .tab-changed.tab-error:after {
        color: red;
    }

.modal-settings .heading {
    margin: 28px 0;
}

    .modal-settings .heading .menu-right {
        float: right;
        font-size: 15px;
        margin-top: 6px;
    }

        .modal-settings .heading .menu-right ul li {
            margin-left: 30px;
        }

            .modal-settings .heading .menu-right ul li:first-of-type {
                margin-left: 0;
            }

            .modal-settings .heading .menu-right ul li.current {
                font-weight: bold;
            }

                .modal-settings .heading .menu-right ul li.current a:hover {
                    text-decoration: none;
                }

.modal-settings .avatar-box-left-spacing {
    border: none;
}

.modal-settings .upload-avatar {
    text-align: center;
}

.modal-settings table {
    margin: 28px 0;
    width: 100%;
}

.modal-settings .profile-point-background {
    margin: 14px 0;
    text-align: center;
}

    .modal-settings .profile-point-background img {
        width: 640px;
        height: 92px;
    }

.modal-settings .platform-status {
    width: 18%;
    float: left;
    text-align: center;
    position: relative;
    margin: 7px 0 9px;
    box-sizing: border-box;
}

    .modal-settings .platform-status span.light-yellow {
        border-radius: 50%;
        background-color: #F38B00;
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-right: 4px;
    }

    .modal-settings .platform-status span.light-green {
        border-radius: 50%;
        background-color: #00AF41;
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-right: 4px;
    }

    .modal-settings .platform-status.larger {
        width: 28%;
    }

    .modal-settings .platform-status.right-border {
        border-right: 1px solid #748A97;
    }

    .modal-settings .platform-status .text-block {
        display: inline-block;
        text-align: left;
    }

    .modal-settings .platform-status .bot-name {
        color: #748a97;
    }

    .modal-settings .platform-status .pasted-card {
        position: absolute;
        top: 0;
        left: -25px;
        width: calc(100% + 25px);
    }

.modal-settings .checkbox-group {
    margin: 12px 0;
}

    .modal-settings .checkbox-group div {
        display: block;
        width: 20%;
        float: left;
        text-indent: 2%;
    }

    .modal-settings .checkbox-group.more div {
        width: 8%;
    }

    .modal-settings .checkbox-group label {
        padding-left: 2px;
    }

/*#region Customized Checkbox (Disabled) */
/*
.modal-settings-checkbox {
    width: 120px;
    margin: 6px 26px;
    position: relative;
    float: left;
}

    .modal-settings-checkbox span {
        margin-left: 4px;
    }

    .modal-settings-checkbox label {
        cursor: pointer;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        background: #eee;
        border: 1px solid #ddd;
    }

        .modal-settings-checkbox label:after {
            opacity: 0.2;
            content: '';
            position: absolute;
            width: 9px;
            height: 5px;
            background: transparent;
            top: 2px;
            left: 2px;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .modal-settings-checkbox label:hover::after {
            opacity: 0.5;
        }

    .modal-settings-checkbox input[type=checkbox]:checked + label:after {
        opacity: 1;
    }
*/
/*#endregion */

.modal-settings [id^=geetest-] {
    margin: 14px 0;
}

.modal-settings .tips {
    max-width: 580px;
    padding-top: 8px;
}

    .modal-settings .tips h3.single-line + h4 {
        top: 6px;
    }

.modal-settings .modal-window .modal-confirm-button {
    margin-right: -24px;
}

/*#endregion */

/*#endregion */

/*#region Sections */

/*#region Logo Section */

.section-logo {
    background-color: #11254a;
    height: 100%;
    width: 100%;
    min-height: 70px;
    min-width: 186px;
}

    .section-logo a {
        display: block;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .section-logo .logo-content {
        width: 162px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-logo img {
        float: left;
        width: 54px;
        height: 54px;
        margin: 0 11px 0 5px;
    }

    .section-logo p {
        margin: 0;
        color: #fefefe;
    }

        .section-logo p:first-of-type {
            font-size: 25px;
            margin-top: 3px;
        }

        .section-logo p:nth-of-type(2) {
            font-size: 15px;
            position: relative;
            top: -2px;
            left: 2px;
        }

/*#endregion */

/*#region Reception Section */

.section-reception {
    background-color: white;
    width: 100%;
    min-width: 200px;
    padding: 6px 0 9px;
}

    .section-reception div {
        margin-bottom: 18px;
    }

    .section-reception ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .section-reception ul li {
            padding: 2px 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    .section-reception a {
        color: #333;
    }

/*#endregion */

/*#region Main Navigation Section */

.section-main-navigation {
    background-color: white;
    padding: 6px 0 9px;
    width: 200px;
}

    .section-main-navigation div {
        margin-bottom: 18px;
    }

    .section-main-navigation a {
        color: #333;
    }

    .section-main-navigation .labeled-heading + ul {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -7px;
        line-height: 22px;
    }

        .section-main-navigation .labeled-heading + ul li {
            display: inline-block;
            margin-right: 7px;
        }

        .section-main-navigation .labeled-heading + ul + p {
            margin: 0;
            line-height: 22px;
            padding-right: 10px;
            text-align: right;
        }

/*#endregion */

/*#region Promoted Points Section */

.section-promoted-points {
    background-color: white;
    width: 100%;
    min-width: 200px;
}

    .section-promoted-points .heading {
        background-color: #11254a;
        position: relative;
    }

        .section-promoted-points .heading:before {
            content: "";
            display: block;
            position: absolute;
            left: -64px;
            width: 59px;
            height: 60px;
            z-index: -1;
            box-shadow: 0 0 2px #B8BABB;
            transform: rotate(135deg);
            transform-origin: bottom right;
            background-color: #adafb0;
        }

        .section-promoted-points .heading .exit {
            float: left;
            margin-left: -5px;
            width: 60px;
            height: 60px;
        }

        .section-promoted-points .heading .parking {
            float: left;
            width: 34px;
            height: 34px;
            margin: 13px 10px 13px 13px;
        }

        .section-promoted-points .heading p {
            margin: 0;
            color: white;
        }

            .section-promoted-points .heading p:first-of-type {
                font-size: 17px;
                padding-top: 13px;
            }

    .section-promoted-points .point {
        margin-left: 20px;
        padding: 10px 0;
        border-bottom: 1px solid #000003;
    }

        .section-promoted-points .point:last-of-type {
            border-bottom: none;
        }

        .section-promoted-points .point p {
            margin: 0;
        }

            .section-promoted-points .point p:first-of-type {
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 12px;
                margin-bottom: 2px;
            }

/*#endregion */

/*#region Spotlight Banner Section */

.section-spotlight-banner {
    height: 100%;
    width: 100%;
    min-height: 185px;
    min-width: 616px;
    background-color: white;
    position: relative;
}

    .section-spotlight-banner svg {
        width: 606px;
        height: 175px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

/*#endregion */

/*#region Point Summary Section */

.section-point-summary {
    background: white;
    width: 100%;
    min-width: 400px;
    height: 100%;
    min-height: 80px;
    position: relative;
}

    .section-point-summary .background {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.2;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .section-point-summary .content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px 20px 0 0;
        box-sizing: border-box;
    }

    .section-point-summary .avatar-anchor {
        float: right;
        margin-left: 16px;
    }

        .section-point-summary .avatar-anchor img {
            width: 48px;
            height: 48px;
        }

    .section-point-summary .main-heading {
        font-weight: bold;
        margin: 5px 0 2px;
        font-size: 16px;
    }

        .section-point-summary .main-heading .text-block {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
        }

    .section-point-summary .subheading {
        font-weight: normal;
        font-size: 13px;
        color: #333;
        margin-left: 9px;
    }

    .section-point-summary .summary {
        margin: 0 0 0 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .section-point-summary .actions {
        position: absolute;
        bottom: -5px;
        padding-right: 5px;
        right: 15px;
        left: 8px;
        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

        .section-point-summary .actions button {
            margin-left: 15px;
        }

            .section-point-summary .actions button:first-of-type {
                margin-left: 0;
            }

            .section-point-summary .actions button.subscribed {
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAz1BMVEX+/v7////+/v7////+/v7////////+/v7////////////+/v7////////////+/v7////////+/v7////+/v7////////////+/v7////////////////+/v7+/v7////////////////+/v7////////////+/v7///////////////////////////////////////////////////////////////////////////////////////////////////////////////////8kdPWFAAAARHRSTlMAAAYMDxIUFhYYGykpKi0uLjE1O0RMTlBSUlhdZWlrbnB0d3iMj5WYnp+ho6epq7C6vL3Fy8zN0tXX3t/k5unt8fj5+vqs8psAAADRSURBVHja7dTFEoMwEIDh3bpRd6Xu7kYt7/9MZUOhvUDDsVP2wATm/2ZCDgG0OQ5wwL8AMBagvQI9Y+uMLZC/MyVgAwyYOldhkNhQ/2iJggqjUcIgBjx93ne9YAbqtU8gHXhfBTQBoSFjKVpoRYPnqyigGZjRcejAPeL9GNEcxG9qMdFA+sz7LFgBLFAj0zeZ58skWgPsURZE15z3HYBvAHf0m+Uj5ZciCgCJ6bP1gwjA3KtvIogBnPLtlEAY4J6xhQ9sgMipbdRv4FwzDvhF8AS6qyri6TzO9AAAAABJRU5ErkJggg==);
                padding-left: 22px;
            }

/*#endregion */

/*#region Timeline Section */

.section-timeline {
    width: 100%;
    min-width: 554px;
}

    /*#region Card & Card Line */

    .section-timeline .card {
        position: relative;
        padding-left: 31px;
    }

        .section-timeline .card .card-line {
            position: absolute;
            height: 100%;
            width: 17px;
            left: 13px;
            top: 0;
            fill: #11254a;
        }

            .section-timeline .card .card-line circle {
                fill: white;
                stroke: #11254a;
                stroke-width: 2px;
            }

    /*#endregion */

    /*#region Heading */

    /*#region Title */

    .section-timeline .heading .title {
        color: #11254a;
        padding: 7px 0 6px;
        margin-left: 2px;
    }

        .section-timeline .heading .title h1 {
            font-size: 17px;
            font-weight: normal;
            margin: 0 0 1px;
        }

        .section-timeline .heading .title h2 {
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }

    .section-timeline .heading.inverse .title {
        color: white;
    }

    /*#endregion */

    /*#region Card Line */

    .section-timeline .heading .card-line rect {
        fill: #11254a;
    }

    .section-timeline .heading.inverse .card-line circle {
        fill: #11254a;
        stroke: white;
    }

    .section-timeline .heading.inverse .card-line rect {
        fill: white;
    }

    /*#endregion */

    /*#region Layout */

    .section-timeline .heading {
        position: relative;
        padding-right: 65px;
    }

        .section-timeline .heading .left-info,
        .section-timeline .heading .right-button {
            background-color: white;
        }

        .section-timeline .heading.inverse .left-info,
        .section-timeline .heading.inverse .right-button {
            background-color: #11254a;
        }

        .section-timeline .heading .left-info {
            overflow: hidden;
        }

        .section-timeline .heading .right-button {
            position: absolute;
            right: 0;
            width: 50px;
            height: 100%;
        }

            .section-timeline .heading .right-button img {
                width: 26px;
                height: 26px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

    /*#endregion */

    /*#endregion */

    /*#region Entry */

    .section-timeline .entry {
        padding-top: 30px;
        padding-right: 14px;
    }

    /*#region Heading */

    .section-timeline .entry-heading {
        margin-bottom: 10px;
        margin-left: 2px;
    }

        .section-timeline .entry-heading h3 {
            height: 26px;
            line-height: 26px;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .section-timeline .entry-heading .entry-type {
            margin-right: 5px;
        }

        .section-timeline .entry-heading .entry-author {
            float: right;
            width: 184px;
        }

            .section-timeline .entry-heading .entry-author .avatar-anchor {
                float: right;
                margin-left: 6px;
            }

            .section-timeline .entry-heading .entry-author img {
                width: 24px;
                height: 24px;
            }

            .section-timeline .entry-heading .entry-author h4 {
                line-height: 26px;
                height: 26px;
                font-weight: normal;
                margin: 0;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    /*#endregion */

    /*#region Content */

    .section-timeline .entry-content {
        background-color: white;
    }

        .section-timeline .entry-content .thumbnail {
            float: left;
            width: 210px;
            height: 118px;
            margin-right: 10px;
        }

        .section-timeline .entry-content .summary {
            padding: 8px 10px;
        }

        .section-timeline .entry-content h3 {
            font-size: 17px;
            font-weight: normal;
            margin: 0 0 5px 0;
            padding-top: 1px;
            line-height: 24px;
            height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .section-timeline .entry-content p {
            margin: 0;
            line-height: 18px;
            max-height: 72px;
            overflow: hidden;
        }

            .section-timeline .entry-content p.two-line {
                height: 36px;
            }

    /*#endregion */

    /*#region Footer */

    .section-timeline .entry footer {
        text-align: center;
        color: #748a97;
        height: 26px;
        line-height: 26px;
        margin-top: 6px;
        visibility: hidden;
    }

        .section-timeline .entry footer .datetime {
            float: left;
        }

        .section-timeline .entry footer .likes {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 10px;
        }

        .section-timeline .entry footer .counts {
            float: right;
        }

            .section-timeline .entry footer .counts span {
                display: inline-block;
                margin-left: 15px;
            }

                .section-timeline .entry footer .counts span:first-of-type {
                    margin-left: 0;
                }

    .section-timeline .entry:hover footer {
        visibility: visible;
    }

/*#endregion */

/*#endregion */

/*#endregion */

/*#region Search Box Section */

.section-search-box {
    width: 100%;
    min-width: 184px;
    height: 100%;
    min-height: 40px;
    padding: 7px 30px 7px 10px;
    background-color: #11254A;
    position: relative;
}

    .section-search-box input[type=search] {
        box-shadow: none;
        height: 100%;
        line-height: 26px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 6px;
    }

    .section-search-box a {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 26px;
    }

        .section-search-box a img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            margin-left: -10px;
            margin-top: -7px;
        }

/*#endregion */

/*#region Action Hub Section */

.section-action-hub {
    width: 300px;
    height: 134px;
    background-color: white;
    padding: 12px;
}

    .section-action-hub .not-logged-in {
        width: 100%;
        height: 100%;
        position: relative;
    }

        .section-action-hub .not-logged-in button {
            position: absolute;
            right: 0;
            top: -17px;
        }

        .section-action-hub .not-logged-in a {
            padding: 10px;
            display: block;
            position: absolute;
            top: 50%;
            width: 72%;
            left: 48%;
            transform: translate(-50%, -50%);
            text-align: right;
        }

        .section-action-hub .not-logged-in a {
            text-decoration: none;
        }

        .section-action-hub .not-logged-in img {
            float: right;
            width: 49px;
            height: 42px;
            margin-left: 10px;
        }

        .section-action-hub .not-logged-in h4 {
            margin: 0 0 5px;
            font-weight: normal;
            line-height: 15px;
        }

        .section-action-hub .not-logged-in h3 {
            margin: 0;
            font-size: 22px;
            font-weight: normal;
            line-height: 22px;
        }

        .section-action-hub .not-logged-in a:hover h3 {
            text-decoration: underline;
        }

    .section-action-hub .name-settings {
        margin-left: 65px;
    }

        .section-action-hub .name-settings h4 {
            margin: 0;
            line-height: 22px;
            font-weight: normal;
        }

        .section-action-hub .name-settings .name {
            padding: 3px 0 2px;
            font-size: 15px;
        }

        .section-action-hub .name-settings .settings-link a {
            color: #333;
        }

    .section-action-hub .avatar-anchor {
        float: left;
    }

        .section-action-hub .avatar-anchor img {
            width: 48px;
            height: 48px;
        }

    .section-action-hub .links {
        margin-top: 16px;
    }

        .section-action-hub .links li {
            display: inline-block;
            text-align: center;
            width: 66px;
        }

        .section-action-hub .links h4 {
            font-weight: normal;
            margin: 0 0 6px;
        }

        .section-action-hub .links a {
            font-size: 17px;
            font-style: italic;
        }

/*#endregion */

/*#region Secret Tests Section */

.section-secret-tests {
    background: white;
    padding: 6px 0 9px;
}

    .section-secret-tests .tests {
        text-align: center;
        padding: 0 10px;
        margin-bottom: 10px;
    }

/*#endregion */

/*#region IFS Right Section */

.section-ifs-right {
    height: 100%;
    width: 100%;
    min-height: 143px;
    min-width: 269px;
    background-color: white;
    position: relative;
}

    .section-ifs-right svg {
        margin: 0 auto;
        width: 256px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/*#endregion */

/*#region Promoted Readings Section */

.section-promoted-readings {
    width: 100%;
    min-width: 206px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 9px;
}

    .section-promoted-readings .article {
        padding: 12px 15px;
    }

        .section-promoted-readings .article h2 {
            font-weight: normal;
            font-size: 13px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .section-promoted-readings .article h2 span {
                margin-right: 4px;
                color: #748a97;
            }

        .section-promoted-readings .article p {
            margin: 7px 0;
            max-height: 36px;
            overflow: hidden;
            line-height: 18px;
        }

        .section-promoted-readings .article footer {
            text-align: right;
            color: #748a97;
            height: 16px;
            line-height: 16px;
        }

            .section-promoted-readings .article footer span {
                margin-left: 15px;
                display: none;
            }

        .section-promoted-readings .article:hover footer span.datetime {
            display: none;
        }

        .section-promoted-readings .article footer span.datetime,
        .section-promoted-readings .article:hover footer span {
            display: inline-block;
        }

/*#endregion */

/*#region CuC Entrance Section */

.section-cuc-entrance {
    background-color: #252626;
    height: 100%;
    width: 100%;
    min-height: 60px;
    min-width: 300px;
}

    .section-cuc-entrance a {
        display: block;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .section-cuc-entrance .cuc-content {
        width: 276px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-cuc-entrance img {
        float: left;
        width: 52px;
        height: 46px;
        margin-right: 2px;
    }

    .section-cuc-entrance p {
        margin: 0;
        color: #fefefe;
    }

        .section-cuc-entrance p:first-of-type {
            font-size: 19px;
            margin: 4px 0 0;
        }

/*#endregion */

/*#region Site Footer Section */

.section-site-footer {
    text-align: right;
    width: 100%;
    min-width: 250px;
    margin-top: -3px;
}

    .section-site-footer p {
        margin: 5px 0;
    }

    .section-site-footer .divider {
        margin: 0 4px;
        color: #c7cdd1;
    }

    .section-site-footer,
    .section-site-footer a {
        color: #748a97;
    }

/*#endregion */

/*#region Article Header Section */

.section-article-header {
    background: white;
    padding: 15px 0;
    width: 100%;
    min-width: 870px;
}

    .section-article-header h1 {
        margin: 0 0 10px;
        padding-right: 13px;
    }

        .section-article-header h1 .time {
            float: right;
            margin-left: 34px;
        }

        .section-article-header h1 .entry-type {
            margin-right: 5px;
            vertical-align: top;
        }

        .section-article-header h1 .title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            max-width: 80%;
            vertical-align: top;
        }

        .section-article-header h1 .vote {
            float: right;
            margin-left: 6px;
            color: #748a97;
        }

    .section-article-header div {
        padding: 0 13px 0 8px;
        line-height: 20px;
    }

        .section-article-header div .actions {
            float: right;
            margin-left: 20px;
        }

        .section-article-header div .points {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }

    .section-article-header .actions a {
        color: #748a97;
        margin-right: 9px;
    }

        .section-article-header .actions a:last-of-type {
            margin-right: 0;
        }

/*#endregion */

/*#region Article Content Section */

.section-article-content {
    background: white;
    padding: 26px 26px 18px;
    width: 100%;
    min-width: 300px;
}

    .section-article-content .share-actions {
        text-align: center;
        padding: 20px 0 2px;
    }

        .section-article-content .share-actions p {
            margin: 0;
            font-weight: bold;
            font-size: 17px;
            color: #11254a;
        }

        .section-article-content .share-actions a {
            color: #748a97;
        }

/*#endregion */

/*#region Article Comments Section */

.section-article-comments {
    background: white;
    padding: 20px 20px 30px;
    width: 100%;
    min-width: 300px;
}

    .section-article-comments .labeled-heading {
        margin-left: -20px;
    }

    .section-article-comments .avatar-anchor {
        float: left;
    }

        .section-article-comments .avatar-anchor img {
            width: 32px;
            height: 32px;
        }

        .section-article-comments .avatar-anchor + article {
            margin-left: 40px;
        }

    .section-article-comments .comment {
        margin-top: 20px;
    }

        .section-article-comments .comment:hover .action {
            display: inline;
        }

        .section-article-comments .comment:first-of-type {
            margin-top: 28px;
        }

    .section-article-comments .header {
        height: 25px;
        font-size: 15px;
    }

        .section-article-comments .header .as-author {
            color: #748a97;
        }

        .section-article-comments .header .time {
            font-size: 13px;
        }

        .section-article-comments .header .action {
            color: #748a97;
            margin-left: 12px;
            display: none;
        }

    .section-article-comments .content {
        line-height: 1.6em;
    }

        .section-article-comments .content .like-count {
            color: white;
            background: #11254a;
            padding: 1px 4px;
            margin-left: 7px;
        }

    .section-article-comments form {
        position: relative;
        margin-top: 52px;
    }

    .section-article-comments button[type=submit] {
        position: absolute;
        right: -25px;
        bottom: 8px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAHlBMVEX///////////////////////////////////////8V2MxSAAAACXRSTlMAESIzRGZ3iLtU0KdmAAAAOUlEQVR42u3HuREAIAwDMEL4vP/CXKBz4QmsTs3M7MuRMmwD2CIsUEKEdJQuwg6Ao8JirhkiZmbPBS/FAnGzq3lQAAAAAElFTkSuQmCC);
        padding-right: 23px;
        background-position: 100% 1px;
    }

    .section-article-comments .textarea-container {
        display: block;
        overflow: hidden;
        padding: 2px 90px 2px 8px;
    }

        .section-article-comments .textarea-container textarea {
            width: 100%;
            min-height: 80px;
            resize: vertical;
        }

/*#endregion */

/*#region Point Staffs Section */

.section-point-staffs {
    background: white;
    width: 100%;
    min-width: 200px;
    padding: 15px 0 10px;
}

    .section-point-staffs h1 {
        margin: 0 0 14px;
    }

    .section-point-staffs p {
        margin: 7px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .section-point-staffs p span {
            float: right;
            color: #748a97;
        }

        .section-point-staffs p a {
            color: #333;
        }

/*#endregion */

/*#region Point Votes Section */

.section-point-votes {
    background: white;
    width: 100%;
    /* min-width: 200px; */
    padding: 10px;
}

    .section-point-votes .reputation-level {
        text-align: center;
    }

        .section-point-votes .reputation-level span {
            background: #11254a;
            padding: 3px 5px;
            font-size: 17px;
            display: inline-block;
            color: white;
        }

    .section-point-votes .point-name {
        font-size: 15px;
        text-align: center;
        margin: 9px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section-point-votes .positive-vs-negative {
        background: #748a97;
        height: 5px;
        margin-bottom: 3px;
    }

        .section-point-votes .positive-vs-negative div {
            background: #11254a;
            height: 100%;
        }

    .section-point-votes [class$=-text] p {
        margin: 0;
    }

    .section-point-votes [class$=-text] a {
        color: #333;
    }

    .section-point-votes .positive-text {
        float: left;
    }

        .section-point-votes .positive-text p:first-child {
            color: #11254a;
        }

    .section-point-votes .negative-text {
        float: right;
        text-align: right;
    }

        .section-point-votes .negative-text p:first-child {
            color: #748a97;
        }

    .section-point-votes .external-links {
        text-align: center;
        margin-top: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .section-point-votes .external-links a {
            color: #748a97;
        }

        .section-point-votes .external-links .divider {
            color: #c7cdd1;
            margin: 0 4px;
        }

/*#endregion */

/*#endregion */
