.window-item-preview .window {
    padding: 14px;
    width: 900px;
}

.window-item-preview .heading {
    margin: 16px 0 28px;
}

.window-item-preview .heading a {
    float: right;
    margin-top: 15px;
    color: #89A;
}

.window-item-preview table {
    margin: 28px auto;
    width: 100%;
}

.window-item-preview table tr td {
    border: 0;
}

.window-item-preview .item-preview-image {
    margin: 14px 0;
    text-align: center;
    position: relative;
    display: block;
}

.window-item-preview .item-preview-image .image {
    width: 640px;
    height: 92px;
    display: inline-block;
    vertical-align: middle;
}

.window-item-preview .window .window-confirm-button {
    margin-right: -24px;
}

.window-item-preview .window .window-confirm-button[disabled=disabled] {
    cursor: default;
}

.window-item-preview .comment {
    max-width: 570px;
    padding-top: 6px;
}

.window-item-preview .comment p {
    margin: 37px 0 14px;
}

.window-item-preview .comment p span {
    color: #159;
    font-weight: bold;
}

.window-item-preview .comment p span.error {
    color: #e30613;
}