<window position="center" class="window-login-password">
    <div class="window">
        <div class="window-exit-button" ng-click="cancel()">
            <div ng-include="'assets/images/exit.svg'"></div>
        </div>
        <img class="secret-barcode" src="assets/images/secret-barcode-login.png" alt="条形码">
        <div class="heading">
            <!--<a ng-href="test">忘记登录信息？</a>-->
            <h1 class="font-myriad-lisong">登录表单</h1>
            <h2>通过邮箱与登录口令组合</h2>
        </div>
        <form class="clearfix" ng-submit="submit()">
            <table>
                <colgroup>
                    <col style="width: 30%">
                    <col style="width: 70%">
                </colgroup>
                <tbody>
                <tr>
                    <td>
                        <h3 class="font-myriad-lisong">识别码 / 电子邮箱</h3>
                        <h4 ng-switch="errorDetect.email(error['vm.EmailOrIdCode'])">
                            <span class="error" ng-switch-when="empty">不能为空。</span>
                            <span class="error" ng-switch-when="malformed">格式不正确。</span>
                            <span class="error" ng-switch-when="inexistent">不存在这个用户。</span>
                            <span class="error" ng-switch-when="lockedout">登录失败次数过多，账户暂时锁定半小时。</span>
                            <span class="error" ng-switch-when="failed">登录失败。</span>
                            <span ng-switch-default>账户注册时登记的信息。</span>
                        </h4>
                    </td>
                    <td>
                        <input type="text" tabindex="1" ng-model="vm.EmailOrIdCode">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 class="font-myriad-lisong">登录口令</h3>
                        <h4 ng-switch="errorDetect.password(error['vm.Password'])">
                            <span class="error" ng-switch-when="empty">登录口令不能为空。</span>
                            <span class="error" ng-switch-when="incorrect">登录口令不正确。</span>
                            <span ng-switch-default>若忘记登录口令，请查看右上角的链接。</span>
                        </h4>
                    </td>
                    <td>
                        <input type="password" tabindex="2" ng-model="vm.Password">
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td>
                        <h3 class="font-myriad-lisong">人机验证</h3>
                        <h4 ng-class="{error: error.authCode}">拖动滑块并完成拼图，协助我们抵御恶意攻击。</h4>
                        <div id="geetest-{{geetestId}}"></div>
                    </td>
                </tr>
            </table>
            <button type="submit" class="window-confirm-button" ng-disabled="submitLock">
                <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
                <img class="signature-pen" src="assets/images/signature-pen.png" alt="提交">
                <hgroup class="font-myriad-keylol">
                    <h1>登入其乐</h1>
                    <h2>Request for Login</h2>
                </hgroup>
            </button>
            <div class="change-login-method">
                <button type="button" class="border-button left-border" ng-click="switchToLoginSteamWindow()">改为 Steam 登录</button>
                <p>如果失去其乐机器人的联系方式，可以在登录后的设置页面中按照指引重新添加 Steam 好友。</p>
            </div>
        </form>
    </div>
</window>