<window position="center" class="window-login-steam">
    <div class="window clearfix">
        <div class="window-exit-button" ng-click="cancel()">
            <div ng-include="'assets/images/exit.svg'"></div>
        </div>
        <div class="content">
            <a class="delete-recovery-anchor" href="" ng-click="switchToLoginPasswordWindow()">误删机器人好友？</a>
            <div class="heading">
                <h1 class="font-myriad-lisong">登录</h1>
                <h2>通过 Steam 对话极速登录</h2>
            </div>
            <div class="steps clearfix box-shadowed">
                <div class="step">
                    <img src="assets/images/connect-step-one.png"><!--
                 --><div class="step-description">
                    <h3>向机器人发送登录验证码「<span class="auth-code">{{code}}</span>」</h3>
                    <h4>在你的 Steam <a href="steam://open/friends/" ng-click="utils.firefoxLinkFix($event)">好友列表</a>中发起对话</h4>
                </div>
                </div>
            </div>
            <flashing-figure stations='[
                {
                    cnName: "等待验证码",
                    enName: "Awaiting Passcode"
                },
                {
                    cnName: "收到验证码",
                    enName: "Passcode Received"
                },
                {
                    cnName: "登录成功",
                    enName: "Login"
                }
            ]' current="currentStation"></flashing-figure>
            <button type="button" class="border-button left-border login-password-button" ng-click="switchToLoginPasswordWindow()">口令组合登录</button>
        </div>
    </div>
</window>