<window position="center" class="window-point-settings">
<div class="window">
<div class="window-exit-button" ng-click="cancel()">
    <div ng-include="'assets/images/exit.svg'"></div>
</div>
<img class="secret-barcode" src="assets/images/secret-barcode.png" alt="条形码">
<div class="heading">
    <div class="menu-right">
        <ul class="list-inline">
            <li ng-class="{current: page === 'basic'}">
                <a href="" ng-class="{'tab-changed': optionsInPageChanged('basic')}" ng-click="setPage('basic')">基础资料</a>
            </li>
            <li ng-if="isGame" ng-class="{current: page === 'relationship'}">
                <a href="" ng-class="{'tab-changed': optionsInPageChanged('relationship')}" ng-click="setPage('relationship')">关联据点</a>
            </li>
            <li ng-class="{current: page === 'images'}">
                <a href="" ng-class="{'tab-changed': optionsInPageChanged('images')}" ng-click="setPage('images')">图像信息</a>
            </li>
            <li ng-if="isOperator" ng-class="{current: page === 'preferences'}">
                <a href="" ng-class="{'tab-changed': optionsInPageChanged('preferences')}" ng-click="setPage('preferences')">进阶选项</a>
            </li>
        </ul>
    </div>
    <div>
        <h1 class="font-myriad-lisong">据点信息变更函</h1>
        <h2>补充完善关于游戏的信息资料</h2>
    </div>
</div>
<form name="form" class="clearfix" ng-submit="submit(form)">
<div ng-show="page === 'basic'">
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">英文名</h3>
                <h4>
                    <span ng-if="isGame">Steam 商店中的游戏名称。</span>
                    <span ng-if="!isGame">Steam 商店中的官方名称。</span>
                </h4>
            </td>
            <td>
                <input ng-if="isOperator" name="englishName" type="text" tabindex="4" ng-model="vm.EnglishName">
                <input ng-if="!isOperator" disabled name="englishName" type="text" tabindex="4" value="{{point.EnglishName}}">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">中文名</h3>
                <h4>
                    <span>中文名称或主流译名。</span>
                </h4>
            </td>
            <td>
                <input name="chineseName" type="text" tabindex="4" ng-model="vm.ChineseName">
            </td>
        </tr>
        <tr ng-if="isGame">
            <td>
                <h3 class="font-myriad-lisong">别名</h3>
                <h4>
                    <span>次要译名和别称，用全角顿号（、）分隔多个别名。</span>
                </h4>
            </td>
            <td>
                <input name="displayAliases" type="text" tabindex="4" ng-model="vm.DisplayAliases">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">英文索引</h3>
                <h4>
                    <span>帮助快速搜索，用半角逗号（,）分隔多个索引。</span>
                </h4>
            </td>
            <td>
                <input name="englishAliases" type="text" tabindex="4" ng-model="vm.EnglishAliases">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">中文索引</h3>
                <h4>
                    <span>帮助快速搜索，用半角逗号（,）分隔多个索引。</span>
                </h4>
            </td>
            <td>
                <input name="chineseAliases" type="text" tabindex="4" ng-model="vm.ChineseAliases">
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td ng-if="isGame">
                <h3 class="font-myriad-lisong">游戏介绍</h3>
                <h4>默认抓取自 Steam 商店页面，推荐重新撰写或润色翻译，游戏介绍会显示再据点页面的顶部和悬浮卡片中。</h4>
            </td>
            <td ng-if="!isGame">
                <h3 class="font-myriad-lisong">据点介绍</h3>
                <h4>对这个据点对象的简介，介绍会显示在据点页面的顶部和悬浮卡片中。</h4>
            </td>
        </tr>
        <tr>
            <td class="description">
                <textarea name="description" ng-model="vm.Description"></textarea>
                <span class="char-count" ng-class="{error: vm.Description.length > 399}">{{vm.Description.length}}/399</span>
            </td>
        </tr>
    </table>
    <table ng-if="isGame">
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">上市日期</h3>
                <h4>
                    <span>以 Steam 平台的推出日期为准。</span>
                </h4>
            </td>
            <td>
                <input ng-if="isOperator" name="releaseDate" type="text" tabindex="4" ng-model="vm.ReleaseDate">
                <input ng-if="!isOperator" disabled name="releaseDate" type="text" tabindex="4" value="{{point.ReleaseDate | date: 'yyyy-MM-dd'}}">
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-if="isGame" ng-show="page === 'relationship'">
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">开发厂（厂商据点）</h3>
                <h4>
                    <span>抓取自商店页面，可以额外补充开发者。</span>
                </h4>
            </td>
            <td>
                <input-point type="'Manufacturer'" ng-model="inline.DeveloperPoints"></input-point>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">发行商（厂商据点）</h3>
                <h4>
                    <span>抓取自商店页面，可以额外补充发行人。</span>
                </h4>
            </td>
            <td>
                <input-point type="'Manufacturer'" ng-model="inline.PublisherPoints"></input-point>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">流派（类型据点）</h3>
                <h4>
                    <span>与商店页面的信息保持一致。</span>
                </h4>
            </td>
            <td>
                <input-point type="'Genre'" ng-model="inline.GenrePoints"></input-point>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">特性（类型据点）</h3>
                <h4>
                    <span>取自当前商店的热门标签，可以额外补充其他特性。</span>
                </h4>
            </td>
            <td>
                <input-point type="'Genre'" ng-model="inline.TagPoints"></input-point>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">系列（类型据点）</h3>
                <h4>
                    <span>游戏所属的系列或合集。</span>
                </h4>
            </td>
            <td>
                <input-point type="'Genre'" ng-model="inline.SeriesPoints"></input-point>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">平台（平台据点）</h3>
                <h4>
                    <span>默认包含 Steam ，可以额外补充其他平台。</span>
                </h4>
            </td>
            <td>
                <input-point type="'Platform'" ng-model="inline.MajorPlatformPoints"></input-point>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">次要平台（平台据点）</h3>
                <h4>
                    <span>无玩家规模、非正式移植、厂商不积极维护的平台。</span>
                </h4>
            </td>
            <td>
                <input-point type="'Platform'" ng-model="inline.MinorPlatformPoints"></input-point>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="page === 'images'">
    <table>
        <colgroup>
            <col style="width: 38%">
            <col style="width: 62%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">图标</h3>
                <h4>
                    <span>据点顶部与列表中的头像。</span>
                </h4>
                <div class="upload-avatar" ng-if="vm.AvatarImage">
                    <div class="clear-button" ng-click="vm.AvatarImage = ''"></div>
                    <img class="avatar-big" webp-src="{{vm.AvatarImage | avatarUrl:'big' }}">
                </div>
                <div class="upload-avatar" ng-if="files.avatarImage">
                    <div class="clear-button" ng-click="files.avatarImage = null"></div>
                    <div class="avatar-big" ngf-background="files.avatarImage"></div>
                </div>
                <div class="upload-avatar no-image" ng-if="!vm.AvatarImage && !files.avatarImage">
                    <h4>用胶水贴上一张照片</h4>
                    <button type="button" tabindex="5" ngf-select ngf-fix-orientation="true" ng-model="files.avatarImage" accept="image/*">胶水</button>
                </div>
            </td>
            <td ng-if="isGame">
                <h3 class="font-myriad-lisong">封面</h3>
                <h4>
                    <span>评测页面中的长方形头像。</span>
                </h4>
                <div class="upload-cover" ng-if="vm.CoverImage">
                    <div class="clear-button" ng-click="vm.CoverImage = ''"></div>
                    <img class="cover" webp-src="{{vm.CoverImage | coverUrl: 'big' }}">
                </div>
                <div class="upload-cover" ng-if="files.coverImage">
                    <div class="clear-button" ng-click="files.coverImage = null"></div>
                    <div class="cover" ngf-background="files.coverImage"></div>
                </div>
                <div class="upload-cover no-image" ng-if="!vm.CoverImage && !files.coverImage">
                    <h4>用胶水贴上一张照片</h4>
                    <button type="button" tabindex="5" ngf-select ngf-fix-orientation="true" ng-model="files.coverImage" accept="image/*">胶水</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">据点大图</h3>
                <h4>据点顶部横幅、悬浮卡片以及默认文章预览的背景图片。</h4>
                <div class="profile-point-background" ng-if="vm.BackgroundImage">
                    <div class="clear-button" ng-click="vm.BackgroundImage = ''"></div>
                    <img class="image" webp-src="{{vm.BackgroundImage | backgroundUrl}}" alt="据点横幅">
                </div>
                <div class="profile-point-background" ng-if="files.backgroundImage">
                    <div class="clear-button" ng-click="files.backgroundImage = null"></div>
                    <div class="image as-background" ngf-background="files.backgroundImage"></div>
                </div>
                <div class="profile-point-background no-image" ng-if="!vm.BackgroundImage && !files.backgroundImage">
                    <h4>用胶水贴上一张照片</h4>
                    <button type="button" tabindex="6" ngf-select ngf-fix-orientation="true" ng-model="files.backgroundImage" accept="image/*">胶水</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div ng-show="page === 'preferences'" ng-if="isOperator">
    <table>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">据点识别码</h3>
                <h4>5 位长度的自定义代码，据点链接和操作凭证。</h4>
                <div class="id-code">
                    <input-code length="5" ng-model="vm.IdCode"></input-code>
                </div>
            </td>
        </tr>
    </table>
    <table ng-if="!isGame">
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">商店匹配名</h3>
                <h4>
                    <span>抓取到这些字段时都视为此据点。</span>
                </h4>
            </td>
            <td>
                <input ng-model="vm.NameInSteamStore" type="text" tabindex="4">
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">标题语言偏好</h3>
                <h4>据点在界面中使用的主要语言，没有被选中的语言会作为次要语言显示。</h4>
                <div class="checkbox-group more clearfix">
                    <div>
                        <input type="radio" id="radio-{{uniqueIds[0]}}" name="preferred" ng-model="vm.PreferredName" ng-value="'Chinese'">
                        <label for="radio-{{uniqueIds[0]}}">中文</label>
                    </div>
                    <div>
                        <input type="radio" id="radio-{{uniqueIds[1]}}" name="preferred" ng-model="vm.PreferredName" ng-value="'English'">
                        <label for="radio-{{uniqueIds[1]}}">英文</label>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
    <button ng-if="isGame" type="submit" class="window-confirm-button" ng-disabled="submitLock">
        <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
        <img class="new-point" src="assets/images/new-point.png" alt="提交">
        <hgroup class="font-myriad-keylol">
            <h1>提交编辑函</h1>
            <h2>Submit the Editing</h2>
        </hgroup>
    </button>
    <button ng-if="!isGame" type="submit" class="window-confirm-button" ng-disabled="submitLock">
        <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
        <img class="new-point" src="assets/images/signature-pen.png" alt="提交">
        <hgroup class="font-myriad-keylol">
            <h1>编辑此据点</h1>
            <h2>Edit the Point</h2>
        </hgroup>
    </button>
<div class="tips" ng-switch="page">
    <div ng-switch-when="basic">
        <h3 class="single-line font-myriad-lisong">提示</h3>
        <h4>Tips</h4>
        <p>如果需要编辑帮助，请参阅 <a target="_blank" href="https://www.keylol.com/article/LEEEE/7">《据点信息规范手册》</a> 或通过私信联系站务职员。</p>
    </div>
    <div ng-switch-default>
        <h3 class="single-line font-myriad-lisong">提示</h3>
        <h4>Tips</h4>
        <p>在资料栏目之间切换时，更改的内容会被保留并且会有星号 (*) 标记在栏目旁。</p>
    </div>
</div>
</form>
</div>
</window>