<window position="center" class="window-sync-loading">
    <div class="window">
        <div class="heading">
            <h2 class="labeled-heading">请勿关闭或刷新页面</h2>
        </div>
        <div class="loading">
            <div class="loading-animate">
                <div class="switch" ng-if="changeFlag && animateIndex > -1">
                    <div class="wrapper">
                        <img class="icon" src="assets/images/sync-loading/{{animateGroup[animateIndex]}}1.png">
                        <img class="text" src="assets/images/sync-loading/{{animateGroup[animateIndex]}}2.png">
                    </div>
                </div>
                <div class="switch" ng-if="!changeFlag && animateIndex > -1">
                    <div class="wrapper">
                        <img class="icon" src="assets/images/sync-loading/{{animateGroup[animateIndex]}}1.png">
                        <img class="text" src="assets/images/sync-loading/{{animateGroup[animateIndex]}}2.png">
                    </div>
                </div>
            </div>
            <h1 class="font-myriad-keylol">正在生成首页并建立用户档案，请稍候。</h1>
            <h3>其乐的阅读体验会与你的 Steam 游戏纪录同步</h3>
        </div>
    </div>
</window>