.window-alpha-invitation .window {
    padding: 14px;
    width: 900px;
}

.window-alpha-invitation .error {
    color: red;
}

.window-alpha-invitation .heading {
    margin: 16px 0 28px;
}

.window-alpha-invitation .heading a {
    float: right;
    margin-top: 15px;
    color: #738a95;
}

.window-alpha-invitation table {
    margin: 28px auto;
    width: 100%;
}

.window-alpha-invitation .window .window-confirm-button {
    margin-right: -24px;
}

.window-alpha-invitation .switch-to-login {
    max-width: 570px;
    padding-top: 6px;
}

.window-alpha-invitation .switch-to-login button {
    margin-left: -19px;
}

.window-alpha-invitation .switch-to-login p {
    margin: 14px 0 0;
}