<window position="center" class="window-confirmation">
    <div class="window">
        <div class="window-exit-button" ng-click="cancel()">
            <div ng-include="'assets/images/exit.svg'"></div>
        </div>
        <img class="secret-barcode" src="assets/images/secret-barcode-login.png" alt="条形码">
        <div class="heading">
            <h1 class="font-myriad-lisong">残缺不堪的据点资料</h1>
            <h2>你可以完善未获取的信息，也可以直接开设此据点</h2>
        </div>
        <form class="clearfix" ng-submit="submit()">
            <flashing-figure stations='[
                {
                    cnName: "输入链接",
                    enName: "Link Received"
                },
                {
                    cnName: "确认据点",
                    enName: "Confirm Point"
                },
                {
                    cnName: "完成开设",
                    enName: "Finish"
                }
            ]' current="1"></flashing-figure>
            <div class="info-detail">
                <div class="right-content">
                    <div class="cover clearfix">
                        <img src="{{data.cover}}">
                    </div>
                    <p class="description">© Valve Corporation, all rights reserved. Valve, the Valve logo, Steam, the Steam logo, Source, the Source logo, Valve Source and Dota are trademarks and/or registered trademarks of Valve Corporation.</p>
                </div>
                <div class="left-content">
                    <div class="basic">
                        <div class="avatar-anchor">
                            <img class="avatar-big" src="//keylol-steam-cdn.b0.upaiyun.com/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg!medium">
                        </div>
                        <div class="name">
                            <h1>Dota2</h1>
                            <h2>中文名有待完善</h2>
                        </div>
                    </div>
                    <div class="info-attribute">
                        <p ng-repeat="attribute in data.attributes">
                            <span class="title">{{attribute.title}} ：</span>
                            <point-link ng-repeat="point in attribute.points" type="'point'" id-code="point.IdCode" point-name="'「' + utils.getPointFirstName(point) + '」'"></point-link>
                            <span>{{attribute.text}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <button type="submit" class="window-confirm-button">
                <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
                <img class="new-point" src="assets/images/new-point.png" alt="提交">
                <hgroup class="font-myriad-keylol">
                    <h1>完成开设</h1>
                    <h2>Finish</h2>
                </hgroup>
            </button>
            <div class="switch-to-edit-info">
                <button type="button" class="border-button left-border" ng-click="switchToEditInfo()">完善据点资料</button>
                <p>你可以直接完成开设，日后再回到据点页面编辑完善这些资料。</p>
            </div>
        </form>
    </div>
</window>