.window-create-point .window {
    padding: 14px;
    width: 900px;
}

.window-create-point .heading {
    margin: 16px 0 28px;
}

.window-create-point table {
    margin: 28px auto;
    width: 100%;
}

.window-create-point input-code {
    margin-left: 6px;
}

.window-create-point input-point {
    box-shadow: none;
    background: none;
    font-size: 17px;
    height: 39px;
}

.window-create-point input[type=radio] {
    margin-left: 20px;
    bottom: 1px;
}

.window-create-point input[type=radio] + label {
    padding-left: 3px;
}

.window-create-point .window .window-confirm-button {
    margin-right: -24px;
}