<window position="center" class="window-editor">
    <div class="window clearfix">
        <div class="window-exit-button" ng-click="cancel()">
            <div ng-include="'assets/images/exit.svg'"></div>
        </div>
        <form name="form" ng-submit="submit()">
            <div class="type-title">
                <div class="article-type font-myriad-keylol" popup="funcs.showSelector" ng-switch="expanded"
                     ng-click="expand($event)" ng-class="{expanded: expanded}">
                    <span class="expand-button">
                        {{expandString}}<span ng-switch-when="false">▾</span><span ng-switch-when="true">▴</span>
                    </span>
                </div>
                <span><input type="text" ng-model="vm.title" placeholder="标题"></span>
            </div>
            <div quill ng-model="vm.content"></div>
            <h3 class="labeled-heading">投稿至据点</h3>
            <!--<input type="text" placeholder="最多可以同时推送至五个据点，每篇文章都会自动发布在你的个人据点中" ng-model="">-->
            <input-point ng-model="vm.selector" placeholder="'最多可以同时投稿至 5 个据点，个人据点会自动记录你发布的所有文章'"></input-point>
            <h3 class="labeled-heading" ng-if="allowVote">评价游戏</h3>
            <div class="pad-right" ng-if="allowVote">
                <!--<input type="text" placeholder="选择一个游戏据点作为评价对象">-->
                <input-point ng-model="vm.voteForPoint" placeholder="'选择一个游戏据点作为评价对象'"></input-point>
                <div class="right-content">
                    <span>
                        <input type="radio" id="radio-{{radioId[0]}}" ng-model="vm.vote" ng-value="0" name="vote"><label for="radio-{{radioId[0]}}">好评</label>
                        <input type="radio" id="radio-{{radioId[1]}}" ng-model="vm.vote" ng-value="1" name="vote"><label for="radio-{{radioId[1]}}">差评</label>
                        <input type="radio" id="radio-{{radioId[2]}}" ng-model="vm.vote" ng-value="2" name="vote" checked><label for="radio-{{radioId[2]}}">中立</label>
                    </span>
                </div>
            </div>
            <!--<h3 class="labeled-heading">推荐阅读链接</h3>-->
            <!--<div class="pad-right">-->
                <!--<input type="text" class="pad-right" name="point" ng-model="vm.point" placeholder="如果希望推荐一篇其他其乐文章给读者扩展阅读，可以粘贴文章链接 (URL) 在这里">-->
                <!--<div class="right-content">-->
                    <!--<span class="left-align" ng-if="form.point.$dirty"><a href="test">德军总部：新秩序 单人剧情视频</a></span>-->
                <!--</div>-->
            <!--</div>-->
            <button type="submit" class="window-confirm-button">
                <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
                <img class="signature-pen" src="assets/images/signature-pen.png" alt="提交">
                <hgroup class="font-myriad-keylol">
                    <h1>发布文章</h1>
                    <h2>Publish the Article</h2>
                </hgroup>
            </button>
            <div class="save-draft">
                <button type="button" class="border-button left-border" ng-click="saveDraft()">保存草稿</button>
                <span ng-if="vm.saveTime">自动保存于 <span am-time-ago="vm.saveTime"></span></span>
                <p>草稿将保存在本地浏览器缓存中，并在下次打开编辑框时自动加载。</p>
            </div>
        </form>
    </div>
</window>