<window position="center" class="window-editor">
    <div class="window clearfix">
        <div class="window-exit-button" ng-click="cancel()">
            <div ng-include="'assets/images/exit.svg'"></div>
        </div>
        <form name="form" ng-submit="submit()">
            <div class="type-title">
                <div class="article-type font-myriad-keylol" popup="inline.showSelector" ng-switch="expanded"
                     ng-click="expand($event)" ng-class="{expanded: expanded}">
                    <span class="expand-button">
                        {{articleTypes[selectedTypeIndex].name}}<span ng-switch-when="false">▾</span><span ng-switch-when="true">▴</span>
                    </span>
                </div>
                <span><input type="text" ng-model="vm.Title" placeholder="标题"></span>
            </div>
            <div simditor="editorOptions" ng-model="vm.Content"></div>
            <h3 class="labeled-heading">投稿至据点</h3>
            <input-point ng-model="inline.attachedPoints" placeholder="'最多可以同时投稿至 5 个据点，个人据点会自动记录你发布的所有文章'"></input-point>
            <h3 class="labeled-heading" ng-if="articleTypes[selectedTypeIndex].allowVote">评价游戏</h3>
            <div class="pad-right" ng-if="articleTypes[selectedTypeIndex].allowVote">
                <input-point ng-model="inline.voteForPoints" placeholder="'选择一个游戏据点作为评价对象'"></input-point>
                <div class="right-content">
                    <span>
                        <input type="radio" id="radio-{{radioId[0]}}" ng-model="vm.Vote" ng-value="'Positive'" name="vote"><label for="radio-{{radioId[0]}}">好评</label>
                        <input type="radio" id="radio-{{radioId[1]}}" ng-model="vm.Vote" ng-value="'Negative'" name="vote"><label for="radio-{{radioId[1]}}">差评</label>
                        <input type="radio" id="radio-{{radioId[2]}}" ng-model="vm.Vote" ng-value="null" name="vote"><label for="radio-{{radioId[2]}}">中立</label>
                    </span>
                </div>
            </div>
            <button type="submit" class="window-confirm-button">
                <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
                <img class="signature-pen" src="assets/images/signature-pen.png" alt="提交">
                <hgroup class="font-myriad-keylol">
                    <h1>发布文章</h1>
                    <h2>Publish the Article</h2>
                </hgroup>
            </button>
            <div class="save-draft">
                <button type="button" class="border-button left-border" ng-click="saveDraft()">保存草稿</button>
                <span ng-if="lastSaveTime">自动保存于<span am-time-ago="lastSaveTime"></span></span>
                <p>草稿将保存在本地浏览器缓存中，并在下次打开编辑框时自动加载。</p>
            </div>
        </form>
    </div>
</window>