.window-editor .window {
    padding: 20px 0 30px;
    width: 884px;
}

.window-editor .ql-container {
    height: 300px;
    margin: 0 14px;
}

.window-editor input[type=text],
.window-editor input-point {
    width: calc(100% - 28px);
    box-sizing: border-box;
    margin-left: 14px;
}

.window-editor .type-title {
    position: relative;
}

.window-editor .article-type {
    font-size: 19px;
    background: #738a95 no-repeat;
    color: white;
    position: absolute;
    height: 100%;
    width: 70px;
    left: -5px;
    cursor: pointer;
}

.window-editor .article-type:hover {
    background-color: #889ba5;
}

.window-editor .article-type.expanded, .window-editor .article-type.expanded:hover {
    background-color: #11254A;
}

.window-editor .article-type::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 4px;
    z-index: -1;
    box-shadow: 0 0 2px #B8BABB;
    transform: rotate(45deg);
    transform-origin: bottom left;
    background-color: #d9d9d9;
}

.window-editor .article-type .expand-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window-editor .article-type .expand-button a {
    color: white;
}

.window-editor .article-type + span {
    display: block;
    overflow: hidden;
    padding: 2px 28px 2px 65px;
}

.window-editor .article-type + span input {
    width: 100%;
}

.window-editor form h3 {
    margin: 19px 0 11px;
}

.window-editor form h3:first-of-type {
    margin-top: 29px;
}

.window-editor .pad-right {
    position: relative;
}

.window-editor .pad-right input[type=text] {
    width: calc(100% - 296px);
}

.window-editor .pad-right input-point {
    width: calc(100% - 296px);
}

.window-editor .pad-right .right-content {
    position: absolute;
    right: 14px;
    top: 0;
    height: 100%;
    width: 254px;
}

.window-editor .pad-right label {
    margin: 0 26px 0 4px;
    font-size: 15px;
}

.window-editor .pad-right label:last-of-type {
    margin-right: 0;
}

.window-editor .pad-right .right-content span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window-editor .pad-right .right-content span.left-align {
    left: 0;
    right: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translateY(-50%);
}

.window-editor .window-confirm-button {
    margin-top: 40px;
}

.window-editor .save-draft {
    max-width: 570px;
    padding-top: 44px;
}

.window-editor .save-draft button {
    margin-left: -5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAIVBMVEUAAAD////////////////+/v7+/v7+/v7+/v7+/v7///92EJ5ZAAAACnRSTlMAFCBAgI+fq7ffnxGb6AAAAEpJREFUeNrt0rEKACAIRdGyeqX//8G1BTZITQ3vDELCXaREFFMzq0nWlL2s66kMfJAB5JvAiYITAwZvQRenBQFuf+soDn69ElFoAjToFA1LQoTVAAAAAElFTkSuQmCC);
    padding-left: 22px;
}

.window-editor .save-draft span {
    color: #738a95;
    margin-left: 6px;
}

.window-editor .save-draft p {
    margin: 14px 14px 0;
}