<window position="center" class="window-point-settings">
<div class="window">
<div class="window-exit-button" ng-click="cancel()">
    <div ng-include="'assets/images/exit.svg'"></div>
</div>
<img class="secret-barcode" src="assets/images/secret-barcode-registration.png" alt="条形码">
<div class="heading">
    <div class="menu-right">
        <ul class="list-inline">
            <li ng-class="{current: page === 'basic'}">
                <a href="" ng-class="{'tab-changed': optionsInPageChanged('basic'), 'tab-error': optionsInPageError('basic')}" ng-click="setPage('basic')">基础资料</a>
            </li>
            <li ng-class="{current: page === 'platform'}">
                <a href="" ng-class="{'tab-changed': optionsInPageChanged('platform'), 'tab-error': optionsInPageError('platform')}" ng-click="setPage('platform')">关联据点</a>
            </li>
            <li ng-class="{current: page === 'security'}">
                <a href="" ng-class="{'tab-changed': optionsInPageChanged('security'), 'tab-error': optionsInPageError('security')}" ng-click="setPage('security')">图像信息</a>
            </li>
            <li ng-class="{current: page === 'preferences'}">
                <a href="" ng-class="{'tab-changed': optionsInPageChanged('preferences'), 'tab-error': optionsInPageError('preferences')}" ng-click="setPage('preferences')">进阶选项</a>
            </li>
        </ul>
    </div>
    <div class="font-myriad-lisong">
        <h1>据点信息变更函</h1>
        <h2>补充完善关于游戏的信息资料</h2>
    </div>
</div>
<form name="form" class="clearfix" ng-submit="submit(form)">
<div ng-show="page === 'basic'">
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">英文名</h3>
                <h4>
                    <span>Steam 商店中的游戏名称。</span>
                </h4>
            </td>
            <td>
                <input value="Dota2" type="text" tabindex="4">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">中文名</h3>
                <h4>
                    <span>中文名称或主流译名。</span>
                </h4>
            </td>
            <td>
                <input name="email" type="email" tabindex="4" ng-model="vm.Email">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">别名</h3>
                <h4>
                    <span>次要译名和别称，用全角顿号（、）分隔多个别名。</span>
                </h4>
            </td>
            <td>
                <input name="email" type="email" tabindex="4" ng-model="vm.Email">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">英文索引</h3>
                <h4>
                    <span>帮助快速搜索，用半角逗号（,）分隔多个索引。</span>
                </h4>
            </td>
            <td>
                <input name="email" type="email" tabindex="4" ng-model="vm.Email">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">中文文索引</h3>
                <h4>
                    <span>帮助快速搜索，用半角逗号（,）分隔多个索引。</span>
                </h4>
            </td>
            <td>
                <input name="email" type="email" tabindex="4" ng-model="vm.Email">
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">游戏介绍</h3>
                <h4>默认抓取自 Steam 商店页面，推荐重新撰写或润色翻译，游戏介绍会显示再据点页面的顶部和悬浮卡片中。</h4>
            </td>
        </tr>
        <tr>
            <td class="description">
                <textarea></textarea>
            </td>
        </tr>
    </table>
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">上市日期</h3>
                <h4>
                    <span>以 Steam 平台的推出日期为准。</span>
                </h4>
            </td>
            <td>
                <input value="2013-7-9" type="text" tabindex="4">
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="page === 'platform'">
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">开发厂（厂商据点）</h3>
                <h4>
                    <span>抓取自商店页面，可以额外补充开发者。</span>
                </h4>
            </td>
            <td>
                <input-point ng-model="attachedPoints"></input-point>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">发行商（厂商据点）</h3>
                <h4>
                    <span>抓取自商店页面，可以额外补充发行人。</span>
                </h4>
            </td>
            <td>
                <input-point ng-model="attached"></input-point>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">流派（类型据点）</h3>
                <h4>
                    <span>与商店页面的信息保持一致。</span>
                </h4>
            </td>
            <td>
                <input-point ng-model="attachedPoints"></input-point>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">特性（类型据点）</h3>
                <h4>
                    <span>取自当前商店的热门标签，可以额外补充其他特性。</span>
                </h4>
            </td>
            <td>
                <input-point ng-model="attached"></input-point>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">系列（类型据点）</h3>
                <h4>
                    <span>游戏所属的系列或合集。</span>
                </h4>
            </td>
            <td>
                <input-point ng-model="attached"></input-point>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <colgroup>
            <col style="width: 36%">
            <col style="width: 64%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">平台（平台据点）</h3>
                <h4>
                    <span>默认包含 Steam ，可以额外补充其他平台。</span>
                </h4>
            </td>
            <td>
                <input-point ng-model="attachedPoints"></input-point>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">次要平台（平台据点）</h3>
                <h4>
                    <span>无玩家规模、非正式移植、厂商不积极维护的平台。</span>
                </h4>
            </td>
            <td>
                <input-point ng-model="attached"></input-point>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="page === 'security'">
    <table>
        <colgroup>
            <col style="width: 38%">
            <col style="width: 62%">
        </colgroup>
        <tbody>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">当前登录口令</h3>
                <h4 ng-switch="errorDetect.password(error['vm.Password'])">
                    <span class="error" ng-switch-when="empty">如需更改当前口令或调整登录保护，请填写登录口令。</span>
                    <span class="error" ng-switch-when="incorrect">登录口令不正确。</span>
                    <span ng-switch-default>若不更改当前口令或调整登录保护，请留空此栏。</span>
                </h4>
            </td>
            <td>
                <input type="password" ng-model="vm.Password">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">新登录口令</h3>
                <h4 ng-switch="errorDetect.password(error['vm.NewPassword'])">
                    <span class="error" ng-switch-when="length">密码需要至少长 6 位。</span>
                    <span ng-switch-default>拉丁字母、数字、字符，大小写敏感，至少 6 位。</span>
                </h4>
            </td>
            <td>
                <input type="password" ng-model="vm.NewPassword">
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">确认新登录口令</h3>
                <h4 ng-switch="error['vm.ConfirmPassword']">
                    <span class="error" ng-switch-when="not match">密码不匹配。</span>
                    <span ng-switch-default>再次输入你的登录口令，以避免输入失误。</span>
                </h4>
            </td>
            <td>
                <input type="password" ng-model="vm.ConfirmPassword">
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">登录保护</h3>
                <h4>如果开启此项，使用口令登录失败连续十次时，将锁定登录三十分钟。关闭登录保护时，需要在上方栏目输入当前口令。</h4>
                <div class="checkbox-group more clearfix">
                    <div>
                        <input type="radio" id="radio-{{uniqueIds[10]}}" name="vote" ng-model="vm.LockoutEnabled" ng-value="true">
                        <label for="radio-{{uniqueIds[10]}}">开启</label>
                    </div>
                    <div>
                        <input type="radio" id="radio-{{uniqueIds[11]}}" name="vote" ng-model="vm.LockoutEnabled" ng-value="false">
                        <label for="radio-{{uniqueIds[11]}}">关闭</label>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">人机验证</h3>
                <h4 ng-class="{error: error.authCode}">更改安全设定时需要进行人机验证。</h4>
                <div id="geetest-{{geetestId}}"></div>
            </td>
        </tr>
    </table>
</div>
<div ng-show="page === 'preferences'">
    <table>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">邮件订阅（功能暂未开放）</h3>
                <h4>可以通过邮件订阅掌握其乐账户的日常动态。</h4>
                <div class="checkbox-group clearfix">
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[12]}}" ng-model="vm.EmailNotifyOnArticleReplied">
                        <label for="settings-checkbox-{{uniqueIds[12]}}">文章被回复</label>
                    </div>
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[13]}}" ng-model="vm.EmailNotifyOnCommentReplied">
                        <label for="settings-checkbox-{{uniqueIds[13]}}">评论被回复</label>
                    </div>
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[14]}}" ng-model="vm.EmailNotifyOnEditorRecommended">
                        <label for="settings-checkbox-{{uniqueIds[14]}}">编辑推荐</label>
                    </div>
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[15]}}" ng-model="vm.EmailNotifyOnMessageReceived">
                        <label for="settings-checkbox-{{uniqueIds[15]}}">站内简讯</label>
                    </div>
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[16]}}" ng-model="vm.EmailNotifyOnAdvertisement">
                        <label for="settings-checkbox-{{uniqueIds[16]}}">商业广告（不推荐）</label>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <h3 class="font-myriad-lisong">简讯通知</h3>
                <h4>每当账户有以下动态，你会收到站内简讯通知。</h4>
                <div class="checkbox-group clearfix">
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[17]}}" ng-model="vm.MessageNotifyOnArticleReplied">
                        <label for="settings-checkbox-{{uniqueIds[17]}}">文章被回复</label>
                    </div>
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[18]}}" ng-model="vm.MessageNotifyOnCommentReplied">
                        <label for="settings-checkbox-{{uniqueIds[18]}}">评论被回复</label>
                    </div>
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[19]}}" ng-model="vm.MessageNotifyOnEditorRecommended">
                        <label for="settings-checkbox-{{uniqueIds[19]}}">编辑推荐</label>
                    </div>
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[20]}}" ng-model="vm.MessageNotifyOnArticleLiked">
                        <label for="settings-checkbox-{{uniqueIds[20]}}">文章被认可</label>
                    </div>
                    <div>
                        <input type="checkbox" id="settings-checkbox-{{uniqueIds[21]}}" ng-model="vm.MessageNotifyOnCommentLiked">
                        <label for="settings-checkbox-{{uniqueIds[21]}}">评论被认可</label>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<button type="submit" class="window-confirm-button">
    <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
    <img class="new-point" src="assets/images/new-point.png" alt="提交">
    <hgroup class="font-myriad-keylol">
        <h1>提交编辑函</h1>
        <h2>Submit the Editing</h2>
    </hgroup>
</button>
<div class="tips" ng-switch="page">
    <div ng-switch-when="basic">
        <h3 class="single-line font-myriad-lisong">提示</h3>
        <h4>Tips</h4>
        <p>如果需要编辑帮助，请参阅 《据点信息规范手册》 或通过私信联系站务职员。</p>
    </div>
    <div ng-switch-default>
        <h3 class="single-line font-myriad-lisong">提示</h3>
        <h4>Tips</h4>
        <p>在资料栏目之间切换时，更改的内容会被保留并且会有星号 (*) 标记在栏目旁。</p>
    </div>
</div>
</form>
</div>
</window>