<window position="center" class="window-registration">
    <div class="window">
        <div class="window-exit-button" ng-click="cancel()">
            <div ng-include="'assets/images/exit.svg'"></div>
        </div>
        <img class="secret-barcode" src="assets/images/secret-barcode-registration.png" alt="条形码">
        <div class="heading font-myriad-lisong">
            <img src="assets/images/logo-mono.svg" alt="Logo">
            <h1>会员注册表单</h1>
            <h2>Membership Application Form</h2>
        </div>
        <form class="clearfix" ng-submit="submit()">
            <table>
                <colgroup>
                    <col style="width: 38%">
                    <col style="width: 2%;">
                    <col style="width: 60%">
                </colgroup>
                <tbody>
                <tr>
                    <td>
                        <h3 class="font-myriad-lisong">连接游戏平台</h3>
                        <h4 ng-switch="errorDetect.steamBindingTokenId(error['vm.SteamBindingTokenId'])">
                            <span class="error" ng-switch-when="empty">您必须绑定一个 Steam 账户才可以注册成为其乐用户。</span>
                            <span ng-switch-default>绑定 Steam 平台的有效账户。</span>
                        </h4>
                        <div class="platform">
                            <a class="go-binding-anchor" href="" ng-click="showSteamConnectWindow()">
                                <img src="assets/images/steam-circle-mono.png" alt="绑定 Steam">
                                <span>Steam</span>
                            </a>
                            <div class="pasted-card box-shadowed" ng-if="vm.SteamBindingTokenId">
                                <img class="needle" src="assets/images/card-needle.png" alt="订书针">
                                <div>
                                    <img class="avatar-small" webp-src="{{vm.AvatarImage | avatarUrl}}" alt="Steam">
                                    <div>
                                        <h5>已连接 <a class="clear-button" href="" ng-click="discardBinding()">×</a></h5>
                                        <h5>{{vm.SteamProfileName}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="id-code-left-spacing"></td>
                    <td>
                        <!--<a class="generate-id-code" href="">没兴趣自定义？自动生成！</a>-->
                        <h3 class="font-myriad-lisong">用户识别码</h3>
                        <h4 ng-switch="errorDetect.idCode(error['vm.IdCode'])">
                            <span class="error" ng-switch-when="format">仅限使用字母、数字。</span>
                            <span class="error" ng-switch-when="used">这个代码已经被别人使用。</span>
                            <span ng-switch-default>五位长度的自定义代码，社区用户的永久身份凭证。</span>
                        </h4>
                        <div class="id-code">
                            <input-code length="5" ng-model="vm.IdCode"></input-code>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <colgroup>
                    <col style="width: 38%">
                    <col style="width: 62%">
                </colgroup>
                <tbody>
                <tr>
                    <td>
                        <h3 class="font-myriad-lisong">昵称</h3>
                        <h4 ng-switch="errorDetect.username(error['vm.UserName'])">
                            <span class="error" ng-switch-when="used">这个昵称已被别人使用。</span>
                            <span class="error" ng-switch-when="format">仅限使用字母、数字、汉字。</span>
                            <span class="error" ng-switch-when="length">仅限 3-16 字节。</span>
                            <span ng-switch-default>展现在日常界面中，不可与他人重复。</span>
                        </h4>
                    </td>
                    <td>
                        <input type="text" ng-model="vm.UserName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 class="font-myriad-lisong">登录口令</h3>
                        <h4 ng-switch="errorDetect.password(error['vm.Password'])">
                            <span class="error" ng-switch-when="length">密码需要至少长 6 位。</span>
                            <span ng-switch-default>由至少6位的字母、数字、符号组成。</span>
                        </h4>
                    </td>
                    <td>
                        <input type="password" ng-model="vm.Password">
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td>
                        <h3 class="font-myriad-lisong">人机验证</h3>
                        <h4 ng-class="{error: error.authCode}">拖动滑块并完成拼图，协助我们抵御恶意攻击。</h4>
                        <div id="geetest-{{geetestId}}"></div>
                    </td>
                </tr>
            </table>
            <button type="submit" class="window-confirm-button">
                <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
                <img class="signature-pen" src="assets/images/signature-pen.png" alt="提交">
                <hgroup class="font-myriad-keylol">
                    <h1>提交注册申请</h1>
                    <h2>Submit the Application</h2>
                </hgroup>
            </button>
            <div class="declaration">
                <h3 class="single-line font-myriad-lisong">守则</h3>
                <h4>Terms and Conditions</h4>
                <p>申请人已悉知并同意遵循《其乐社区用户通用守则》以及所在地区的相关法律。</p>
            </div>
        </form>
    </div>
</window>