.window-short-review .window {
    padding: 20px 0 30px;
    width: 600px;
}

.window-short-review .short-header {
    margin: 0 14px 20px 14px;
}

.window-short-review .short-header .point-cover {
    width: 120px;
    height: 45px;
    display: inline-block;
    vertical-align: top;
}

.window-short-review .short-header .title {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.window-short-review .short-header .title h4 {
    margin: 2px 0;
}

.window-short-review .short-header .title h4 span {
    color: #11254A;
    font-weight: bold;
}

.window-short-review .short-header .title p {
    color: #C7CDD1;
    margin: 0;
}

.window-short-review .short-header point-review {
    float: right;
}

.window-short-review .short-content {
    margin-left: 14px;
    width: calc(100% - 44px);
    max-width: calc(100% - 44px);
    height: 72px;
}

.window-short-review .char-count {
    margin-right: 14px;
    text-align: right;
    display: block;
    color: #c7cdd1;
}

.window-short-review .char-count.error {
    color: #e30613;
}

.window-short-review .window-confirm-button {
    margin-top: 20px;
}

.window-short-review .change-to-long {
    max-width: 570px;
    padding-top: 20px;
}

.window-short-review .change-to-long button {
    margin-left: -5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAABIFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9zlAINAAAAX3RSTlMAAQIDBgcICgsPFBkbHh8gIiMlJywxNjg7PUNFRkhJSk5UVVhgYWtwdHd4fYCJjJ2fo6SlpqmusbK0uLu9xcvQ0tTV1tjZ3N3e3+Dh5efo6uvs7e7v8/T1+Pn6+/z9/iKJKIMAAAEaSURBVHja7dDZUsIwFIDhuOFKAcEd3FBxRUWtCigusVo3CFBsIc15/7eQcXrRzLThOMMdfJdn8s9JQoYG0OSxDX50gagdSOcFQGleHTDw+7lvwM2cMgBJffUE4HwaH7QXp0oA+TF04GZJ8gFgHx10tghZ+gCexQZ8uzvarEF1Bb+ha8eCx2Vc4Kz/DXe/4BW5YW82lkhoM2cdwAWiaryZpvn87SICWXggWrTyJKvQlggP3HIqnpTFU2XFlbgeMNW5YkMxFtVkUa2o2CAsg77IqGGJfv5Su8nqHlZzegfu3UY640mv3fYO+CXxySOC68jouGeEnCKu9KkXrjyFi3fEo//5SwyCsbAgZ0MQOxcWRI6cgPPO4QQZGkC/Xci9VXcR3oIAAAAASUVORK5CYII=);
    padding-left: 22px;
}

.window-short-review .change-to-long span {
    color: #738a95;
    margin-left: 6px;
}

.window-short-review .change-to-long p {
    margin: 14px 14px 0;
}