<kl-modal position="center" class="modal-steam-connect">
    <div class="modal-window clearfix">
        <div class="modal-exit-button" ng-click="cancel()">
            <div ng-include="'assets/images/exit.svg'"></div>
        </div>
        <div class="content">
            <div class="heading">
                <h1 class="font-myriad-lisong">平台连接向导</h1>
                <h2>绑定 Steam 账户只需轻松两步</h2>
            </div>
            <div class="steps clearfix">
                <div class="step">
                    <img src="assets/images/connect-step-one.png">
                    <div class="step-description">
                        <h3>添加其乐机器人为 Steam 好友</h3>
                        <h4>一键<a href="test">添加</a>好友 / 在<a href="test">资料页</a>添加</h4>
                    </div>
                </div>
                <div class="step">
                    <img src="assets/images/connect-step-two.png">
                    <div class="step-description">
                        <h3>发送绑定验证码「<span class="auth-code">HZDK5870</span>」</h3>
                        <h4>一键<a href="test">发起</a>对话 / 手动打开窗口</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</kl-modal>