.window-steam-connect .window {
    width: 1024px;
}

.window-steam-connect .content {
    border: 4px solid transparent;
    border-image: url(../../assets/images/border-slash.png) 30 round;
}

.window-steam-connect .heading {
    padding: 20px 0 30px 20px;
}

.window-steam-connect .steps {
    background-color: white;
    padding: 8px 5%;
}

.window-steam-connect .steps .step {
    width: 50%;
    float: left;
    text-align: center;
}

.window-steam-connect .step img {
    vertical-align: middle;
    margin-right: 18px;
}

.window-steam-connect .steps .step-description {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.window-steam-connect .step-description h3 {
    font-size: 18px;
    font-weight: normal;
    color: #57bae8;
}

.window-steam-connect .step-description a {
    color: #748a97;
}

.window-steam-connect .step-description .auth-code {
    font-weight: bold;
    text-decoration: underline;
    color: #333;
}

.window-steam-connect flashing-figure {
    margin: 43px 0 27px;
}