<window position="center" class="window-synchronization">
    <div class="window">
        <div class="window-exit-button" ng-click="cancel()">
            <div ng-include="'assets/images/exit.svg'"></div>
        </div>
        <div class="heading">
            <h4>首次进入其乐时，同步订阅会为你发现感兴趣的信息</h4>
            <h2 ng-if="hasPoint" class="labeled-heading">你的据点订阅已与 Steam 动态同步</h2>
            <h2 ng-if="!hasPoint" class="labeled-heading">未能进行同步订阅</h2>
        </div>
        <ul class="types" ng-if="hasPoint">
            <li>
                <p>游戏据点 - 在档时间最长</p>
                <ul class="points clearfix">
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                </ul>
            </li>
            <li>
                <p>游戏据点 - 最近游戏</p>
                <ul class="points clearfix">
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                </ul>
            </li>
            <li>
                <p>类型据点</p>
                <ul class="points clearfix">
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                </ul>
            </li>
            <li>
                <p>厂商据点</p>
                <ul class="points clearfix">
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                    <li>
                        <point-link type="'point'" avatar-url="'keylol://37ba4e25767b3b4c1417f4c625e88492.jpg'" id-code="'DOTA2'" ></point-link>
                        <div class="title">
                            <p>
                                <point-link type="'point'" point-name="'Dota2'" id-code="'DOTA2'" ></point-link>
                            </p>
                            <p>刀塔</p>
                        </div>
                        <a class="delete" href="" ng-click="">退订</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div ng-if="!hasPoint" class="cannot-sync">
            <img src="assets/images/flash-bang.png">
            <h1 class="font-myriad-keylol">你的资料设定太瞎了，获取不到个人动态了！</h1>
            <h3>若不启用同步订阅，其乐的阅读体验将大打折扣</h3>
        </div>
        <button  class="window-confirm-button">
            <img class="arrow-right" src="assets/images/arrow-right.png" alt="下一步">
            <img class="new-point" src="assets/images/new-point.png" alt="提交">
            <hgroup ng-if="hasPoint" class="font-myriad-keylol">
                <h1>确认同步</h1>
                <h2>Confirming Sync</h2>
            </hgroup>
            <hgroup ng-if="!hasPoint" class="font-myriad-keylol">
                <h1>跳过同步</h1>
                <h2>Skipping Sync</h2>
            </hgroup>
        </button>
        <div ng-if="hasPoint" class="cancel-synchronization">
            <button type="button" class="border-button left-border" ng-click="">撤销本次同步</button>
            <p>鼠标滑过可以单独退订某个据点；在设置表单中可以关闭订阅同步。</p>
        </div>
        <div ng-if="!hasPoint" class="retry-synchronization">
            <button type="button" class="border-button left-border" ng-click="">重新同步</button>
            <p>在 Steam 隐私页面 设置资料状态为「仅限好友」或「公开」后重新同步。</p>
        </div>
    </div>
</window>