<popup class="popup-article-selector">
    <div class="selector-container">
        <div class="arrow-down"></div>
        <div class="selector-main box-shadowed-deeper">
            <ul>
                <li ng-click="changeSelector($index)" ng-repeat="articleType in articleTypeArray">
                    <span ng-class="{active: typeOptions[$index]}" class="font-myriad-keylol">{{articleType.Name}}</span><!--
                    --><p>{{articleType.Description}}</p>
                </li>
            </ul>
        </div>
    </div>
</popup>