.popup-entry-filter {
    overflow: hidden;
    padding-right: 5px;
    padding-bottom: 5px;
}

.popup-entry-filter.ng-enter {
    transition-duration: 3s;
}

.popup-entry-filter.ng-leave {
    transition-duration: 2s;
}

.popup-entry-filter.ng-enter .filter-container {
    transform: translateY(-100%);
    opacity: 0;
}

.popup-entry-filter.ng-enter-active .filter-container {
    transform: translateY(0);
    opacity: 1;
    transition: 2s;
}

.popup-entry-filter.ng-leave .filter-container {
    transform: translateY(-100%);
    opacity: 0;
    transition: 2s;
}

.popup-entry-filter.ng-enter .arrow-down {
    transform: translateY(-100%);
}

.popup-entry-filter.ng-enter-active .arrow-down {
    transform: translateY(0);
    transition: 1s 2s;
}

.popup-entry-filter .arrow-down {
    margin: 0 0 9px 194px;
}

.popup-entry-filter .filter-main {
    background-color: white;
    position: relative;
}

.popup-entry-filter .filter-main button {
    position: absolute;
    right: 10px;
    bottom: -5px;
}

.popup-entry-filter .filter-main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-entry-filter .filter-main ul::before {
    width: 25px;
    height: 8px;
    background: #11254A;
    display: block;
    content: "";
    margin-left: 42px;
}

.popup-entry-filter .filter-main ul::after {
    width: 25px;
    height: 22px;
    background: #11254A;
    display: block;
    content: "";
    margin-left: 42px;
}

.popup-entry-filter .filter-main ul li {
    padding: 0 20px;
    position: relative;
    cursor: default;
}

.popup-entry-filter .filter-main ul li:hover {
    background: #eef1f3;
}

.popup-entry-filter .filter-main ul li input {
    width: 13px;
    height: 13px;
}

.popup-entry-filter .filter-main ul li span {
    display: inline-block;
    width: 25px;
    background: transparent;
    color: #11254A;
    text-align: center;
    font-size: 18px;
    margin: 0 9px;
    padding: 3px 0;
}

.popup-entry-filter .filter-main ul li span.active {
    background: #11254a;
    color: white;
}

.popup-entry-filter .filter-main ul li p {
    display: inline-block;
    margin: 0;
}