<popup class="popup-operation-feedback" ng-class="data.type">
    <div class="feedback-content">
        <div class="right-content">
            <p class="main-text">{{data.mainText}}</p>
            <div class="action-content" ng-if="data.actions">
                <a class="action" ng-repeat="action in data.actions" ng-click="close()" href="">>{{action.text}}</a>
            </div>
        </div>
        <div class="left-content clearfix">
            <div class="image"></div>
            <div class="title">
                <span class="main-title">{{data.mainTitle}}</span><span class="sub-title">{{data.subTitle}}</span>
            </div>
        </div>
    </div>
</popup>