<popup class="popup-point-selector">
    <div class="selector-main box-shadowed-deeper">
        <ul>
            <li ng-repeat="point in pointArray" ng-click="selectPoint($event)" class="clearfix" ng-class="{selected: point.selected}" ng-mouseenter="changeSelector($index)">
                <div class="avatar-anchor">
                    <img class="avatar-small" ng-src="{{point.AvatarImage|avatarUrl:'small'}}">
                </div>
                <div class="title">
                    <p>{{point.ChineseName|maxLength: 15}}</p>
                    <p><span>[{{point.type}}]</span>{{point.EnglishName|maxLength: 15}}</p>
                </div>
            </li>
        </ul>
    </div>
</popup>