<popup class="popup-point-preview-card" ng-class="{loading: loading}">
    <div class="arrow-up"></div>
    <div class="card-main box-shadowed-deeper" ng-switch="loading">
        <div class="background" webp-background="{{data.background}}" ng-switch-when="false"></div>
        <div class="content">
            <button class="border-button bottom-border"  ng-class="data.action.extraClass" ng-switch-when="false">{{data.action.text}}</button>
            <div class="loading-gif" ng-switch-when="true" style="background-image: url('assets/images/loading.gif');"></div>
            <div class="avatar-anchor" ng-switch-when="false">
                <img class="avatar-big" ng-src="{{data.avatar}}">
            </div>
            <div class="heading" ng-switch-when="false">
                <h1>{{data.head.mainHead}}</h1>

                <h2>{{data.head.subHead}}</h2>
            </div>
            <div class="summary">
                <span class="loading-summary" ng-switch-when="true">加载中</span>
                <span class="left-summary" ng-switch-when="false">{{data.pointSum.type}}据点</span>
                <span class="right-summary" ng-switch-when="false">{{data.pointSum.readerNum}} 名读者 / {{data.pointSum.articleNum}} 篇文章</span>
            </div>
        </div>
    </div>
</popup>